apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "minio-certificate-{{ minio_instance_name }}"
  namespace: "{{ minio_namespace }}"
spec:
  secretName: "minio-certificate-{{ minio_instance_name }}"
  duration: "175200h0m0s"
  renewBefore: "2160h0m0s"
  commonName: "minio"
  dnsNames:
    - "{{ minio_instance_name }}-{{ minio_namespace }}.{{ cluster_domain }}"
    - "*.{{ minio_instance_name }}-{{ minio_namespace }}.{{ cluster_domain }}"
  usages:
    - cert sign
    - digital signature
    - key encipherment
    - server auth
  issuerRef:
    name: "minio-ca-issuer"
    kind: "Issuer"
