apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ minio_instance_name }}-tls"
  namespace: "{{ minio_namespace }}"
spec:
  secretName: minio-server-secret
  duration: "175200h"
  renewBefore: "2160h"
  commonName: "ca.minio"
  isCA: true
  keyAlgorithm: rsa
  keySize: 4096
  keyEncoding: pkcs8
  usages:
    - cert sign
    - digital signature
    - key encipherment
    - server auth
  issuerRef:
    name: "{{ cert_issuer_name }}"
    kind: "{{ cert_issuer_kind | default('ClusterIssuer') }}"
