---
apiVersion: apps.mas.ibm.com/v1
kind: AiBrokerApp
metadata:
    name: "{{ mas_instance_id }}"
    namespace: "{{ aibroker_namespace }}"
    labels:
        mas.ibm.com/applicationId: aibroker
        mas.ibm.com/instanceId: "{{ mas_instance_id }}"
spec: 
    bindings: {}
        # jdbc: system
