---
apiVersion: apps.mas.ibm.com/v1
kind: AiBrokerWorkspace
metadata:
    name: "{{ mas_instance_id }}"
    namespace: "{{ aibroker_namespace }}"
    labels:
        mas.ibm.com/applicationId: aibroker
        mas.ibm.com/instanceId: "{{ mas_instance_id }}"
spec:
    settings:
        icr:
            cp: "{{ mas_icr_cp }}"
            cpopen: "{{ mas_icr_cpopen }}"
        dro:
            url: "{{ drocfg.url }}"
            dro_token_secret: "{{ mas_aibroker_dro_token_secret }}"
            ca: "{{ drocfg.ca }}"
        jdbc:
            url: "{{ jdbccfg.url }}"
            credentials_secret: "{{ mas_aibroker_jdbc_secret }}"
            ca: "{{ jdbccfg.ca }}"
        sls:
            url: "{{ slscfg.url }}"
            sls_regitration_key_secret: "{{ slscfg.registration_key }}"
            ca: "{{ slscfg.ca }}"
        tenant: 
            tenant_id: "{{ mas_aibroker_tenant_name }}"
            subscription_id: "{{ mas_aibroker_sls_subscription_id }}"
            instance_id: "{{ mas_instance_id }}"