#!/bin/bash

mkdir -p {{ db2_db2inst1_backup_dir }}
db2 connect to {{ db2_dbname }}
db2 backup db {{ db2_dbname }} on all dbpartitionnums online to {{ db2_db2inst1_backup_dir }} include logs without prompting
exit 0