---
# Main Catalog: MAS
# -----------------------------------------------------------------------------
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-mas-operators
  namespace: openshift-marketplace
spec:
  displayName: IBM MAS Catalog (Dev)
  publisher: IBM
  description: Catalog Source for IBM Maximo Application Suite (Internal Use Only)
  sourceType: grpc
  image: "{{ mas_catalog_image }}"
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100
---
# Main Catalog: Truststore Manager
# -----------------------------------------------------------------------------
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-truststore-mgr-operators
  namespace: openshift-marketplace
spec:
  displayName: IBM Truststore Manager Catalog (Dev)
  publisher: IBM
  description: Catalog Source for IBM Truststore Manager (Internal Use Only)
  sourceType: grpc
  image: "{{ tm_catalog_image }}"
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100
