---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ arcgis_sitename }}-internal-ca-issuer"
  namespace: cert-manager
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ arcgis_sitename }}-interpod-cert-pem"
  namespace: "{{ arcgis_namespace }}"
spec:
  commonName: '*.arcgis2.svc.cluster.local'
  duration: 87600h0m0s
  isCA: true
  issuerRef:
    kind: Issuer
    name: "{{ arcgis_sitename }}-internal-ca-issuer"
  renewBefore: 2160h0m0s
  secretName: "{{ arcgis_sitename }}-interpod-cert-pem"
  usages:
    - cert sign
{# ---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: internal-tls-pkcs12-certificate
  namespace: ibm-cpd
spec:
  commonName: internal-tls-certificate
  dnsNames:
    - '*.arcgis2.svc.cluster.local'
  duration: 2160h0m0s
  issuerRef:
    group: cert-manager.io
    kind: Issuer
    name: zen-tls-issuer
  renewBefore: 720h0m0s
  secretName: internal-tls-pkcs12 #}