---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: arcgis-ingress-controller
rules:
  - apiGroups: [""]
    resources: ["events", "nodes"]
    verbs: ["get", "list", "watch", "create", "patch"]

  - apiGroups: ["networking.k8s.io"]
    resources: ["ingressclasses"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: arcgis-ingress-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: arcgis-ingress-controller
subjects:
  - kind: ServiceAccount
    name: arcgis-ingress-serviceaccount
    namespace: mas-{{mas_instance_id}}-arcgis