apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ibm-mas-arcgis-operator-group
  namespace: "{{ mas_arcgis_namespace }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
  targetNamespaces:
    - "{{ mas_arcgis_namespace }}"
