---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-mas-arcgis-operator
  namespace: "{{ mas_arcgis_namespace }}"
spec:
  channel: "{{ mas_arcgis_channel }}"
  installPlanApproval: Automatic
  name: ibm-mas-arcgis
  source: "{{ mas_catalog_source }}"
  sourceNamespace: openshift-marketplace
