---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ws-operator
rules:
  - apiGroups: ["security.openshift.io"]
    resources: ["securitycontextconstraints"]
    verbs: ["get", "list", "watch", "create", "delete", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name:  ws-operator
subjects:
  - kind: ServiceAccount
    name: ibm-mas-arcgis-ws-operator
    namespace: mas-{{mas_instance_id}}-arcgis
roleRef:
  kind: ClusterRole
  name: ws-operator
  apiGroup: rbac.authorization.k8s.io
