{
  "auths": {
{% if artifactory_username is defined and artifactory_username != "" %}
    "docker-na-public.artifactory.swg-devops.com/wiotp-docker-local": {
      "username": "{{ artifactory_username }}",
      "password": "{{ artifactory_token }}",
      "auth": "{{ (artifactory_username ~ ':' ~ artifactory_token) | b64encode }}"
    },
    "docker-na-proxy-svl.artifactory.swg-devops.com/wiotp-docker-local": {
      "username": "{{ artifactory_username }}",
      "password": "{{ artifactory_token }}",
      "auth": "{{ (artifactory_username ~ ':' ~ artifactory_token) | b64encode }}"
    },
    "docker-na-proxy-rtp.artifactory.swg-devops.com/wiotp-docker-local": {
      "username": "{{ artifactory_username }}",
      "password": "{{ artifactory_token }}",
      "auth": "{{ (artifactory_username ~ ':' ~ artifactory_token) | b64encode }}"
  {% if icr_username is defined and icr_username != "" %}
    },
  {% else %}
    }
  {% endif %}
{% endif %}
{% if icr_username is defined and icr_username != "" %}
    "cp.icr.io/cp": {
      "username": "{{ icr_username }}",
      "password": "{{ icr_password }}",
      "auth": "{{ (icr_username ~ ':' ~ icr_password) | b64encode }}"
    }
{% endif %}
  }
}
