{"auths":{
{% if artifactory_username is defined and artifactory_username != "" %}
"wiotp-docker-local.artifactory.swg-devops.com":{"username":"{{ artifactory_username }}","password":"{{ artifactory_apikey }}","auth":"{{ (artifactory_username ~ ':' ~ artifactory_apikey) | b64encode }}"},
{% endif %}
"{{ icr_host }}":{"username":"{{ icr_username }}","password":"{{ icr_password }}","auth":"{{ (icr_username ~ ':' ~ icr_password) | b64encode }}"}}}
