---
kind: Secret
apiVersion: v1
metadata:
  name: {{ aiservice_dro_token_secret }}
  namespace: mas-{{ aiservice_instance_id }}-aibroker
data:
  DRO_TOKEN: "{{ drocfg.registration_key | b64encode }}"
type: Opaque