---
apiVersion: "{{ data.apiVersion }}"
kind: "{{ data.kind }}"
metadata:
  name: "{{ data.metadata.name }}"
{% if data.metadata.labels is defined %}
  labels:
{% for label in data.metadata.labels %}
    {{ label }}: {{ data.metadata.labels[label] }}
{% endfor %}
{% endif %}
data:
{% for item in data.data %}
  {{ item }}: {{ data.data[item] }}
{% endfor %}
