kind: ConfigMap
apiVersion: v1
metadata:
  name: common-service-maps
  namespace: kube-public
  labels:
    operator.ibm.com/managedByCsOperator: 'true'
data:
  common-service-maps.yaml: |
    controlNamespace: {{ cpd_cs_control_namespace }}
    namespaceMapping:
    - map-to-common-service-namespace: {{ cpd_instance_namespace }}
      requested-from-namespace:
      - {{ cpd_instance_namespace }}
      - {{ cpd_operators_namespace }}
