# TODO: DELETE THIS
---
apiVersion: operator.ibm.com/v3
kind: CommonService
metadata:
  name: common-service
  namespace: "{{ cpd_operators_namespace }}"
spec:
  license:
    accept: true
  operatorNamespace: "{{ cpd_operators_namespace }}"
  services:
    - name: ibm-im-operator
      spec:
        authentication:
          labels:
            icpdsupport/addOnId: cpfs
            icpdsupport/app: im
            icpdsupport/component: im
    - name: ibm-idp-config-ui-operator
      spec:
        commonWebUI:
          labels:
            icpdsupport/addOnId: cpfs
            icpdsupport/app: idp-config-ui
            icpdsupport/component: idp-config-ui
    - name: ibm-im-mongodb-operator
      spec:
        mongoDB:
          labels:
            icpdsupport/addOnId: cpfs
            icpdsupport/app: im-mongodb
            icpdsupport/component: mongodb
  servicesNamespace: "{{ cpd_instance_namespace }}"
  size: "{{ cpfs_size }}"
