---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-common-service-operator
  namespace: "{{ cpd_operators_namespace }}"
  labels:
    operators.coreos.com/ibm-common-service-operator.{{ cpd_operators_namespace }}: ''
spec:
  channel: "{{ cpfs_channel }}"
  installPlanApproval: Automatic
  name: ibm-common-service-operator
  source: "{{ cpfs_catalog_source_name }}"
  sourceNamespace: "{{ cpfs_catalog_source_namespace }}"
