
[defaults]
roles_path = /opt/ansible/roles
library = /opt/ansible/library

# Note that this setting is actually ignored by runner
# https://github.com/operator-framework/operator-sdk/issues/4446#issuecomment-784243156
#
# We tried to hack the file /usr/local/lib/python3.6/site-packages/ansible_runner/runner_config.py
# using sed to force this setting, as the env vars hardcoded into runner_config.py override
# anything we put into the config file.
#
# sed -i 's/awx_display/community.general.yaml/' /usr/local/lib/python3.6/site-packages/ansible_runner/runner_config.py
#
# However, if we do this, the whole thing stops working, it is a nicer configuration for working local though
# stdout_callback = community.general.yaml

# Record timings per task
callback_whitelist = profile_tasks,junit

# Verbosity: 0 (low) - 7 (high)
# This is ignored, you need to set the verbosity via operator-sdk environment variables
# verbosity = 2

[callback_profile_tasks]
task_output_limit = 100
