---
# Mongo credentials for MAS
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: mongodb-{{mas_instance_id|lower}}-admin
  namespace: mas-{{mas_instance_id}}-core
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
stringData:
  username: "{{ mongodb_admin_username }}"
  password: "{{ mongodb_admin_password }}"
---
# Mongo configuration for MAS
apiVersion: config.mas.ibm.com/v1
kind: MongoCfg
metadata:
  name: {{mas_instance_id|lower}}-mongo-system
  namespace: mas-{{mas_instance_id}}-core
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: {{mas_instance_id}}
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
  displayName: "External MongoDB in 'mas-{{mas_instance_id}}-core' namespace"
  type: external
  config:
    configDb: admin
    retryWrites: {{mongodb_retry_writes}}
    authMechanism: DEFAULT
    credentials:
      secretName: mongodb-{{mas_instance_id|lower}}-admin
    hosts:
      {{ mongodb_hosts | indent(6) }}
{%- if mongo_certs is defined and mongo_certs | length > 0 %}
    certificates:
      {{ mongo_certs | indent(width=6, first=False) }}
{%- endif %}