---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ mas_instance_id }}-{{ mas_workspace_id }}-{{ stitching_pvcname }}"
  namespace: "{{ manage_namespace }}"
spec:
  resources:
    requests:
      storage: "{{ stitching_storage_size }}"
  volumeMode: Filesystem
  storageClassName: "{{ stitching_storage_class }}"
  accessModes:
    - "{{ stitching_storage_mode }}"

