apiVersion: v1
kind: ConfigMap
metadata:
  name: sre-shared-docdb-tf-outputs
  finalizers:
    - kubernetes
data:
  id: "{{ docdb_cluster_id }}"
  arn: "{{ docdb_cluster_arn }}"
  endpoint: "{{ docdb_cluster_endpoint }}"
  port: "{{ docdb_cluster_port }}"
  reader_endpoint: "{{ docdb_cluster_reader_endpoint }}"
