---
# Mongo credentials for MAS
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  annotations:
    avp.kubernetes.io/path: "project/mmas/data/automation/{{cluster_name}}/{{mas_instance_id}}/mongocfg"
  name: "mongodb-{{docdb_mongo_instance_name}}-credentials"
  namespace: "mas-{{mas_instance_id}}-core"
stringData:
  username: {{ docdb_instance_username }}
  password: {{ docdb_final_instance_password }}
