apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ docdb_admin_credentials_secret_name }}
  namespace: "mas-{{mas_instance_id}}-core"
  finalizers:
    - kubernetes
data:
  username: {{ docdb_master_username | b64encode }}
  password: {{ docdb_master_password | b64encode }}
  docdb_master_root_cert: |
    {{ docdb_master_root_cert | b64encode }}
  docdb_master_cert: |
    {{ docdb_master_cert | b64encode }}