apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ docdb_admin_credentials_secret_name }}"
  finalizers:
    - kubernetes
data:
  username: "{{ docdb_master_username | b64encode }}"
  password: "{{ docdb_master_password | b64encode }}"
  docdb_certificates: |
    "{{ docdb_master_certificates | b64encode }}"