---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ docdb_admin_credentials_secret_name | lower }}
  namespace: mas-{{mas_instance_id}}-core
data:
  username: {{ docdb_master_username | b64encode }}
  password: {{ docdb_master_password | b64encode }}
  docdb_g1rootca_cert: |
    {{ docdb_g1rootca_cert | b64encode }}
---
apiVersion: config.mas.ibm.com/v1
kind: MongoCfg
metadata:
  name: {{mas_instance_id | lower }}-mongo-system
  namespace: mas-{{mas_instance_id}}-core
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: {{mas_instance_id}}
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
  displayName: "AWS DocumentDB namespace"
  type: external
  config:
    configDb: admin
    authMechanism: DEFAULT
    retryWrites: false
    credentials:
      secretName: {{ docdb_admin_credentials_secret_name | lower }}
    hosts:
      {{ docdb_hosts | indent(6) }}
  certificates:
    - alias: g1root
      crt: |
        {{ docdb_g1rootca_cert | indent(8) }}
