---
apiVersion: wos.cpd.ibm.com/v1
kind: WOService
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  scaleConfig: small
  license:
    accept: true
    license: Standard
  type: service
  storageClass: "{{ cpd_service_storage_class }}"

  version: "{{ cpd_product_version }}"
  ccs_operand_version: "{{ cpd_product_version }}"
