---
apiVersion: wos.cpd.ibm.com/v1
kind: WOService
metadata:
  name: ibmcpd-aiopenscale
  namespace: "{{ cpd_instance_namespace }}"
spec:
  scaleConfig: small
  license:
    accept: true
    license: Standard    # Specify the license you purchased
  type: service
  storageClass: "{{ cpd_service_storage_class }}"
  version: {{ cpd_product_version }}
