apiVersion: ca.cpd.ibm.com/v1
kind: "{{ cpd_service_info[cpd_service_name].crd_kind }}"
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  imagePullSecret: "{{ ibm_entitlement_key_secret }}"
{% if cpd_48_or_higher %}
  fileStorageClass: "{{ cpd_service_storage_class }}"
{% else %}
  storageClass: "{{ cpd_service_storage_class }}"
{% endif %}
  blockStorageClass: "{{ cpd_service_block_storage_class }}"
  license:
    accept: true
  version: "{{ cpd_components_meta.cognos_analytics.cr_version }}"
  ccs_operand_version: "{{ cpd_components_meta.ccs.cr_version }}"
