apiVersion: ca.cpd.ibm.com/v1
kind: CAService
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  blockStorageClass: "{{ cpd_service_block_storage_class }}"
  fileStorageClass: "{{ cpd_service_file_storage_class }}"
  license:
    accept: true
  version: "{{ cpd_components_meta.cognos_analytics.cr_version }}"
  ccs_operand_version: "{{ cpd_components_meta.ccs.cr_version }}"



