---
apiVersion: dods.cpd.ibm.com/v1beta1
kind: DODS
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"     # Replace with the project where you installed Cloud Pak for Data
spec:
  license:
    accept: true
    license: Standard
