---
apiVersion: edb.cpd.ibm.com/v1
kind: CPDEdbService
metadata:
  name: ibmcpd-edb
  namespace: "{{ cpd_instance_namespace }}"
spec:
  license:
    accept: true
    license: Standard
  storageClass: "{{ cpd_service_storage_class }}"
