---
apiVersion: ae.cpd.ibm.com/v1
kind: AnalyticsEngine
metadata:
  name: analyticsengine-sample
  namespace: "{{ cpd_instance_namespace }}"
spec:
  license:
    accept: true
    license: Standard
  storageClass: "{{ cpd_service_storage_class }}"
