---
apiVersion: ae.cpd.ibm.com/v1
kind: AnalyticsEngine
metadata:
  name: ibmcpd-spark
  namespace: "{{ cpd_instance_namespace }}"
spec:
  license:
    accept: true
    license: Standard
  version: {{ cpd_product_version }}
  storageClass: "{{ cpd_service_storage_class }}"
