---
apiVersion: ae.cpd.ibm.com/v1
kind: AnalyticsEngine
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  license:
    accept: true
    license: Standard
  storageClass: "{{ cpd_service_storage_class }}"

  version: "{{ cpd_product_version }}"
  ccs_operand_version: "{{ cpd_product_version }}"
