{# # The following network policy is needed to workaround a bug found in WD 4.5.0 for ROKS installs, it might not be needed in future WD patches
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    icpdsupport/addOnId: discovery
    icpdsupport/app: wd-discovery-kubeapi-egress-network-policy
    icpdsupport/empty-on-nd-backup: "true"
    icpdsupport/ignore-on-nd-backup: "true"
    owner: discovery
    service: discovery
    tenant: wd
  name: wd-discovery-kubeapi-egress-network-policy
  namespace: "{{ cpd_instance_namespace }}"
spec:
  egress:
  - {}
  podSelector:
    matchExpressions:
    - key: app
      operator: In
      values:
      - ck-gen
      - cn-postgres-license-config
      - jks-secret
      - postgres-secret-gen
      - ranker-master
      - cn-postgres
    matchLabels:
      app.kubernetes.io/instance: wd
      app.kubernetes.io/name: discovery
  policyTypes:
  - Egress #}
---
apiVersion: discovery.watson.ibm.com/v1
kind: WatsonDiscovery
metadata:
  annotations:
    oppy.ibm.com/disable-rollback: 'true'
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
{% if cpd_48_or_higher %}
  fileStorageClass: "{{ cpd_service_storage_class }}"
{% else %}
  storageClass: "{{ cpd_service_storage_class }}"
{% endif %}
  blockStorageClass: "{{ cpd_service_block_storage_class }}"
  version: "{{ cpd_components_meta.watson_discovery.cr_version }}"
  imagePullSecret: "{{ ibm_entitlement_key_secret }}"
  license:
    accept: true
  shared:
    imagePullSecret: "{{ ibm_entitlement_key_secret }}"
    storageClassName: "{{ cpd_service_storage_class }}"
    deploymentType: "{{ cpd_wd_deployment_type }}" # needed to upgrade wd
  {# watsonGateway:
    version: "{{ (cpd_48_or_higher) | ternary('default', 'main') }}" # main #}
  elasticsearch:
    clientNode:
      persistence:
        size: 1Gi
    dataNode:
      persistence:
        size: 40Gi
    masterNode:
      persistence:
        size: 2Gi
  etcd:
    # Not technically required, it *should* inherit the value from shared.imagePullSecret, but doesn't work
    # https://github.ibm.com/PrivateCloud-analytics/CPD-Quality/issues/3481
    imagePullSecret: "{{ ibm_entitlement_key_secret }}"
    storageSize: 10Gi
{% if cpd_46_or_lower %} # minio is only used in WD 4.6 or older
  minio:
    # Not technically required, it *should* inherit the value from shared.imagePullSecret, but doesn't work
    # https://github.ibm.com/PrivateCloud-analytics/CPD-Quality/issues/3481
    imagePullSecret: "{{ ibm_entitlement_key_secret }}"
    persistence:
      size: 100Gi
{% endif %}
  postgres:
    imagePullSecret: "{{ ibm_entitlement_key_secret }}"
    database:
      storageRequest: 30Gi
  rabbitmq:
    # Not technically required, it *should* inherit the value from shared.imagePullSecret but doesn't work
    # https://github.ibm.com/PrivateCloud-analytics/CPD-Quality/issues/3481
    imagePullSecret: "{{ ibm_entitlement_key_secret }}"
    persistentVolume:
      size: 5Gi
