---
apiVersion: wml.cpd.ibm.com/v1beta1
kind: WmlBase
metadata:
  name: ibmcpd-wml
  namespace: "{{ cpd_instance_namespace }}"
spec:
  ignoreForMaintenance: false
  license:
    accept: true
    license: Standard
  storageClass: "{{ cpd_service_storage_class }}"
  version: {{ cpd_product_version }}
  scaleConfig: small
