---
apiVersion: wml.cpd.ibm.com/v1beta1
kind: WmlBase
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  ignoreForMaintenance: false
  license:
    accept: true
    license: Standard
  storageClass: "{{ cpd_service_storage_class }}"
  scaleConfig: small

  version: "{{ cpd_product_version }}"
  ccs_operand_version: "{{ cpd_product_version }}"
