apiVersion: ws.cpd.ibm.com/v1beta1
kind: WS
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  imagePullSecret: "{{ ibm_entitlement_key_secret }}"
  ignoreForMaintenance: false
  license:
    accept: true
    license: Standard
  scaleConfig: "{{ cpd_service_scale_config }}"
{% if cpd_48_or_higher %}
  fileStorageClass: "{{ cpd_service_storage_class }}"
{% else %}
  storageClass: "{{ cpd_service_storage_class }}"
{% endif %}
  blockStorageClass: "{{ cpd_service_block_storage_class }}"
  version: "{{ cpd_components_meta.ws.cr_version }}"
  ccs_operand_version: "{{ cpd_components_meta.ccs.cr_version }}"
  datarefinery_operand_version: "{{ cpd_components_meta.datarefinery.cr_version }}"
  wsrt_operand_version: "{{ cpd_components_meta.ws_runtimes.cr_version }}"
