apiVersion: ws.cpd.ibm.com/v1beta1
kind: WS
metadata:
  name: "{{ cpd_service_info[cpd_service_name].cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  ignoreForMaintenance: false
  license:
    accept: true
    license: Standard
  scaleConfig: small
  storageClass: "{{ cpd_service_storage_class }}"

  version: "{{ cpd_product_version }}"
  ccs_operand_version: "{{ cpd_product_version }}"
  datarefinery_operand_version: "{{ cpd_product_version }}"
  wsrt_operand_version: "{{ cpd_product_version }}"
