---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: maskafka-credentials
  namespace: "mas-{{mas_instance_id}}-core"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
stringData:
  username: "{{ kafka_user_name }}"
  password: "{{ kafka_user_password }}"
---
apiVersion: config.mas.ibm.com/v1
kind: KafkaCfg
metadata:
  name: "{{mas_instance_id}}-kafka-system"
  namespace: "mas-{{mas_instance_id}}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{mas_instance_id}}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
  displayName: "{{ kafka_provider_name }} - {{ kafka_cluster_name }}"
  config:
    hosts:
      - host: "{{ kafka_bootstrap_host }}"
        port: 443
    credentials:
      secretName: maskafka-credentials
    saslMechanism: SCRAM-SHA-512
  certificates:
    - alias: "{{ kafka_cluster_name }}.ca"
      crt: |
        {{ kafka_bootstrap_cert | indent(8) }}
