apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-logging-config
  namespace: "{{ kafka_namespace }}"
data:
  kafka-log4j.properties: |
    log4j.rootLogger=INFO, stdout

    log4j.appender.stdout=org.apache.log4j.ConsoleAppender
    log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
    log4j.appender.stdout.layout.ConversionPattern=[%d] %p %t %F:%L (%c) %m%n

    # Change the line below to adjust ZK client logging
    log4j.logger.org.apache.zookeeper=INFO

    # Change the two lines below to adjust the general broker logging level (output to server.log and stdout)
    log4j.logger.kafka=INFO
    log4j.logger.org.apache.kafka=INFO

    # Change to DEBUG or TRACE to enable request logging
    log4j.logger.kafka.request.logger=WARN, stdout
    log4j.additivity.kafka.request.logger=false
    
    #log4j.logger.kafka.server.KafkaApis=TRACE, stdout
    #log4j.additivity.kafka.server.KafkaApis=false

    log4j.logger.kafka.controller=TRACE, stdout
    log4j.additivity.kafka.controller=false

    log4j.logger.kafka.log.LogCleaner=INFO, stdout
    log4j.additivity.kafka.log.LogCleaner=false

    log4j.logger.state.change.logger=INFO, stdout
    log4j.additivity.state.change.logger=false

    # Access denials are logged at INFO level, change to DEBUG to also log allowed accesses
    log4j.logger.kafka.authorizer.logger=INFO, stdout
    log4j.additivity.kafka.authorizer.logger=false
