---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ kafka_namespace }}"
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ kafka_namespace }}"
  namespace: "{{ kafka_namespace }}"
spec:
  targetNamespaces:
    - "{{ kafka_namespace }}"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ kafka_operator_name }}" 
  namespace: "{{ kafka_namespace }}"
spec:
  channel: "{{ kafka_default_channel }}"
  installPlanApproval: Automatic
  name: "{{ kafka_operator_name }}" 
  source: "{{ kafka_source }}"
  sourceNamespace: "{{ kafka_source_namespace }}"
