{
    "nickname": "{{ smtp_instance_email }}",
    "from_email": "{{ smtp_instance_email }}",
    "from_name": "{{ smtp_instance_email }}",
    "reply_to": "{{ smtp_instance_email }}",
    "reply_to_name": "",
    "address": "250 York St #301",
    "address2": "",
    "state": "ON",
    "city": "London",
    "country": "Canada",
    "zip": "N6A 6K2"
}
