apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: airgap-registry-auth
  namespace: "{{ registry_namespace }}"
  labels:
    app: airgap-registry
stringData:
  htpasswd: "{{ registry_htpasswd }}"
