---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airgap-registry-storage
  namespace: "{{ registry_namespace }}"
spec:
  resources:
    requests:
      storage: "{{ registry_storage_capacity }}"
  volumeMode: Filesystem
  storageClassName: "{{ registry_storage_class }}"
  accessModes:
    - ReadWriteOnce
