apiVersion: v1
kind: Service
metadata:
  name: airgap-registry
  namespace: "{{ registry_namespace }}"
  labels:
    app: airgap-registry
spec:
  type: ClusterIP
  ports:
    - port: 5000
      protocol: TCP
      targetPort: 5000
  selector:
    app: airgap-registry
