apiVersion: v1
kind: Service
metadata:
  name: airgap-registry-lb
  namespace: "{{ registry_namespace }}"
  labels:
    app: airgap-registry
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - nodePort: 32500
    port: 5000
    protocol: TCP
    targetPort: 5000
  selector:
    app: airgap-registry
  sessionAffinity: None
