*.DS_Store*
.env
.venv
.vscode
site
context
target
ibm/mas_devops/dev-*.yml
ibm/mas_devops/playbooks/dev-*.yml
ibm/mas_devops/playbooks/cpd-cli-workspace/*
ibm/mas_devops/edge-routes-*.txt
ibm/mas_devops/service-key_*.json
ibm-mas_devops-*.tar.gz
ibm-mas_devops.tar.gz
ibm/mas_devops/runAnsibl*.sh
build/bin/downloads/*.tgz
.pyenv
cpd-cli-workspace/*
/tmp
/node_modules
package-lock.json
package.json