# Don't change markdown files
**/*.md

# Exclude entirely the roles
# TODO: Gradually remove these rules and verify the formatting
/ibm/mas_devops/roles/ocp_cluster_monitoring/**/*.*
/ibm/mas_devops/roles/ocp_config/**/*.*
/ibm/mas_devops/roles/ocp_deprovision/**/*.*
/ibm/mas_devops/roles/ocp_efs/**/*.*
/ibm/mas_devops/roles/ocp_github_oauth/**/*.*
/ibm/mas_devops/roles/ocp_idms/**/*.*
/ibm/mas_devops/roles/ocp_login/**/*.*
/ibm/mas_devops/roles/ocp_node_config/**/*.*
/ibm/mas_devops/roles/ocp_provision/**/*.*
/ibm/mas_devops/roles/ocp_roks_upgrade_registry_storage/**/*.*
/ibm/mas_devops/roles/ocp_simulate_disconnected_network/**/*.*
/ibm/mas_devops/roles/ocp_upgrade/**/*.*
/ibm/mas_devops/roles/ocp_verify/**/*.*
/ibm/mas_devops/roles/ocs/**/*.*
/ibm/mas_devops/roles/odh/**/*.*
/ibm/mas_devops/roles/opentelemetry/**/*.*
/ibm/mas_devops/roles/registry/**/*.*
/ibm/mas_devops/roles/sls/**/*.*
/ibm/mas_devops/roles/smtp/**/*.*
/ibm/mas_devops/roles/suite_app_backup_restore/**/*.*
/ibm/mas_devops/roles/suite_app_config/**/*.*
/ibm/mas_devops/roles/suite_app_install/**/*.*
/ibm/mas_devops/roles/suite_app_rollback/**/*.*
/ibm/mas_devops/roles/suite_app_uninstall/**/*.*
/ibm/mas_devops/roles/suite_app_upgrade/**/*.*
/ibm/mas_devops/roles/suite_app_verify/**/*.*
/ibm/mas_devops/roles/suite_backup_restore/**/*.*
/ibm/mas_devops/roles/suite_certs/**/*.*
/ibm/mas_devops/roles/suite_config/**/*.*
/ibm/mas_devops/roles/suite_db2_setup_for_manage/**/*.*
/ibm/mas_devops/roles/suite_dns/**/*.*
/ibm/mas_devops/roles/suite_install/**/*.*
/ibm/mas_devops/roles/suite_manage_attachments_config/**/*.*
/ibm/mas_devops/roles/suite_manage_bim_config/**/*.*
/ibm/mas_devops/roles/suite_manage_birt_report_config/**/*.*
/ibm/mas_devops/roles/suite_manage_customer_files_config/**/*.*
/ibm/mas_devops/roles/suite_manage_imagestitching_config/**/*.*
/ibm/mas_devops/roles/suite_manage_import_certs_config/**/*.*
/ibm/mas_devops/roles/suite_manage_load_dbc_scripts/**/*.*
/ibm/mas_devops/roles/suite_manage_logging_config/**/*.*
/ibm/mas_devops/roles/suite_manage_pvc_config/**/*.*
/ibm/mas_devops/roles/suite_rollback/**/*.*
/ibm/mas_devops/roles/suite_uninstall/**/*.*
/ibm/mas_devops/roles/suite_upgrade/**/*.*
/ibm/mas_devops/roles/suite_verify/**/*.*
/ibm/mas_devops/roles/turbonomic/**/*.*
