{%- if page %}
<nav class="md-footer-nav" aria-label="Footer navigation">
  <div class="md-footer-nav__inner">
    {%- if page.previous_page %}
    <a href="{{ page.previous_page.url | url }}" class="md-footer-nav__link md-footer-nav__link--prev" rel="prev">
      <div class="md-footer-nav__direction">
        <svg class="md-footer-nav__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
        <span>Previous</span>
      </div>
      <div class="md-footer-nav__title">
        <span class="md-footer-nav__title-text">{{ page.previous_page.title }}</span>
      </div>
    </a>
    {%- endif %}

    {%- if page.next_page %}
    <a href="{{ page.next_page.url | url }}" class="md-footer-nav__link md-footer-nav__link--next" rel="next">
      <div class="md-footer-nav__direction">
        <span>Next</span>
        <svg class="md-footer-nav__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
        </svg>
      </div>
      <div class="md-footer-nav__title">
        <span class="md-footer-nav__title-text">{{ page.next_page.title }}</span>
      </div>
    </a>
    {%- endif %}
  </div>
</nav>
{%- endif %}