{%- if page and page.toc and page.toc.items %}
<nav class="md-sidebar md-sidebar--secondary" aria-label="Table of contents">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <div class="md-toc">
        <div class="md-toc__title">On this page</div>
        <ul class="md-toc__list">
          {%- set skip_h1 = page.toc.items | length == 1 and page.toc.items[0].children %}
          {%- if skip_h1 %}
            {#- Single H1 with children: show H2s as root items -#}
            {%- for toc_item_2 in page.toc.items[0].children %}
              <li class="md-toc__item">
                <a href="{{ toc_item_2.url }}" class="md-toc__link" data-md-level="1">
                  {{ toc_item_2.title }}
                </a>
                {%- if toc_item_2.children %}
                  <ul class="md-toc__list">
                    {%- for toc_item_3 in toc_item_2.children %}
                      <li class="md-toc__item">
                        <a href="{{ toc_item_3.url }}" class="md-toc__link" data-md-level="2">
                          {{ toc_item_3.title }}
                        </a>
                      </li>
                    {%- endfor %}
                  </ul>
                {%- endif %}
              </li>
            {%- endfor %}
          {%- else %}
            {#- Multiple H1s or no children: show normal structure -#}
            {%- for toc_item in page.toc.items %}
              <li class="md-toc__item">
                <a href="{{ toc_item.url }}" class="md-toc__link" data-md-level="1">
                  {{ toc_item.title }}
                </a>
                {%- if toc_item.children %}
                  <ul class="md-toc__list">
                    {%- for toc_item_2 in toc_item.children %}
                      <li class="md-toc__item">
                        <a href="{{ toc_item_2.url }}" class="md-toc__link" data-md-level="2">
                          {{ toc_item_2.title }}
                        </a>
                        {%- if toc_item_2.children %}
                          <ul class="md-toc__list">
                            {%- for toc_item_3 in toc_item_2.children %}
                              <li class="md-toc__item">
                                <a href="{{ toc_item_3.url }}" class="md-toc__link" data-md-level="3">
                                  {{ toc_item_3.title }}
                                </a>
                              </li>
                            {%- endfor %}
                          </ul>
                        {%- endif %}
                      </li>
                    {%- endfor %}
                  </ul>
                {%- endif %}
              </li>
            {%- endfor %}
          {%- endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{%- endif %}