{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "AWS": "{{ aws_access_point_username_arn }}"
            },
            "Action": {{ aws_access_point_policy_actions | to_json }},
            "Resource": [
                "{{ aws_access_point_arn }}/object/*",
                "{{ aws_access_point_arn }}"
            ]
        }
    ]
}
