---
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: "{{ kafka_cluster_name }}"
  namespace: "{{ kafka_namespace }}"
spec:
  # -------------------------------------------------------
  kafka:
    version: "{{ kafka_version }}"
    replicas: 3
    resources:
      requests:
        memory: 8Gi
        cpu: "2"
      limits:
        memory: 8Gi
        cpu: "4"
    jvmOptions:
      -Xms: 6156m
      -Xmx: 6156m
    logging:
      type: external
      valueFrom:
        configMapKeyRef:
          name: kafka-logging-config
          key: kafka-log4j.properties
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          name: kafka-metrics-config
          key: kafka-metrics-config.yml
    config:
      default.replication.factor: 3
      min.insync.replicas: 2
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      log.message.format.version: "{{ kafka_version }}"
      log.retention.hours: 24
      log.retention.bytes: 1073741824
      log.segment.bytes: 268435456
      log.cleaner.enable: true
      log.cleanup.policy: delete
      auto.create.topics.enable: false
      unclean.leader.election.enable: true
    storage:
      type: jbod
      volumes:
        - id: 0
          type: persistent-claim
          class: "{{ kafka_storage_class }}"
          size: "{{ kafka_storage_size }}"
          deleteClaim: true
    authorization:
        type: simple
        superUsers:
          - admin
    listeners:
      - name: tls
        port: 9094
        type: route
        tls: true
        authentication:
          type: scram-sha-512
      - name: internal
        port: 9093
        type: internal
        tls: true
        authentication:
          type: scram-sha-512
        networkPolicyPeers:
          - namespaceSelector: {}
    template:
      pod:
        tmpDirSizeLimit: 100Mi
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: "kubernetes.io/hostname"
                labelSelector:
                  matchExpressions:
                  - key: strimzi.io/name
                    operator: In
                    values:
                    - "{{ kafka_cluster_name }}-kafka"
  # -------------------------------------------------------
  zookeeper:
    replicas: 3
    resources:
      requests:
        memory: 2Gi
        cpu: "1"
      limits:
        memory: 2Gi
        cpu: "1"
    jvmOptions:
      -Xms: 1024m
      -Xmx: 1024m
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          name: kafka-metrics-config
          key: zookeeper-metrics-config.yml
    storage:
      type: persistent-claim
      class: "{{ zookeeper_storage_class }}"
      size: "{{ zookeeper_storage_size }}"
      deleteClaim: true
    template:
      pod:
        tmpDirSizeLimit: 100Mi
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: "kubernetes.io/hostname"
                labelSelector:
                  matchExpressions:
                  - key: strimzi.io/name
                    operator: In
                    values:
                    - "{{ kafka_cluster_name }}-zookeeper"
  # -------------------------------------------------------
  entityOperator:
    template:
      pod:
        tmpDirSizeLimit: 1024Mi
    tlsSidecar:
      resources:
        requests:
          cpu: 200m
          memory: 64Mi
        limits:
          cpu: 500m
          memory: 128Mi
    userOperator:
      logging:
        type: inline
        loggers:
          rootLogger.level: INFO
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 512Mi
          cpu: 500m
    topicOperator:
      zookeeperSessionTimeoutSeconds: 30
      logging:
        type: inline
        loggers:
          rootLogger.level: INFO
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
        limits:
          memory: 512Mi
          cpu: 500m
  kafkaExporter:
    groupRegex: ".*"
    topicRegex: ".*"
    resources:
      requests:
        cpu: 200m
        memory: 64Mi
      limits:
        cpu: 500m
        memory: 128Mi
    logging: debug
    enableSaramaLogging: true
