apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: {{ kafka_cluster_name }}-broker
  namespace: "{{ kafka_namespace }}"
  labels:
    strimzi.io/cluster: "{{ kafka_cluster_name }}"
spec:
  replicas: 2
  roles:
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        class: "{{ kafka_storage_class }}"
        size: "{{ kafka_storage_size }}"
        kraftMetadata: shared
        deleteClaim: true