{
"name": "{{ wds_instname }}",
"deployment_id": "{{ cpdnamespace }}-wd",
"description": "wds_for_assist",
"url":"https://wd-discovery-gateway.{{ cpdnamespace }}.svc.cluster.local:60443/v2/service_instances"
}
