apiVersion: v1
stringData:
  password: "{{ wds_admin_password }}"
  username: "admin"
kind: Secret
metadata:
  name: assist-watson-discovery-credentials
  namespace: "mas-{{ instanceId }}-assist"
type: Opaque
