---
apiVersion: v1
kind: Namespace
metadata:
    name: "mas-{{ instanceId }}-assist"
---
apiVersion: v1
data:
  wd.yaml: |
    url: {{ wds_url }}
    version: '2019-11-22'
kind: ConfigMap
metadata:
  name: assist-watson-discovery-config
  namespace: "mas-{{ instanceId }}-assist"
---
apiVersion: v1
stringData:
  password: "{{ wds_admin_password }}"
  username: "admin"
kind: Secret
metadata:
  name: assist-watson-discovery-credentials
  namespace: "mas-{{ instanceId }}-assist"
type: Opaque
