# Help Service.
apiVersion: v1
kind: Service
metadata:
  name: "{{ arcgis_help_service_name }}"
  namespace: "{{ mas_arcgis_namespace }}"
  labels:
    arcgis/siteName: "{{ arcgis_sitename }}"
    arcgis/app: help
    arcgis/tier: document
spec:
  ports:
    - port: 8443
      targetPort: 8443
      protocol: TCP
      name: https
  selector:
    arcgis/siteName: "{{ arcgis_sitename }}"
    arcgis/app: help
    arcgis/tier: document
    arcgis/instanceName: "{{ arcgis_selector_instance_name }}"
