---
# Help Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ arcgis_help_ingress_name }}"
  namespace: "{{ arcgis_namespace }}"
  annotations:
    kubernetes.io/ingress.class: "{{ arcgis_ingress_class }}"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: $1
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/configuration-snippet: 'rewrite ^(.*help)/(fi|hk|tw|pt-BR|pt-br|bg|lt|hr|lv|hu|bs|sk|sl|ukr|ca|ind|sr|sv|ko|el|it|et|cs|ar|vi|nb|th|pl|da|he|ro|nl|tr|po)/(.*)$ $1/en/$3 permanent;'
  labels:
    arcgis/siteName: "{{ arcgis_sitename }}"
    arcgis/app: help
    arcgis/tier: document
spec:
  rules:
  - http:
      paths:
      - path: /{{ arcgis_context }}/help(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: "{{ arcgis_help_service_name }}"
            port:
              number: 8443
