---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "jdbc-{{ db_instance_id | lower }}-credentials"
  namespace: "mas-{{ mas_instance_id }}-core"
stringData:
  username: "{{db_username}}"
  password: "{{jdbc_instance_password}}"
---
apiVersion: config.mas.ibm.com/v1
kind: JdbcCfg
metadata:
  name: "{{ mas_instance_id }}-jdbc-wsapp-{{ mas_workspace_id }}-manage"
  namespace: "mas-{{ mas_instance_id }}-core"
  labels:
    mas.ibm.com/applicationId: manage
    mas.ibm.com/configScope: workspace-application
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
    mas.ibm.com/workspaceId: "{{ mas_workspace_id }}"
spec:
  displayName: "{{ mas_instance_id }}-jdbc-wsapp-{{ mas_workspace_id }}-manage"
  config:
    url: "{{ jdbc_url }}"
    sslEnabled: true
    credentials:
      secretName: "jdbc-{{ db_instance_id | lower }}-credentials"
  certificates:
    - alias: "{{ db_instance_id | lower }}"
      crt: |
        {{ db_pem | indent(8) }}