apiVersion: v1
kind: ConfigMap
metadata:
  name: sre-shared-mongodb-tf-outputs
data:
  id: "{{ mongo_instance_info.resource.id }}"
  version: "{{ mongo_instance_info.resource.version }}"
  adminuser: "{{ mongo_instance_info.resource.adminuser }}"
  connection_string: "{{ mongo_instance_info.resource.connectionstrings[0].composed }}"