---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ mongo_service_credentials_secret_name }}"
data:
  mongo_user_name: "{{ mongo_resource_key_info.resource.credentials['connection.mongodb.authentication.username'] | b64encode }}"
  mongo_password: "{{ mongo_resource_key_info.resource.credentials['connection.mongodb.authentication.password'] | b64encode }}"
  cert_ca: "{{ mongo_resource_key_info.resource.credentials['connection.mongodb.certificate.certificate_base64'] }}"
  credentials_all: "{{ mongo_resource_key_info.resource.credentials | b64encode }}"