apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ ibm_mongo_admin_credentials_secret_name }}"
data:
  username: "{{ mongo_instance_info.resource.adminuser | b64encode }}"
  password: "{{ ibm_mongo_admin_password | b64encode }}"
  cert_ca: "{{ mongo_instance_info.resource.connectionstrings[0].certbase64 }}"