apiVersion: v1
kind: ConfigMap
metadata:
  name: sre-shared-mongodb-configurations
data:
  mongodb-cluster-configs: |
    hosts:
      - host: "{{ mongo_host_0 }}"
        port: "{{ mongo_port }}"
      - host: "{{ mongo_host_1 }}"
        port: "{{ mongo_port }}"
      - host: "{{ mongo_host_2 }}"
        port: "{{ mongo_port }}"
