#!/bin/bash

db2 connect to {{ db2_dbname }} 

db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ mas_app_settings_bim_mount_path }}/import' WHERE PROPNAME = 'bim.import.dir';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ mas_app_settings_bim_mount_path }}/docs' WHERE PROPNAME = 'bim.import.docdir';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ mas_app_settings_bim_mount_path }}/models' WHERE PROPNAME = 'bim.model.dir';"
exit 0

# 
