---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ aiservice_jdbc_secret }}"
  namespace: mas-{{ aiservice_instance_id }}-aibroker
data:
  username: "{{ jdbccfg.username | b64encode }}"
  password: "{{ jdbccfg.password | b64encode }}"
  url: "{{ jdbccfg.url | b64encode }}"
  sslenabled: "{{ jdbccfg.sslenabled | b64encode }}"
  certificate: "{{ jdbccfg.ca | b64encode }}"
type: Opaque