{
	"Comment": "Create CNAME entries for {{ mas_instance_id }}",
	"Changes": [{
			"Action": "CREATE",
			"ResourceRecordSet": {
			    "Name": "{{ mas_instance_id }}.{{ route53_hosted_zone_name }}",
				"Type": "CNAME",
				"TTL": 300,
				"ResourceRecords": [{
				    "Value": "{{ route53_lb_dnsname }}"
				}]
			}
		},
		{
			"Action": "CREATE",
			"ResourceRecordSet": {
			    "Name": "*.{{ mas_instance_id }}.{{ route53_hosted_zone_name }}",
				"Type": "CNAME",
				"TTL": 300,
				"ResourceRecords": [{
				    "Value": "{{ route53_lb_dnsname }}"
				}]
			}
		}
	]
}
