{
	"Comment": "Create CNAME entries for subdomain - {{ route53_subdomain }}",
	"Changes": [{
			"Action": "CREATE",
			"ResourceRecordSet": {
			    "Name": "{{ route53_subdomain }}.{{ route53_hosted_zone_name }}",
				"Type": "CNAME",
				"TTL": 300,
				"ResourceRecords": [{
				    "Value": "{{ route53_lb_dnsname }}"
				}]
			}
		},
		{
			"Action": "CREATE",
			"ResourceRecordSet": {
			    "Name": "*.{{ route53_subdomain }}.{{ route53_hosted_zone_name }}",
				"Type": "CNAME",
				"TTL": 300,
				"ResourceRecords": [{
				    "Value": "{{ route53_lb_dnsname }}"
				}]
			}
		}
	]
}
