---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ aiservice_rsl_secret }}
  namespace: {{ tenantNamespace }}
  labels:
    aiservice.ibm.com/instanceId: "{{ aiservice_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
        "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  # Removed rsl_org, rsl_rl, rsl_token
{% if rsl_ca_crt is defined and rsl_ca_crt | length > 0 %}
  ca.crt: "{{ rsl_ca_crt | b64encode }}"
{% endif %}
 