---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ mas_aibroker_rsl_secret }}
  namespace: {{ aibroker_namespace }}
  labels:
    mas.ibm.com/applicationId: aibroker
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
        "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  rsl_org_id: "{{ rslcfg.org_id | b64encode }}"
  rsl_url: "{{ rslcfg.url | b64encode }}"
  rsl_token: "{{ rslcfg.token | b64encode }}"
