{
  "auths": {
    "icr.io": {
      "username": "{{ mas_entitlement_username }}",
      "password": "{{ mas_entitlement_key }}",
      "auth": "{{ (mas_entitlement_username ~ ':' ~ mas_entitlement_key) | b64encode }}"
    }
  }
}
