# We use to_yaml and trim to ensure formatting, booleans and numbers are represented correctly
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    {% for key, value in cluster_monitoring_data.items() %}
    {{ key }}: {{ value | to_yaml | trim }}
    {% endfor %}