# We use to_yaml and trim to ensure formatting, booleans and numbers are represented correctly
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    {{ cluster_monitoring_data | to_nice_yaml | indent(4) }}