---
apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: mas-prom-grafanadatasource
  namespace: "{{ grafana_namespace }}"
spec:
  datasources:
    - access: proxy
      editable: true
      isDefault: true
      jsonData:
        httpHeaderName1: Authorization
        timeInterval: 10s
        tlsSkipVerify: true
      name: prometheus
      type: prometheus
      secureJsonData:
        httpHeaderValue1: >-
          Bearer
          {{ _prometheus_user_workflow_token.stdout }}
      url: "{{ grafana_datasource_url }}"
      version: 1
  name: mas-datasources.yaml