---
apiVersion: config.mas.ibm.com/v1
kind: BasCfg
metadata:
  name: "{{ mas_instance_id }}-bas-system"
  namespace: "mas-{{ mas_instance_id }}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
spec:
  displayName: SUDS {{ mas_instance_id }}
  suds: true
{% if ibm_mas_bascfg_pod_templates is defined %}
  podTemplates: {{ ibm_mas_bascfg_pod_templates }}
{% endif %}
