apiVersion: config.openshift.io/v1
kind: ImageTagMirrorSet
metadata:
  name: aiservice-ibm-catalog{{ itms_suffix }}
  labels:
    aiserice.ibm.com/itmsContent: ibm
  annotations:
    aiservice.ibm.com/itmsRegistry: "{{ registry_private_url_with_path }}"
    aiservice.ibm.com/itmsRegistryHost: "{{ registry_private_host }}"
    aiservice.ibm.com/itmsRegistryPort: "{{ registry_private_port }}"
    aiservice.ibm.com/itmsRegistryPrefix: "{{ registry_prefix }}"
spec:
  imageTagMirrors:
    - mirrorSourcePolicy: NeverContactSource
      mirrors:
        - {{ registry_private_url_with_path }}/community-operator-pipeline-prod
      source: quay.io/community-operator-pipeline-prod
    - mirrorSourcePolicy: NeverContactSource
      mirrors:
        - {{ registry_private_url_with_path }}/opendatahub
      source: quay.io/opendatahub
    - source: cp.icr.io/cp/aibroker/s3
      mirrors:
        - {{ registry_private_url_with_path }}/cp/aibroker/s3
      mirrorSourcePolicy: NeverContactSource
    - source: cp.icr.io/cp/aibroker/maximo-fmea-predictor
      mirrors:
        - {{ registry_private_url_with_path }}/cp/aibroker/maximo-fmea-predictor
      mirrorSourcePolicy: NeverContactSource
