# Registry configuration for registry.connect.redhat.com
# Disables signature mirroring for certified operators that have missing .sig files
# This is a known issue with the Red Hat Certified Operator Catalog
# Reference: Red Hat Support Case #04446606

docker:
  registry.connect.redhat.com:
    sigstore-staging: file:///var/lib/containers/sigstore
    sigstore: ""