---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "jdbc-{{ db_instance_id | lower }}-credentials"
  namespace: "mas-{{ mas_instance_id }}-core"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
stringData:
  username: "{{db_username}}"
  password: "{{jdbc_instance_password}}"
---
apiVersion: config.mas.ibm.com/v1
kind: JdbcCfg
metadata:
  name: "{{ suite_jdbccfg_name }}"
  namespace: "mas-{{ mas_instance_id }}-core"
  labels: {{ suite_jdbccfg_labels }}
spec:
  displayName: "{{ suite_jdbccfg_name }}"
  config:
    url: "{{ jdbc_url }}"
{% if ssl_enabled | bool %}
    sslEnabled: true
{% else %}
    sslEnabled: false
{% endif %}
    credentials:
      secretName: "jdbc-{{ db_instance_id | lower }}-credentials"
{% if ssl_enabled | bool and jdbc_certs is defined and jdbc_certs | length > 0 %}
  certificates: 
    {{ jdbc_certs | indent(width=4, first=False) }}
{%- endif %}
