---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: openshift-pipelines-operator
  namespace: {{ openshift_namespace }}
spec:
  channel: "{{ pipeline_channel }}"
  installPlanApproval: Automatic
  name: openshift-pipelines-operator
  source: "{{ pipeline_catalog_source }}"
  sourceNamespace: openshift-marketplace
