---
apiVersion: integreatly.org/v1alpha1
kind: GrafanaDashboard
metadata:
  name: "mongodb-overview"
  namespace: "{{ mongodb_namespace }}"
  labels:
    app: grafana
spec:
  name: "{{ mongodb_namespace }}-mongodb-overview"
  json: |-
    {{ lookup('file', 'templates/community/dashboards/json/mongodb-overview-grafana.json') | indent(4) }}