{
  "auths": {
{% if artifactory_auth is defined and artifactory_auth != ":" %}
    "docker-na-public.artifactory.swg-devops.com": {
      "email":"{{ artifactory_username }}",
      "auth":"{{ artifactory_auth | b64encode }}"
    },
    "docker-na-proxy-svl.artifactory.swg-devops.com": {
      "email":"{{ artifactory_username }}",
      "auth":"{{ artifactory_auth | b64encode }}"
    },
    "docker-na-proxy-rtp.artifactory.swg-devops.com": {
      "email":"{{ artifactory_username }}",
      "auth":"{{ artifactory_auth | b64encode }}"
    },
{% endif %}
{% if registry_auth is defined and registry_auth != ":" %}
    "{{ registry_public_url }}": {
      "email": "unused",
      "auth": "{{ registry_auth | b64encode }}"
    },
{% endif %}
{% if redhat_connect_auth is defined and redhat_connect_auth != ":" %}
    "registry.connect.redhat.com": {
      "email": "{{ redhat_connect_username }}",
      "auth": "{{ redhat_connect_auth | b64encode }}"
    },
    "registry.redhat.io": {
      "email": "{{ redhat_connect_username }}",
      "auth": "{{ redhat_connect_auth | b64encode }}"
    },
{% endif %}
{% if ibm_auth is defined and ibm_auth != ":" %}
    "cp.icr.io": {
      "email": "unused",
      "auth": "{{ ibm_auth | b64encode }}"
    }
{% endif %}
  }
}
