{ "auths":
   {
      "{{ registry_name1 }}": { "auth": "{{ registry_auth1 | b64encode }}" },
      "{{ registry_name2 }}": { "auth": "{{ registry_auth2 | b64encode }}" },
      "{{ registry_name3 }}": { "auth": "{{ registry_auth3 | b64encode }}"{% raw %}}
  }
}
{% endraw %}
