{
  "auths": {
    "cloud.openshift.com": {{ redhat_pullsecret_content.auths['cloud.openshift.com'] }},
    "quay.io": {{ redhat_pullsecret_content.auths['quay.io'] }},
    "registry.connect.redhat.com": {{ redhat_pullsecret_content.auths['registry.connect.redhat.com'] }},
    "registry.redhat.io": {{ redhat_pullsecret_content.auths['registry.redhat.io'] }},
    "{{ registry_public_url }}": {
      "email": "unused",
      "auth": "{{ registry_auth | b64encode }}"
    }
  }
}
