#!/bin/bash

sudo wvcli system disable -m 'Disable HA before Db2 maintenance'
db2 connect to {{ db2_dbname }}
db2 list applications
db2 force application all
db2 terminate
db2 deactivate database {{ db2_dbname }}
db2stop force
ipclean -a
db2set -null DB2COMM
db2start admin mode restricted access