#!/bin/bash

db2 RESTORE DATABASE BLUDB FROM {{ db2_db2inst1_backup_dir }} TAKEN AT {{ db_backup_restore_timestamp }} INTO BLUDB LOGTARGET {{ db2_temp_backup_logs_dir }} REPLACE EXISTING WITHOUT PROMPTING