---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ digest_image_map_name }}
  namespace: {{ digest_image_map_namespace }}
  labels:
    {{ digest_image_map_label }}: "true"
data:
  image-map.yaml: |
{% if existing_digest_image_map_data is defined %}
    {{ existing_digest_image_map_data | indent(4, false) }}
{% endif %}
    {{ digest_image_map_data | indent(4, false) }}
