---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ digest_image_map_name }}
  namespace: {{ digest_image_map_namespace }}
data:
  image-map.yaml: |
    {{ digest_image_map_data | indent(4, false) }}
