kind: Deployment
apiVersion: apps/v1
metadata:
  name: istio-operator
  namespace: openshift-operators
  labels:
    olm.owner.kind: ClusterServiceVersion
    olm.owner.namespace: openshift-operators
spec:
  replicas: 1
  selector:
    matchLabels:
      name: istio-operator
  template:
    metadata:
      labels:
        name: istio-operator
    spec:
      restartPolicy: Always
      serviceAccountName: istio-operator
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      securityContext: {}
      containers:
        - resources: {}
          readinessProbe:
            httpGet:
              path: /readyz
              port: 11200
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
          name: istio-operator
          command:
            - istio-operator
            - "--config"
            - /etc/operator/olm/config.properties
          env:
            - name: WATCH_NAMESPACE
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: istio-operator
            - name: OPERATOR_CONDITION_NAME
              value: servicemeshoperator.v2.5.1
          ports:
            - name: validation
              containerPort: 11999
              protocol: TCP
            - name: probes
              containerPort: 11200
              protocol: TCP
            - name: metrics
              containerPort: 60000
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - name: operator-olm-config
              readOnly: true
              mountPath: /etc/operator/olm
            - name: webhook-tls-volume
              readOnly: true
              mountPath: /tmp/k8s-webhook-server/serving-certs
            - name: smcp-templates
              readOnly: true
              mountPath: /usr/local/share/istio-operator/templates/
          terminationMessagePolicy: File
          image: >-
            registry.redhat.io/openshift-service-mesh/istio-rhel8-operator@sha256:d256a729a61e11dbba4d724612b23d4e5662dbb01f1567dec9fa13adab6287a5
      serviceAccount: istio-operator
      volumes:
        - name: operator-olm-config
          downwardAPI:
            items:
              - path: config.properties
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.annotations
            defaultMode: 420
        - name: webhook-tls-volume
          secret:
            secretName: maistra-operator-serving-cert
            defaultMode: 420
            optional: true
        - name: smcp-templates
          configMap:
            name: smcp-templates
            defaultMode: 420
            optional: true
      dnsPolicy: ClusterFirst
  strategy:
    type: Recreate
  revisionHistoryLimit: 1
  progressDeadlineSeconds: 600
