---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: servicemeshoperator
  namespace: "{{ service_mesh_namespace }}"
spec:
  channel: "{{ service_mesh_channel }}"
  installPlanApproval: Automatic
  name: servicemeshoperator
  source: "{{ service_mesh_catalog_source }}"
  sourceNamespace: openshift-marketplace
