apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ cos_bucket_name }}
  namespace: {{ odf_bucket_namespace }}
{% if custom_labels is defined and custom_labels is not none and custom_labels | length > 0 %}
  labels:
{{ custom_labels | to_nice_yaml(indent=2) | indent(4, first=False) }}
{% endif %}
spec:
  generateBucketName: {{ cos_bucket_name }}
  storageClassName: {{ odf_storage_class }}
