apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    labels:
        app: rhm-data-service
    name: rhm-data-service-rhm-data-service-0
    namespace: redhat-marketplace
spec:
    storageClassName: rook-cephfs
    accessModes:
    - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi