apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    labels:
        app: rhm-data-service
    name: rhm-data-service-rhm-data-service-0
    namespace: "{{ dro_namespace }}"
spec:
    storageClassName: {{ dro_storage_class }}
    accessModes:
    - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    labels:
        app: rhm-data-service
    name: rhm-data-service-rhm-data-service-1
    namespace: "{{ dro_namespace }}"
spec:
    storageClassName: {{ dro_storage_class }}
    accessModes:
    - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    labels:
        app: rhm-data-service
    name: rhm-data-service-rhm-data-service-2
    namespace: "{{ dro_namespace }}"
spec:
    storageClassName: {{ dro_storage_class }}
    accessModes:
    - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi