---
# Create MarketplaceConfig CR -  Set Accept License to True and installIBMCatalogSource to False 
apiVersion: marketplace.redhat.com/v1alpha1
kind: MarketplaceConfig
metadata:
    name: marketplaceconfig
    namespace: "{{ dro_namespace }}"
spec:
    installIBMCatalogSource: false
    isDisconnected: {{ airgap_install }}
    license:
        accept: true
