---
apiVersion: v1
kind: Namespace
metadata:
  name: redhat-marketplace
{% if og_info.resources |length ==0 %}
---
apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: operatorgroup
  namespace: redhat-marketplace
spec:
  targetNamespaces:
  - redhat-marketplace
{% endif %}
