---
# Create Marketplace pull secret
kind: Secret
apiVersion: v1
metadata:
  name: "redhat-marketplace-pull-secret"
  namespace: "redhat-marketplace"
data:
  PULL_SECRET: "{{dro_pull_secret_token | b64encode}}"
type: Opaque
