---
apiVersion: config.mas.ibm.com/v1
kind: McpiCfg
metadata:
  name: "{{ mas_instance_id }}-mcpi-system"
  namespace: "mas-{{ mas_instance_id }}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
spec:
  displayName: "Maximo Cluster Performance Insights"
  config:
    enabled: true
