---
# Service - for exposing the app
# NOTE: Keep below Service spec in sync with java/enterprise-admin/enterprise-admin-core/
# src/main/resources/spec/k8s/framework/admin/enterprise-admin.yaml
apiVersion: v1
kind: Service
metadata:
  name: "{{ arcgis_admin_service_name }}"
  namespace: "{{ mas_arcgis_namespace }}"
  labels:
    arcgis/app: rest-administrator-api
    arcgis/siteName: "{{ arcgis_sitename }}"
spec:
  selector:
    arcgis/app: rest-administrator-api
    arcgis/siteName: "{{ arcgis_sitename }}"
    arcgis/instanceName: "{{ arcgis_selector_instance_name }}"
  ports:
  - port: 8443
    targetPort: 8443
    protocol: TCP
