---
apiVersion: nvidia.com/v1
kind: ClusterPolicy
metadata:
  name: gpu-cluster-policy
spec:
  hostPaths:
    rootFS: /
    driverInstallDir: /run/nvidia/driver
  operator:
    defaultRuntime: crio
    use_ocp_driver_toolkit: true
    runtimeClass: nvidia
  daemonsets:
    tolerations: 
      - effect: NoSchedule
        key: nvidia.com/gpu
        operator: Exists
    priorityClassName: system-node-critical
    updateStrategy: RollingUpdate
    rollingUpdate:
      maxUnavailable: "1"
  validator:
    plugin:
      env:
        - name: WITH_WORKLOAD
          value: 'true'
  mig:
    strategy: single
  psa:
    enabled: false
  cdi:
    enabled: true
  driver:
    enabled: true
    useNvidiaDriverCRD: false
    kernelModuleType: auto
    usePrecompiled: false
    startupProbe: 
      failureThreshold: 120
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 60
    rdma:
      enabled: false
      useHostMofed: false
    repoConfig: 
      configMapName: ""
    certConfig: 
      name: ""
    licensingConfig: 
      nlsEnabled: false
      configMapName: ""
    virtualTopology: 
      config: ""
    kernelModuleConfig: 
      name: ""
    upgradePolicy:
      autoUpgrade: true
      maxParallelUpgrades: 1
      maxUnavailable : 25%
      waitForCompletion:
        timeoutSeconds: 0
      podDeletion:
        force: false
        timeoutSeconds: 300
        deleteEmptyDir: false
      drain:
        enable: false
        force: false
        timeoutSeconds: 300
        deleteEmptyDir: false
  vgpuManager:
    enabled: false
    kernelModuleConfig: 
      name: ""
  kataManager:
    enabled: false
  vfioManager:
    enabled: true
  vgpuDeviceManager:
    enabled: true
    config: 
      default: default
      name: ""
  ccManager:
    enabled: true
    defaultMode: "on"
    env: 
      - name: CC_CAPABLE_DEVICE_IDS
        value: 0x2339,0x2331,0x2330,0x2324,0x2322,0x233d
  toolkit:
    enabled: true
    installDir: /usr/local/nvidia
  devicePlugin:
    enabled: true
  dcgm:
    enabled: false
  dcgmExporter:
    enabled: true
    serviceMonitor: 
      additionalLabels: {}
      enabled: true
      honorLabels: false
      interval: 15s
      relabelings: []
    service: 
      internalTrafficPolicy: Cluster
  gfd:
    enabled: true
  migManager:
    enabled: true
    config:
      default: "all-disabled"
    gpuClientsConfig: 
      name: ""
  nodeStatusExporter:
    enabled: false
  gds:
    enabled: false
  gdrcopy:
    enabled: false
  sandboxWorkloads:
    enabled: false
    defaultWorkload: container
    mode: "kubevirt"
  sandboxDevicePlugin:
    enabled: true
  kataSandboxDevicePlugin:
    enabled: true
