# Create this service account to use its token to login to the target cluster within the cpd-cli container
# This will also require cluster administration permissions in order to successfully install cpd platform
# https://www.ibm.com/docs/en/cloud-paks/cp-data/4.8.x?topic=installing
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ cpd_admin_login_sa }}"
  namespace: "{{ cpd_instance_namespace }}"
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ cpd_admin_login_sa }}-crb"
subjects:
  - kind: ServiceAccount
    name: "{{ cpd_admin_login_sa }}"
    namespace: "{{ cpd_instance_namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
