# Pre-create the following service accounts in cpd platform instance namespace
# and include ibm-entitlement-key in their imagePullSecrets to allow cpd images to be successfully pulled
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: default # no owner - overrides
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-norbac-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-viewer-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-editor-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-runtime-sa # zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-assemblies-operator # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-manager-api # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: cognos-analytics-sp-sa # owned by ca-addon-cr (cognos analytics)
  namespace: "{{ cpd_instance_namespace }}"
