---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: default # no owner - overrides
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-norbac-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-viewer-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-editor-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-runtime-sa # zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
  - name: ibm-entitlement-key
metadata:
  name: elasticsearch-master-ibm-elasticsearch-service-account # owned by ccs-cr - overrides
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-assemblies-operator # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-manager-api # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: cognos-analytics-sp-sa # owned by ca-addon-cr (cognos analytics)
  namespace: "{{ cpd_instance_namespace }}"
{# ---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: wd-rabbitmq-discovery # owned by wd (watson discovery) - overrides -  patch on statefulset needed
  namespace: "{{ cpd_instance_namespace }}"
  annotations:
    meta.helm.sh/release-name: wd-rabbitmq
    meta.helm.sh/release-namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/instance: wd-rabbitmq
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: discovery
    helm.sdk.operatorframework.io/chart: ibm-rabbitmq
    helm.sh/chart: ibm-rabbitmq
    release: wd-rabbitmq
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: wd-discovery-etcd-serviceaccount # owned by wd (watson discovery) - overrides - patch on statefulset needed
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: wd-ibm-elasticsearch-service-account # owned by wd (watson discovery) - overrides - patch on statefulset needed
  namespace: "{{ cpd_instance_namespace }}" #}
