---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: default # no owner
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-norbac-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-viewer-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-editor-sa # owned by zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: zen-runtime-sa # zen-lite
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: elasticsearch-master-ibm-elasticsearch-service-account # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-assemblies-operator # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-manager-api # owned by ccs-cr
  namespace: "{{ cpd_instance_namespace }}"
