---
apiVersion: datasciencepipelinesapplications.opendatahub.io/v1alpha1
kind: DataSciencePipelinesApplication
metadata:
  name: instance
  namespace: mas-{{ mas_instance_id }}-aibroker
spec:
  database:
    disableHealthCheck: true
  objectStorage:
    disableHealthCheck: true
    minio:
      deploy: true
      image: 'quay.io/minio/minio'
      # image: quay.io/opendatahub/minio:RELEASE.2019-08-14T20-37-41Z-license-compliance
      pvcSize: 40Gi
      storageClassName: "{{ primary_storage_class }}"
