---
apiVersion: datasciencepipelinesapplications.opendatahub.io/v1alpha1
kind: DataSciencePipelinesApplication
metadata:
  name: instance
  namespace: mas-{{ mas_instance_id }}-aibroker
spec:
  database:
    disableHealthCheck: true
  objectStorage:
    disableHealthCheck: true
    minio:
      deploy: true
      image: 'quay.io/minio/minio'
      pvcSize: 40Gi
      storageClassName: "{{ primary_storage_class }}"
