---
apiVersion: v1
kind: Secret
metadata:
  name: ds-pipeline-s3-instance
  namespace: aibroker
  labels:
    opendatahub.io/dashboard: 'false'
    opendatahub.io/managed: 'true'
  annotations:
    opendatahub.io/connection-type: s3
    openshift.io/display-name: Minio Data Connection
stringData:
  # The following keys are needed while https://github.com/kubeflow/pipelines/issues/9689 is open
  accesskey: "{{ minio_instance_accesskey }}"
  secretkey: "{{ minio_instance_secretkey }}"
  # Added for kmodels deployment script
  host: minio-service.minio.svc.cluster.local
  port: "9000"
---
apiVersion: datasciencepipelinesapplications.opendatahub.io/v1alpha1
kind: DataSciencePipelinesApplication
metadata:
  name: instance
  namespace: aibroker
spec:
  database:
    disableHealthCheck: true
  objectStorage:
    externalStorage:
      host: minio-service.minio.svc.cluster.local
      port: "9000"
      bucket: mlpipeline
      # region: us-east-2
      s3CredentialsSecret:
        accessKey: accesskey
        secretKey: secretkey
        secretName: ds-pipeline-s3-instance
      scheme: http
