---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: opendatahub-operator
  namespace: "{{ openshift_namespace }}"
spec:
  channel: "{{ odh_channel }}"
  installPlanApproval: Automatic
  name: opendatahub-operator
  source: "{{ odh_catalog_source }}"
  sourceNamespace: openshift-marketplace
  startingCSV: "{{ odh_operator_version }}"
