---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-serviceaccount
  namespace: "{{ grafana_v5_namespace }}"
---
kind: Secret
apiVersion: v1
metadata:
  name: prometheus-serviceaccount-token
  namespace: "{{ grafana_v5_namespace }}"
  annotations:
    kubernetes.io/service-account.name: prometheus-serviceaccount
type: kubernetes.io/service-account-token
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-role
rules:
  - verbs:
      - get
      - create
    apiGroups:
      - monitoring.coreos.com
    resources:
      - prometheuses/api
      - prometheus/api
      - prometheuses
      - prometheus
  - verbs:
      - get
    apiGroups:
      - ''
    resources:
      - nodes/metrics
  - verbs:
      - get
    nonResourceURLs:
      - /metrics
  - verbs:
      - create
    apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
  - verbs:
      - create
    apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
  - verbs:
      - get
    apiGroups:
      - ''
    resources:
      - namespaces
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - ''
    resources:
      - services
      - endpoints
      - pods
  - verbs:
      - get
    apiGroups:
      - monitoring.coreos.com
    resources:
      - alertmanagers
  - verbs:
      - use
    apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - nonroot-v2
  - verbs:
      - create
    nonResourceURLs:
      - /api/v2/alerts
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-rolebinding
roleRef:
  name: prometheus-role
  kind: ClusterRole
  apiGroup: ""
subjects:
  - kind: ServiceAccount
    name: prometheus-serviceaccount
    namespace: "{{ grafana_v5_namespace }}"