---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: mas-prom-grafanadatasource
  namespace: "{{ grafana_v5_namespace }}"
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafanav5"
  datasource:
    name: prometheus
    type: prometheus
    access: proxy
    url: https://{{ thanos_host }}
    isDefault: true
    editable: true
    jsonData:
      httpHeaderName1: Authorization
      timeInterval: 5s
      tlsSkipVerify: true
    secureJsonData:
      httpHeaderValue1: Bearer {{ prometheus_token }}

