---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}certified-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Certified Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path_redhat}}/redhat/certified-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}community-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Community Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path_redhat }}/redhat/community-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}redhat-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path_redhat }}/redhat/redhat-operator-index:v{{ ocp_release }}
  sourceType: grpc
