config:
  configDb: admin
  authMechanism: DEFAULT
  retryWrites: false
{% if atlas_cluster_nodes is defined and atlas_cluster_nodes | length > 0 %}
  hosts:
{% endif %}
{% for host in atlas_cluster_nodes %}
  - host: {{ host }}
    port: {{ atlas_mongodb_port }}
{% endfor %}
  certificate:
    - alias: ca
      crt: |
{{ atlas_ca_cert | indent(8, first=True) }}