---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "cert-manager-webhook-ibm-cis:domain-solver"
  labels:
    app: "cert-manager-webhook-ibm-cis"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "cert-manager-webhook-ibm-cis:domain-solver"
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: "{{ cert_manager_service_account }}"
    namespace: "{{ cert_manager_namespace }}"
