---
apiVersion: console.openshift.io/v1
kind: ConsoleLink
metadata:
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
  name: "mas-{{ mas_instance_id }}"
spec:
  location: ApplicationMenu
  applicationMenu:
    section: Maximo Application Suite
  href: "https://admin.{{ mas_domain }}"
  text: "Admin Dashboard ({{ mas_instance_id }})"
