apiVersion: core.mas.ibm.com/v1
kind: Suite
metadata:
{% if (hyperscaler_format is defined and hyperscaler_format != "") or (hyperscaler_provider is defined and hyperscaler_provider != "") or (hyperscaler_channel is defined and hyperscaler_channel != "") %}  annotations:{% endif %}
{% if hyperscaler_format is defined and hyperscaler_format != "" %}    mas.ibm.com/hyperscalerFormat: "{{ hyperscaler_format }}"{% endif %}
{% if hyperscaler_provider is defined and hyperscaler_provider != "" %}    mas.ibm.com/hyperscalerProvider: "{{ hyperscaler_provider }}"{% endif %}
{% if hyperscaler_channel is defined and hyperscaler_channel != "" %}    mas.ibm.com/hyperscalerChannel: "{{ hyperscaler_channel }}"{% endif %}
  name: "{{ mas_instance_id }}"
  namespace: "{{ mas_namespace }}"
  labels:
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
spec:
  certManagerNamespace: "{{ certManager.namespace }}"
  domain: "{{ mas_domain }}"
  license:
    accept: true
  settings:
    icr:
      cp: "{{ mas_icr_cp }}"
      cpopen: "{{ mas_icr_cpopen }}"
