apiVersion: core.mas.ibm.com/v1
kind: Suite
metadata:
  name: "{{ mas_instance_id }}"
  namespace: "{{ mas_namespace }}"
  labels:
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
{% if annotation_dict.items() %}
  annotations:
{% for key, value in annotation_dict.items() %}
    {{key}}: "{{value}}"
{% endfor %}
{% endif %}
spec:
  certManagerNamespace: "{{ cert_manager_cluster_resource_namespace }}"
{% if mas_cluster_issuer is defined and mas_cluster_issuer != '' %}
  certificateIssuer:
    name: "{{ mas_cluster_issuer }}"
    duration: "{{ mas_certificate_duration }}"
    renewBefore: "{{ mas_certificate_renew_before }}"
{% endif %}
  domain: "{{ mas_domain }}"
  license:
    accept: true
{% if ibm_mas_suite_pod_templates is defined %}
  podTemplates: {{ ibm_mas_suite_pod_templates }}
{% endif %}
  settings:
    sso:
    {% if access_token_timeout != '' %}
      accessTokenTimeout: {{ access_token_timeout }}
    {% endif %}

    {% if default_idp != '' %}
      defaultIDP: {{ default_idp }}
    {% endif %}

    {% if idle_timeout != '' %}
      idleTimeout: {{ idle_timeout | int }}
    {% endif %}

    {% if idp_session_timeout != '' %}
      idpSessionTimeout: {{ idp_session_timeout | int }}
    {% endif %}

    {% if refresh_token_timeout != '' %}
      refreshTokenTimeout: {{ refresh_token_timeout | int }}
    {% endif %}

    {% if seamless_login != '' %}
      seamlessLogin: {{ seamless_login | bool }}
    {% endif %}

    {% if sso_cookie_name != '' %}
      ssoCookieName: {{ sso_cookie_name }}
    {% endif %}

    {% if allow_default_sso_cookie_name != '' %}
      allowDefaultSsoCookieName: {{ allow_default_sso_cookie_name | bool }}
    {% endif %}

    {% if use_only_custom_cookie_name != '' %}
      useOnlyCustomCookieName: {{ use_only_custom_cookie_name | bool }}
    {% endif %}

    {% if disable_ltpa_cookie != '' %}
      disableLtpaCookie: {{ disable_ltpa_cookie | bool }}
    {% endif %}

    {% if allow_custom_cache_key != '' %}
      allowCustomCacheKey: {{ allow_custom_cache_key | bool }}
    {% endif %}

{% if mas_enable_walkme is defined and mas_enable_walkme == false %}
    walkme: "disabled"
{% endif %}

{% if mas_channel != '8.7.x' and mas_channel != '8.8.x' %}
    manualCertMgmt: {{  mas_manual_cert_mgmt  }}
{% endif %}
    icr:
      cp: "{{ mas_icr_cp }}"
      cpopen: "{{ mas_icr_cpopen }}"
{% if  mas_add_catalog != '' or mas_add_channel != '' %}
    dataDictionary:
{% if mas_add_catalog != '' %}
      catalog: {{ mas_add_catalog }}
{% endif %}
{% if mas_add_channel != '' %}
      channel: {{ mas_add_channel }}
{% endif %}
{% if ibm_data_dictionary_assetdatadictionary_pod_templates is defined %}
      podTemplates: {{ ibm_data_dictionary_assetdatadictionary_pod_templates }}
{% endif %}
{% endif %}
{% if mas_img_pull_policy != '' %}
    imagePullPolicy: {{  mas_img_pull_policy  }}
{% endif %}
{% if mas_trust_default_cas is defined and mas_trust_default_cas != '' %}
    trustDefaultCAs: {{ mas_trust_default_cas | bool }}
{% endif %}
{% if enable_ipv6 is defined and enable_ipv6 == true %}
    services:
      ipFamilyPolicy: "SingleStack"
      ipFamilies: ["IPv6"]
{% endif %}
