apiVersion: core.mas.ibm.com/v1
kind: Suite
metadata:
  name: "{{ mas_instance_id }}"
  namespace: "{{ mas_namespace }}"
  labels:
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
{% if annotation_dict.items() %}
  annotations:
{% for key, value in annotation_dict.items() %}
    {{key}}: "{{value}}"
{% endfor %}
{% endif %}
spec:
  certManagerNamespace: "{{ certManager.namespace }}"
{% if mas_cluster_issuer is defined and mas_cluster_issuer != '' %}
  certificateIssuer:
    name: "{{ mas_cluster_issuer }}"
    duration: "{{ mas_certificate_duration }}"
    renewBefore: "{{ mas_certificate_renew_before }}"
{% endif %}
  domain: "{{ mas_domain }}"
  license:
    accept: true
{% if ibm_mas_suite_pod_templates.podTemplates is defined %}
  podTemplates: {{ ibm_mas_suite_pod_templates.podTemplates }}
{% endif %}
  settings:
{% if mas_channel != '8.7.x' and mas_channel != '8.8.x' %}
    manualCertMgmt: {{  mas_manual_cert_mgmt  }}
{% endif %}
    icr:
      cp: "{{ mas_icr_cp }}"
      cpopen: "{{ mas_icr_cpopen }}"
{% if  mas_add_catalog != '' or mas_add_channel != '' %}
    dataDictionary:
{% if mas_add_catalog != '' %}
      catalog: {{ mas_add_catalog }}
{% endif %}
{% if mas_add_channel != '' %}
      channel: {{ mas_add_channel }}
{% endif %}
{% endif %}
{% if mas_img_pull_policy != '' %}
    imagePullPolicy: {{  mas_img_pull_policy  }}
{% endif %}
{% if mas_trust_default_cas is defined and mas_trust_default_cas != '' %}
    trustDefaultCAs: {{ mas_trust_default_cas | bool }}
{% endif %}
{% if enable_ipv6 is defined and enable_ipv6 == true %}
    services:
      ipFamilyPolicy: "PreferDualStack"
      ipFamilies: ["IPv6", "IPv4"]
{% endif %}
