---
apiVersion: v1
kind: Secret
type: opaque
metadata:
  name: {{ mas_instance_id }}-credentials-superuser
  namespace: "{{ mas_namespace }}"
stringData:
  username: {{ mas_superuser_username }}
  password: {{ mas_superuser_password }}
