---
apiVersion: v1
kind: Secret
type: opaque
metadata:
  name: filebeat-output
  namespace: "{{ mas_namespace }}"
stringData:
  filebeat-output.yml: |
    filebeat.config.inputs:
      enabled: true
      path: /etc/wiotp/logmet/*.yml
      reload.enabled: true
      reload.period: 10s

    processors:
      - add_fields:
          fields:
            namespace: "{{ mas_namespace }}"
            mas_instance_id: "{{ mas_instance_id }}"
            mas_app_id: "core"

    output.logstash:
      hosts: ["mas-ls-beats.eck.svc:5044", "mas-ls-beats.eck.svc:5044", "mas-ls-beats.eck.svc:5044"]
      loadbalance: true
      bulk_max_size: 2048
