---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-mas-operator
  namespace: "{{ mas_namespace }}"
spec:
  channel: "{{ mas_channel }}"
  installPlanApproval: Automatic
  name: ibm-mas
  source: "{{ mas_catalog_source }}"
  sourceNamespace: openshift-marketplace
