apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ cp4d_admin_credentials_secret_name }}"
data:
  cp4d_admin_username: "{{ cp4d_admin_username | b64encode }}"
  cp4d_admin_password: "{{ cp4d_admin_password | b64encode }}"
