---
# Default application spec for Facilities
mas_appws_spec:
  podTemplates: {{ ((ibm_mas_facilities_facilitiesworkspace_pod_templates is defined) and (ibm_mas_facilities_facilitiesworkspace_pod_templates | length != 0)) | ternary(ibm_mas_facilities_facilitiesworkspace_pod_templates, []) }}
  bindings:
    jdbc: "{{ mas_appws_bindings_jdbc | default( 'workspace-application' , true) }}"
  settings:
    size: "{{ mas_ws_facilities_size }}"
    routes:
      contextpath: "{{ mas_ws_facilities_routes.contextpath }}"
      timeout: "{{ mas_ws_facilities_routes.timeout }}"
    libertyExtensionXML: {{ mas_ws_facilities_liberty_extension_XML }}
    imagePullPolicy: "{{ mas_ws_facilities_pull_policy }}"
    storage:
      log:
        class: "{{ mas_ws_facilities_storage.class }}"
        mode: "{{ mas_ws_facilities_storage.log.mode }}"
        size: {{ mas_ws_facilities_storage.log.size }}
      userfiles:
        class: "{{ mas_ws_facilities_storage.class }}"
        mode: "{{ mas_ws_facilities_storage.userfiles.mode }}"
        size: {{ mas_ws_facilities_storage.userfiles.size }}
    vault_secret: na
    wfagents: {{ mas_ws_facilities_wfagents }}
    db:
      maxconnpoolsize: {{ mas_ws_facilities_db.maxconnpoolsize }}
      sid: "{{ mas_ws_facilities_db.sid }}"
