{
{% if trusted_ca_dict | length > 0 %}
{% for trusted_ca in trusted_ca_dict %}
{% set trusted_ca_name = trusted_ca.keys()[0] %}
{% if loop.index != (trusted_ca_dict | length) %}
  "{{ trusted_ca_name }}": "{{ trusted_ca[trusted_ca_name] }}",
{% else %}
  "{{ trusted_ca_name }}": "{{ trusted_ca[trusted_ca_name] }}"
{% endif %}
{% endfor %}
{% endif %}
}