nowildcard:
  - sls
  - admin
  - api
  - auth
  - home
  -  {{ mas_workspace_id }}.home
  -  {{ mas_workspace_id }}.health
  - health
  -  {{ mas_workspace_id }}-all.health
  -  {{ mas_workspace_id }}-ui.health
  -  {{ mas_workspace_id }}-mea.health
  -  {{ mas_workspace_id }}-rpt.health
  -  {{ mas_workspace_id }}-cron.health
  -  {{ mas_workspace_id }}-jms.health
  - maxinst.health
  - iot
  -  {{ mas_workspace_id }}.iot
  - messaging.iot
  -  {{ mas_workspace_id }}.messaging.iot
  - edgeconfig.iot
  -  {{ mas_workspace_id }}.edgeconfig.iot
  - edgeconfigapi.iot
  -  {{ mas_workspace_id }}.edgeconfigapi.iot
  - facilities
  -  {{ mas_workspace_id }}.facilities
  -  pod-0.{{ mas_workspace_id }}.facilities
  -  pod-1.{{ mas_workspace_id }}.facilities
  -  multiagents.{{ mas_workspace_id }}.facilities
  -  dataconnectagent.{{ mas_workspace_id }}.facilities
  -  dataimportagent.{{ mas_workspace_id }}.facilities
  -  extendedformulaagent.{{ mas_workspace_id }}.facilities
  -  formularecalcagent.{{ mas_workspace_id }}.facilities
  -  incomingmailagent.{{ mas_workspace_id }}.facilities
  -  objectmigrationagent.{{ mas_workspace_id }}.facilities
  -  objectpublishagent.{{ mas_workspace_id }}.facilities
  -  maintenanceagent.{{ mas_workspace_id }}.facilities
  -  reportqueueagent.{{ mas_workspace_id }}.facilities
  -  reservesmtpagent.{{ mas_workspace_id }}.facilities
  -  snmpagent.{{ mas_workspace_id }}.facilities
  -  wfagent.{{ mas_workspace_id }}.facilities
  -  wffutureagent.{{ mas_workspace_id }}.facilities
  -  wfnotificationagent.{{ mas_workspace_id }}.facilities
  - manage
  -  {{ mas_workspace_id }}.manage
  -  {{ mas_workspace_id }}-all.manage
  -  {{ mas_workspace_id }}-ui.manage
  -  {{ mas_workspace_id }}-mea.manage
  -  {{ mas_workspace_id }}-rpt.manage
  -  {{ mas_workspace_id }}-cron.manage
  -  {{ mas_workspace_id }}-jms.manage
  - maxinst.manage
  - monitor
  -  {{ mas_workspace_id }}.monitor
  - admin.monitor
  - api.monitor
  -  {{ mas_workspace_id }}.api.monitor
  - predict
  -  {{ mas_workspace_id }}.predict
  - safety
  -  {{ mas_workspace_id }}.safety
  - visualinspection
  -  {{ mas_workspace_id }}.visualinspection
  - hputilities
  -  {{ mas_workspace_id }}.hputilities
  - optimizer
  - api.optimizer
  -  {{ mas_workspace_id }}.optimizer
  -  {{ mas_workspace_id }}.api.optimizer
  - assist
  -  {{ mas_workspace_id }}.assist
  - arcgis
  -  {{ mas_workspace_id }}.arcgis
  - reportdb
  - aibroker
wildcard:
  - ""
  - "*"
  - "*.api.monitor"
  - "*.assist"
  - "*.edgeconfig.iot"
  - "*.edgeconfigapi.iot"
  - "*.health"
  - "*.home"
  - "*.hputilities"
  - "*.iot"
  - "*.manage"
  - "*.messaging.iot"
  - "*.monitor"
  - "*.predict"
  - "*.optimizer"
  - "*.safety"
  - "*.visualinspection"
  - "*.arcgis"
  - "*.facilities"
  - "*.{{ mas_workspace_id }}.facilities"
  - "cis.test.cert"
  - "cp4d"
  - "*.aibroker"
  - "*.api.aibroker"
