apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: "{{ tlssecretname[app_name] }}"
  namespace: "mas-{{ mas_instance_id }}-{{ app_name }}"
data:
{% if ca_crt_size | int > 0 %}  
  ca.crt: "{{ lookup('file', '{{ cert_path }}/ca.crt') | b64encode }}"
{% endif %}
{% if tls_crt_size | int > 0 %}
  tls.crt: "{{ lookup('file', '{{ cert_path }}/tls.crt') | b64encode }}"
{% endif %}
{% if tls_key_size | int > 0 %}
  tls.key: "{{ lookup('file', '{{ cert_path }}/tls.key') | b64encode }}"
{% endif %}