---
apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  name: default
  namespace: openshift-ingress-operator
spec:
  tuningOptions:
    clientTimeout: "{{ ingress_client_timeout }}"
    serverTimeout: "{{ ingress_server_timeout }}"
