---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-store
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-store
data:
  STORE_BUCKET: "{{ aiservice_storage_templates_bucket }}"
  # Certificate files folder (default: /etc/ssl/certs)
  CERTS_PATH: "/etc/ssl/certs"
  # Private key (default: tls.key)
  CERT_PRIVATE_KEY: "tls.key"
  # Public certificate (default: tls.crt)
  CERT_PUBLIC_CERTIFICATE: "tls.crt"
  # Set to true to enable https server (default: true)
  SUPPORT_HTTPS: "true"
