---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: km-store
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-store
    component: store
    kmodels: instance
    part-of: kmodels
spec:
  replicas: 1
  selector:
    matchLabels:
      app: km-store
      kmodels: instance
      part-of: kmodels
  template:
    metadata:
      labels:
        app: km-store
        component: store
        kmodels: instance
        part-of: kmodels
    spec:
      restartPolicy: Always
      volumes:
        - name: ssh-key
          secret:
            # Note that the secret name generated still carries the old "aibroker" name
            secretName: {{ mas_instance_id }}-internal-aibroker-tls
        - name: workspace-volume
          emptyDir: {}
      imagePullSecrets:
        - name: {{ pullSecretName }}
      containers:
        - name: store
          image: {{ mas_icr_cp }}/{{ store}}
          imagePullPolicy: Always
          securityContext:
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
          ports:
            - name: http
              containerPort: 3000
            - name: https
              containerPort: 8443
          envFrom:
            - configMapRef:
                name: km-store
            - secretRef:
                name: km-s3-secret
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
              ephemeral-storage: "1Gi"
            limits:
              memory: "256Mi"
              cpu: "100m"
              ephemeral-storage: "2Gi"
          livenessProbe:
            httpGet:
              path: /version
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 15
            periodSeconds: 500
          readinessProbe:
            httpGet:
              path: /version
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 500
          volumeMounts:
            - mountPath: "/etc/ssl/certs"
              name: ssh-key
              readOnly: true
            - name: workspace-volume
              mountPath: /workspace
