---
apiVersion: sls.ibm.com/v1
kind: LicenseService
metadata:
  name: "{{ sls_instance_name }}"
spec:
  domain: {{sls_domain}}
  settings:
    registry: "{{ sls_icr_cp }}"
    auth:
      enforce: true
    registration:
      open: true
  license:
    accept: true
  rlks:
    storage:
      class: "{{sls_storage_class}}"
      size: 5G
  mongo:
    nodes: {{ mongodb.hosts }}
    configDb: admin
    secretName: ibm-sls-mongo-credentials
    retryWrites: true
