---
apiVersion: sls.ibm.com/v1
kind: LicenseService
metadata:
  name: {{ sls_instance_name }}
spec:
  domain: {{sls_domain}}
  settings:
    auth:
      enforce: {{ sls_auth_enforce }}
    compliance:
      enforce: {{ sls_compliance_enforce }}
    registry: {{ sls_icr_cp }}
    registration:
      open: {{ sls_registration_open }}
  license:
    accept: true
  rlks:
    storage:
      class: {{ sls_storage_class }}
      size: {{ sls_storage_size }}
  mongo:
    nodes: {{ mongodb.hosts }}
    configDb: {{ sls_mongo_configdb }}
    secretName: ibm-sls-mongo-credentials
    retryWrites: {{ sls_mongo_retrywrites }}
