{% for cert in manage_cos_certs %}
- alias: "{{ existing_manage_imported_certs_aliases[loop.index0] | default(cos_type+'coscertpt'+(loop.index - existing_manage_imported_certs_aliases | length)|string) }}"
  crt: |- 
    {{ cert | indent(4) }}
{% endfor %}
