---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: manage-{{ mas_instance_id }}-{{ mas_workspace_id }}-logging-s3-secret
  namespace: "mas-{{mas_instance_id}}-manage"
stringData:
  accessSecretKey: "{{ ibmcos_secret_access_key }}"
  accessKeyId: "{{ ibmcos_access_key_id }}"
  bucketName: "{{ ibmcos_bucket_name }}"
  endpoint: "{{ ibmcos_url }}"
