# Elastic search Service Account
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ arcgis_elastic_service_account }}"
  namespace: "{{ arcgis_namespace }}"
  labels:
    arcgis/siteName: "{{ arcgis_sitename }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "{{ arcgis_elastic_role }}"
  namespace: "{{ arcgis_namespace }}"
  labels:
    arcgis/siteName: "{{ arcgis_sitename }}"
rules: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ arcgis_elastic_role_binding }}"
  namespace: "{{ arcgis_namespace }}"
  labels:
    arcgis/siteName: "{{ arcgis_sitename }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "{{ arcgis_elastic_role }}"
subjects:
  - kind: ServiceAccount
    name: "{{ arcgis_elastic_service_account }}"
    namespace: "{{ arcgis_namespace }}"
