apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ cluster_name }}-cis-{{mas_instance_id}}"
data:
  customer_cis_crn: "{{ cis_info.resource.id }}"
  customer_cis_domain: "{{ domain_info.resource.id }}"
  customer_cis_nameservers: "{{ domain_info.resource.name_servers }}"