---
apiVersion: operator.ibm.com/v1
kind: NamespaceScope
metadata:
  name: cpd-operators
  namespace: "{{ cpd_operators_namespace }}"
spec:
  csvInjector:
    enable: true
  namespaceMembers:
    - "{{ cpd_operators_namespace }}"
    - "{{ cpd_instance_namespace }}"
