---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_aibroker_jdbc_secret }}"
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  username: "{{ jdbccfg.username }}"
  password: "{{ jdbccfg.password }}"
  url: "{{ jdbccfg.url }}"
  sslenabled: "{{ jdbccfg.sslenabled }}"
  certificate: "{{ jdbccfg.ca }}"
type: Opaque