apiVersion: v1
kind: Service
metadata:
  annotations:
    ## Azure Load Balancer (Internal)
    ## @AZURE_LB_INTERNAL@
    #service.beta.kubernetes.io/azure-load-balancer-internal: "true"

    ## AWS Network Load Balancer (External)
    ## @AWS_NLB_EXTERNAL@
    #service.beta.kubernetes.io/aws-load-balancer-type: "external"
    #service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
    #service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"

    ## AWS Network Load Balancer (Internal)
    ## @AWS_NLB_INTERNAL@
    #service.beta.kubernetes.io/aws-load-balancer-scheme: "internal"
    #service.beta.kubernetes.io/aws-load-balancer-type: "external"
    #service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"

    ## GKE Internal Load balancer
    ## @GKE_INTERNAL@
    #networking.gke.io/load-balancer-type: "Internal"

  name: "{{ arcgis_ingress_controller_service_name }}"
  namespace: "{{ arcgis_namespace }}"
  labels:
    arcgis/app: ingress-nginx
    arcgis/siteName: "{{ arcgis_sitename }}"
spec:
  type: "{{ arcgis_ingress_type }}"
  loadBalancerIP: "{{ arcgis_load_balancer_ip }}"
  ports:
    - name: https
      port: 443
      nodePort: {{ arcgis_node_port_https }}
      protocol: TCP
  selector:
    arcgis/app: ingress-nginx
    arcgis/siteName: "{{ arcgis_sitename }}"
    arcgis/instanceName: "{{ arcgis_selector_instance_name }}"
