---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}certified-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Certified Operators
  publisher: Red Hat
  image: {{ registry_private_url }}/{{ registry_private_url_with_path}}redhat/certified-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}community-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Community Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path }}/redhat/community-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}redhat-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path }}/redhat/redhat-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: ibm-mas{{ idms_suffix }}-redhat-catalogs
  labels:
    mas.ibm.com/idmsGroup: "{{ env_registry_prefix }}"
    operators.openshift.org/catalog: "true"
spec:
  imageDigestMirrors:
  - mirrors:
    - {{ registry_private_url_with_path }}/cpopen
    source: icr.io/cpopen
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/rhel8
    source: registry.redhat.io/rhel8
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/rhel9
    source: registry.redhat.io/rhel9
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/crunchydata
    source: registry.connect.redhat.com/crunchydata
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/nvidia
    source: registry.connect.redhat.com/nvidia
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/grafana
    source: ghcr.io/grafana
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/grafana
    source: docker.io/grafana
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    # This is for the grafana v5 operator bundle image
    - {{ registry_private_url_with_path }}/community-operator-pipeline-prod
    source: quay.io/community-operator-pipeline-prod
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/open-telemetry
    source: ghcr.io/open-telemetry
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/source-to-image
    source: registry.redhat.io/source-to-image
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/odf4
    source: registry.redhat.io/odf4
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/operator-pipeline-prod
    source: quay.io/operator-pipeline-prod
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/strimzi
    source: quay.io/strimzi
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/rhceph
    source: registry.redhat.io/rhceph
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/amq-streams
    source: registry.redhat.io/amq-streams
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/nvidia
    source: nvcr.io/nvidia
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/openshift4
    source: registry.redhat.io/openshift4
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/openshift-community-operators
    source: quay.io/openshift-community-operators
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/kubebuilder
    source: gcr.io/kubebuilder
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/ubi8
    source: registry.redhat.io/ubi8
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/ubi9
    source: registry.redhat.io/ubi9
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/openshift-pipelines
    source: registry.redhat.io/openshift-pipelines
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/openshift-serverless-1
    source: registry.redhat.io/openshift-serverless-1
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/turbonomic
    source: registry.connect.redhat.com/turbonomic
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/rh-marketplace
    source: quay.io/rh-marketplace
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/rh-marketplace
    source: registry.connect.redhat.com/rh-marketplace
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/cert-manager
    source: registry.redhat.io/cert-manager
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path }}/lvms4
    source: registry.redhat.io/lvms4
    mirrorSourcePolicy: NeverContactSource
