apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: mas-redhat-release{{ idms_suffix_redhat }}
  labels:
    mas.ibm.com/idmsContent: redhat-release
  annotations:
    mas.ibm.com/idmsRegistry: "{{ registry_private_url_with_path_redhat }}"
    mas.ibm.com/idmsRegistryHost: "{{ registry_private_host }}"
    mas.ibm.com/idmsRegistryPort: "{{ registry_private_port }}"
    mas.ibm.com/idmsRegistryPrefix: "{{ registry_prefix_redhat}}"
spec:
  imageDigestMirrors:
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/openshift/release
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/openshift/release-images
    source: quay.io/openshift-release-dev/ocp-release
    mirrorSourcePolicy: NeverContactSource
