# Admin deployment names
arcgis_admin_deployment_name: "{{ arcgis_sitename }}-rest-administrator-api"
arcgis_admin_service_name: "{{ arcgis_sitename }}-rest-administrator-api"
arcgis_admin_ingress_name: "{{ arcgis_sitename }}-ingress-rest-administrator-api"

# Admin RBAC names
arcgis_admin_service_account_name: "{{ arcgis_sitename }}-admin-serviceaccount"
arcgis_admin_role: "{{ arcgis_sitename }}-admin-role"
arcgis_admin_role_binding: "{{ arcgis_sitename }}-admin-rolebinding"

# Framework Configmap/Secret names
arcgis_admin_log_settings_config_map: "{{ arcgis_sitename }}-log-settings"
arcgis_spatiotemporal_index_store_info_secret_name: "{{ arcgis_sitename }}-spatiotemporal-index-store-info"
arcgis_env_variables_secret_name: "{{ arcgis_sitename }}-env-variables"
arcgis_site_info_secret_name: "{{ arcgis_sitename }}-site-info"
arcgis_server_context_secret_name: "{{ arcgis_sitename }}-server-context"
arcgis_config_last_modified_config_map: "{{ arcgis_sitename }}-config-last-modified"
arcgis_queue_config_map: "{{ arcgis_sitename }}-queue-config"

## Elasticsearch properties
arcgis_elasticsearch_service_name: "{{ arcgis_sitename }}-spatiotemporal-index-store-abcde"
