---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ eso_store_name }}
spec:
  provider:
    ibm:
      serviceUrl: {{ ibm_sm_instance_url }}
      auth:
        secretRef:
          secretApiKey:
            name: {{ eso_store_name }}-apikey
            namespace: {{ eso_namespace }}
            key: apiKey