---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ eso_store_name }}
  namespace: {{ ibm_sm_store_namespace }}
spec:
  provider:
    ibm:
      serviceUrl: {{ ibm_sm_instance_url }}
      auth:
        secretRef:
          secretApiKey:
            name: {{ eso_store_name }}-apikey
            namespace: {{ ibm_sm_store_namespace }}
            key: apiKey