---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ aiservice_sls_secret }}
  namespace: {{ aiservice_namespace }}
  labels:
    mas.ibm.com/applicationId: aiservice
    mas.ibm.com/instanceId: "{{ aiservice_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
        "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  SLS_REGISTRATION_KEY: "{{ slscfg.registration_key | b64encode }}"
