---
kind: Secret
apiVersion: v1
metadata:
  name: {{ mas_aibroker_db2_secret }}
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  username: "{{ db2cfg.username | b64encode }}"
  password: "{{ db2cfg.password | b64encode }}"
type: Opaque
