---
kind: Secret
apiVersion: v1
metadata:
  name: {{ aiservice_wx_cacert_secret }}
  namespace: aiservice-{{ aiservice_instance_id }}
data:
  wx_ca_crt: {{ aiservice_watsonxai_ca_crt | b64encode }}
type: Opaque
