---
kind: Secret
apiVersion: v1
metadata:
  name: {{ aiservice_wx_cacert_secret }}
  namespace: aiservice-{{ aiservice_instance_id }}
data:
{% if aiservice_watsonxai_ca_crt is defined and aiservice_watsonxai_ca_crt | length > 0 %}
  wx_ca_crt: {{ aiservice_watsonxai_ca_crt | b64encode }}
{% endif %}
  wx_ca_crt: {}
type: Opaque
