---
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: openshift-config
data:
  {{ registry_private_host }}..{{ registry_private_port }}: |
    {{ registry_private_ca_crt | indent(4, False) }}
