apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: ibm-mas-and-dependencies
spec:
  repositoryDigestMirrors:
    # 1. IBM Container Registry
    # -------------------------------------------------------------------------
    # All IBM operators live in the cpopen namespace
    - source: icr.io/cpopen
      mirrors:
        - {{ registry_private_url }}/cpopen
    # IBM truststoremanager worker image lives in ibm-truststore-mgr namespace
    - source: icr.io/ibm-truststore-mgr
      mirrors:
        - {{ registry_private_url }}/ibm-truststore-mgr
    # IBM SLS content live in ibm-sls namespace
    - source: icr.io/ibm-sls
      mirrors:
        - {{ registry_private_url }}/ibm-sls
    # IBM UDS content live in ibm-uds namespace
    - source: icr.io/ibm-uds
      mirrors:
        - {{ registry_private_url }}/ibm-uds
    # IBM Db2 Universal operator content live in db2u namespace
    - source: icr.io/db2u
      mirrors:
        - {{ registry_private_url }}/db2u

    # 2. IBM Entitled Container Registry
    # -------------------------------------------------------------------------
    # All IBM entitled container images live under cp namespace
    - source: cp.icr.io/cp
      mirrors:
        - {{ registry_private_url }}/cp

    # 3. Red Hat Quay.io Container Registry
    # -------------------------------------------------------------------------
    # IBM common services live here
    - source: quay.io/opencloudio
      mirrors:
        - {{ registry_private_url }}/opencloudio
    # MongoDb Community Edition Operator & associated container images
    - source: quay.io/mongodb
      mirrors:
        - {{ registry_private_url }}/mongodb
    # Eclipse Amlen - Message Broker for IoT/Mobile/Web. Mainly uses MQTT v3.x and v5.
    - source: quay.io/amlen
      mirrors:
        - {{ registry_private_url }}/amlen
    # Non-product IBM Maximo Application Suite images (e.g. db2 backup operator & mirror of dockerhub mongodb image)
    - source: quay.io/ibmmas
      mirrors:
        - {{ registry_private_url }}/ibmmas

{% if artifactory_username != "" %}
    # 4. Artifactory
    # -------------------------------------------------------------------------
    - source: docker-na-public.artifactory.swg-devops.com/wiotp-docker-local
      mirrors:
        - docker-us-south-edge-public.artifactory.swg-devops.com/wiotp-docker-local
{% endif %}
