apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: ibm-mas-redhat-release
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ registry_private_url }}/{{ registry_prefix }}openshift/release
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - {{ registry_private_url }}/{{ registry_prefix }}openshift/release-images
    source: quay.io/openshift-release-dev/ocp-release
