---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: certified-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Certified Operators
  publisher: Red Hat
  image: {{ registry_private_url }}/redhat/certified-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: community-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Community Operators
  publisher: Red Hat
  image: {{ registry_private_url }}/redhat/community-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators
  publisher: Red Hat
  image: {{ registry_private_url }}/redhat/redhat-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: ibm-mas-redhat-catalogs
  labels:
    operators.openshift.org/catalog: "true"
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ registry_private_url }}/amq7
    source: registry.redhat.io/amq7
  - mirrors:
    - {{ registry_private_url }}/rhel8
    source: registry.redhat.io/rhel8
  - mirrors:
    - {{ registry_private_url }}/openshift-community-operators
    source: quay.io/openshift-community-operators
  - mirrors:
    - {{ registry_private_url }}/ubi8
    source: registry.access.redhat.com/ubi8
  - mirrors:
    - {{ registry_private_url }}/kubebuilder
    source: gcr.io/kubebuilder
  - mirrors:
    - {{ registry_private_url }}/openshift-pipelines
    source: registry.redhat.io/openshift-pipelines
  - mirrors:
    - {{ registry_private_url }}/crunchydata
    source: registry.connect.redhat.com/crunchydata
  - mirrors:
    - {{ registry_private_url }}/ubi8
    source: registry.redhat.io/ubi8
  - mirrors:
    - {{ registry_private_url }}/amq-streams
    source: registry.redhat.io/amq-streams
  - mirrors:
    - {{ registry_private_url }}/openshift-serverless-1
    source: registry.redhat.io/openshift-serverless-1
  - mirrors:
    - {{ registry_private_url }}/grafana-operator
    source: quay.io/grafana-operator
  - mirrors:
    - {{ registry_private_url }}/ocp-tools-4-tech-preview
    source: registry.redhat.io/ocp-tools-4-tech-preview
