---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ aiservice_mariadb_secret }}"
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  username: "{{ aiservice_db_user | b64encode }}"
  password: "{{ aiservice_db_secret_value | b64encode }}"
type: Opaque