---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Maximo Operators ({{ mas_catalog_version }} Dev)
  publisher: IBM
  description: Catalog Source for IBM Maximo Application Suite (Internal Use Only)
  sourceType: grpc
  image: wiotp-docker-local.artifactory.swg-devops.com/cpopen/ibm-maximo-operator-catalog:{{ mas_catalog_version }}
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100
