---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Maximo Operators ({{ mas_catalog_version }})
  publisher: IBM
  description: Online Catalog Source for IBM Maximo Application Suite
  sourceType: grpc
  image: icr.io/cpopen/ibm-maximo-operator-catalog:{{ mas_catalog_version }}
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 90
