---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ cloudflare_stg_issuer_name }}"
  namespace: "{{ instance_namespace }}"
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: "{{ cloudflare_email }}"
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
    - dns01:
        cloudflare:
          email: "{{ cloudflare_email }}"
          apiTokenSecretRef:
            name: cloudflare-api-token-secret
            key: api-token
