apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ mas_instance_id }}-cloudflare-test"
  namespace: "{{ cert_manager_namespace }}"
spec:
  dnsNames:
    - "testdns-{{ mas_instance_id }}.{{ cloudflare_zone }}"
  issuerRef:
    kind: ClusterIssuer
    name: "{{ cloudflare_stg_issuer_name }}"
  secretName: "{{ mas_instance_id }}-cloudflare-test"
  renewBefore: 720h0m0s # 30 days
  duration: 8760h0m0s # 1 year
