---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-assemblies-operator
  namespace: "{{ cpd_instance_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
imagePullSecrets:
  - name: ibm-entitlement-key
metadata:
  name: runtime-manager-api
  namespace: "{{ cpd_instance_namespace }}"
