---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-watcher
  namespace: aiservice-{{ aiservice_instance_id }}
  labels:
    app: km-watcher
data:
  PIPELINES: aiservice-{{ aiservice_instance_id }}
  TENANTS_BUCKET: {{ aiservice_storage_tenants_bucket }}
  EXCLUDE_TENANTS: {{ aiservice_provision_tenant }}
