---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-watcher
  namespace: mas-{{ aiservice_instance_id }}-aibroker
  labels:
    app: km-watcher
data:
  PIPELINES: mas-{{ aiservice_instance_id }}-aibroker
  TENANTS_BUCKET: {{ aiservice_storage_tenants_bucket }}
  EXCLUDE_TENANTS: {{ aiservice_provision_tenant }}
