---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-watcher
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-watcher
data:
  PIPELINES: mas-{{ mas_instance_id }}-aibroker
{% if mas_app_channel.startswith('9.0') %}
  CONTROLLER_URL: "https://km-controller:8443"
{% elif mas_app_channel.startswith('9.1') %}
  TENANTS_BUCKET: {{ aiservice_storage_tenants_bucket }}
  EXCLUDE_TENANTS: {{ aiservice_provision_tenant }}
{% endif %}
