---
apiVersion: v1
kind: Service
metadata:
  name: km-watcher
  namespace: mas-{{ aiservice_instance_id }}-aibroker
spec:
  ports:
    - name: http
      port: 3000
      targetPort: http
  selector:
    app: km-watcher
  type: ClusterIP
