---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: km-watcher-role
  namespace: mas-{{ aiservice_instance_id }}-aibroker
rules:
  - verbs:
      - list
      - watch
    apiGroups:
      - ''
    resources:
      - events
      - pods
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: km-watcher-binding
  namespace: mas-{{ aiservice_instance_id }}-aibroker
subjects:
  - kind: ServiceAccount
    name: km-watcher
    namespace: mas-{{ aiservice_instance_id }}-aibroker
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: km-watcher-role
