---
apiVersion: aiservice.ibm.com/v1
kind: AIServiceApp
metadata:
  name: {{ aiservice_instance_id }}
  namespace: {{ aiservice_namespace }}
  annotations:
    ansible.sdk.operatorframework.io/verbosity: "{{ aiservice_operator_log_level }}"
  labels:
    aiservice.ibm.com/instanceId: {{ aiservice_instance_id }}
    app.kubernetes.io/instance: {{ aiservice_instance_id }}
spec:
  kmodels:
    s3:
      pipelinesBucket: {{ aiservice_s3_pipelines_bucket }}
      templatesBucket: {{ aiservice_s3_templates_bucket }}
      tenantsBucket: {{ aiservice_s3_tenants_bucket }}
    provisionTenant: {{ aiservice_provision_tenant }}
    modelId:
      uniqueLength: "15"
      prefix: "m"

  settings:
    # Dependencies
    dro:
      url: "{{ drocfg.url }}"
      dro_token_secret: "{{ aiservice_dro_token_secret }}"
      ca: "{{ drocfg.ca | b64encode }}"
    jdbc:
      url: "{{ jdbccfg.url }}"
      credentials_secret: "{{ aiservice_jdbc_secret }}"
      ca: "{{ jdbccfg.ca | b64encode }}"
      use_aws_db2: "{{ use_aws_db2 }}"
    minio:
      host: "{{ aiservice_s3_host }}"
      port: "{{ aiservice_s3_port }}"
      credentials_secret: "{{ aiservice_minio_secret }}"
    s3:  # Optional shared S3 config. Tenant-level config takes precedence over this
      bucketPrefix: "{{ aiservice_s3_bucket_prefix }}"
      region: "{{ aiservice_s3_region }}"
      endpointUrl: "{{ aiservice_s3_endpoint_url }}"

    # AI Service
    cluster_domain: "{{ cluster_domain }}"
    in_saas_env: "{{ aiservice_saas }}"
    is_external_route: {{ aiservice_is_external_route }}
    environment_type: "{{ environment_type }}"

    # IBM Container Registry
    icr:
      cp: "{{ mas_icr_cp }}"
      cpopen: "{{ mas_icr_cpopen }}"
