---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-isvc
  namespace: "{{ mas_aibroker_tenant_namespace }}"
spec:
  podSelector:
    matchLabels:
      component: predictor
  ingress:
    - {}
  policyTypes:
    - Ingress
