# https://longhorn.io/docs/1.10.0/references/helm-values/
openshift:
  enabled: true
  ui:
    route: "longhorn-ui"
    port: 443
    proxy: 8443

image:
  openshift:
    oauthProxy:
      repository: quay.io/openshift/origin-oauth-proxy
      tag: {{ ocp_release }}

persistence:
  defaultClassReplicaCount: {{ longhorn_replica_count }}

defaultSettings:
  taintToleration: "node-role.kubernetes.io/master:NoSchedule"
