---
apiVersion: operator.ibm.com/v1alpha1
kind: IBMLicensing
metadata:
  name: instance
spec:
  datasource: datacollector
  httpsEnable: true
  license:
    accept: true
  resources: {}
  usageContainer:
    resources: {}
  version: "{{ cpd_ibm_licensing_version }}"
