---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ibm-licensing-operator-app
  namespace: "{{ cpd_cs_control_namespace }}"
spec:
  targetNamespaces:
    - "{{ cpd_cs_control_namespace }}"
  upgradeStrategy: Default
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-licensing-operator-app
  namespace: "{{ cpd_cs_control_namespace }}"
  labels:
    operators.coreos.com/ibm-licensing-operator-app.{{ cpd_cs_control_namespace }}: ''
spec:
  channel: "{{ cpd_ibm_licensing_channel }}"
  installPlanApproval: Automatic
  name: ibm-licensing-operator-app
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace