---
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  licenses_urls: |-
    SWHP:
      url: "https://ibm.biz/~xUvkPaDcr"
      description: "IBM Software Hub Premium Cartridge"
    SWHAI:
      url: "https://ibm.biz/~ft831SIGV"
      description: "IBM Softare Hub AI Assistant Cartridge"
    EE:
      url: https://ibm.biz/~vCxTp4zqJ
      description: "IBM Cloud Pak for Data Enterprise Edition"
    SE:
      url: https://ibm.biz/~LBlmmMZYB
      description: "IBM Cloud Pak for Data Standard Edition"
    WXAI:
      url: https://ibm.biz/~LVkN4AoP6
      description: "IBM watsonx.ai"
    DB2CE:
      url: https://ibm.biz/BdnPB7
      description: "IBM Db2 Community Edition"
    DB2SE:
      url: https://ibm.biz/BdnPdB
      description: "IBM Db2 Standard Edition Cartridge for IBM Cloud Pak for Data"
    DB2AE:
      url: https://ibm.biz/BdnPBW
      description: "IBM Db2 Advanced Edition Cartridge for IBM Cloud Pak for Data"
    DG:
      url: "https://ibm.biz/dg4zos_v320"
      description: "IBM Data Gate for z/OS with Cloud Pak for Data"
    DGWXD:
      url: "https://ibm.biz/dgx_v14"
      description: "IBM Data Gate for watsonx"
    DGWXDB:
      url: "https://ibm.biz/wxd-dgx_v12"
      description: "IBM watsonx.data with Data Gate for IBM Z"
    DGWXDPB:
      url: "https://ibm.biz/wxdprem-dgx12"
      description: "IBM watsonx.data Premium with Data Gate for IBM Z"
    DGFS:
      url: "https://ibm.biz/dg4fs_v14"
      description: "IBM Data Gate for Financial Services"
    IKCS:
      url: https://ibm.biz/Bdmm4V
      description: "IBM Knowledge Catalog Standard"
    IKCP:
      url: https://ibm.biz/Bdmm4J
      description: "IBM Knowledge Catalog Premium"
    IDRC:
      url: https://ibm.biz/~vJhc83GAi
      description: "IBM Data Replication Cartridge"
    IIDRC:
      url: https://ibm.biz/~nkK2JTOG8
      description: "IBM InfoSphere Data Replication Cartridge"
    IDRM:
      url: https://ibm.biz/~YJwkoXfFL
      description: "IBM Data Replication Modernization"
    IIDRM:
      url: https://ibm.biz/~YIF5gfbDY
      description: "IBM InfoSphere Data Replication Modernization"
    IDRZOS:
      url: https://ibm.biz/~bb3zLXPb5
      description: "IBM Data Replication for Db2 z/OS Cartridge"
    IIDRWXTO:
      url: https://ibm.biz/~PtHRBWWZ8
      description: "IBM InfoSphere Data Replication for watsonx.data Cartridge"
    IIDRWXAO:
      url: https://ibm.biz/~cPaC43grZ
      description: "IBM InfoSphere Data Replication Cartridge Add-on for IBM watsonx.data"
    WXD:
      url: https://ibm.biz/~1BbgyM6Na
      description: "IBM watsonx.data"
    WXDP:
      url: https://ibm.biz/~XbAQlhtwO
      description: "IBM watsonx.data Premium Edition"
    WCA:
      url: https://ibm.biz/Bdbv9x
      description: "IBM watsonx Code Assistant"
    WCAA:
      url: https://ibm.biz/Bdbv9D
      description: "IBM watsonx Code Assistant for Red Hat Ansible Lightspeed"
    DPH:
      url: https://ibm.biz/~SSeajxt4Q
      description: "IBM Data Product Hub"

  release_components_meta: |-
    ibm_licensing:
      case_version: 4.2.23
      csv_version: 4.2.23
      sub_channel: "v4.2"

    ibm_common_service_operator:
      case_version: 4.19.0
      csv_version: 4.19.0
      sub_channel: "v4.19"
      cr_version: 4.19.0

    ibm_iam_operator:
      case_version: 4.18.0
      cr_version: 4.18.0

    ibm-namespace-scope-operator:
      cr_version: 4.3.6

    postgresql:
      case_version: 5.40.0
      sub_channel: "stable-v1.28"
      csv_version: 1.28.2
      cr_version: 1.28.2

    ibm_pg_operator:
      case_version: 28.3.1
      sub_channel: "v28"
      csv_version: 28.3.1
      cr_version: 28.3.1

    ibm_swhcc:
      case_version: 5.10.0
      csv_version: 6.10.0
      sub_channel: "v6.10"
      cr_version: 5.10.0

    cpd_platform:
      case_version: 5.10.0
      csv_version: 6.10.0
      sub_channel: "v6.10"
      cr_version: 5.10.0

    zen:
      case_version: 6.10.0
      sub_channel: "v6.10"
      csv_version: 6.10.0
      cr_version: 6.10.0

    analyticsengine:
      case_version: 5.4.0
      sub_channel: "v5.4.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    cognos_analytics:
      case_version: 30.0.0
      csv_version: 30.0.0
      cr_version: 30.0.0

    ccs:
      case_version: 13.0.0
      sub_channel: "v13.0"
      csv_version: 13.0.0
      cr_version: 13.0.0

    datarefinery:
      case_version: 13.0.0
      cr_version: 13.0.0

    ws_runtimes:
      case_version: 13.0.0
      cr_version: 13.0.0

    ws:
      case_version: 13.0.0
      cr_version: 13.0.0

    wml:
      case_version: 13.0.0
      cr_version: 5.4.0

    opencontent_opensearch:
      case_version: 1.4.3
      csv_version: 1.4.3
      cr_version: 1.4.3
      sub_channel: "v1.1"

    ibm_redis_cp:
      case_version: 1.4.0
      csv_version: 1.4.0
      sub_channel: "v1.4"
      cr_version: 1.4.0

    br_orchestration:
      case_version: 5.4.0
      sub_channel: "v5.4"
      csv_version: 5.4.0
      cr_version: 5.4.0

    scheduler:
      case_version: 2.0.0
      sub_channel: "v2.0"
      csv_version: 2.0.0
      cr_version: 2.0.0

    cpfs:
      csv_version: 4.19.0
      case_version: 4.19.0
      sub_channel: "v4.19"

    ibm-cert-manager:
      csv_version: 4.2.22
      case_version: 4.2.22
      sub_channel: "v4.2"

    ibm_events_operator:
      case_version: 6.1.1
      cr_version: 4.2.0

    ibm_licensing_v2:
      csv_version: 4.2.23
      case_version: 4.2.23
      sub_channel: "v4.2"

    ibm_usage_metering:
      case_version: 1.0.6
      csv_version: 1.0.6
      sub_channel: "v1.0"
      cr_version: 1.0.6

    platform-config:
      cr_version: 5.10.0

    dashboard:
      case_version: 5.0.0
      sub_channel: "v4.0"
      csv_version: 5.0.0
      cr_version: 5.4.0

    canvasbase:
      case_version: 13.0.0
      cr_version: 13.0.0

    spss:
      case_version: 13.0.0
      cr_version: 13.0.0

    syntheticdata:
      case_version: 13.0.0
      cr_version: 13.0.0

    datastage_ent:
      case_version: 12.0.0
      csv_version: 10.0.0
      cr_version: 5.4.0
      sub_channel: "v10.0"

    datastage_ent_plus:
      case_version: 12.0.0
      csv_version: 10.0.0
      cr_version: 5.4.0
      sub_channel: "v10.0"

    informix:
      case_version: 10.2.0
      cr_version: 10.2.0

    informix_cp4d:
      case_version: 10.2.0
      cr_version: 10.2.0

    openscale:
      case_version: 11.0.0
      cr_version: 5.4.0

    db2aaservice:
      case_version: 5.4.0
      sub_channel: "v8.0"
      csv_version: 8.0.0
      cr_version: 5.4.0

    db2oltp:
      case_version: 5.4.0
      sub_channel: "v8.0"
      csv_version: 8.0.0
      cr_version: 5.4.0

    db2wh:
      case_version: 5.4.0
      sub_channel: "v8.0"
      csv_version: 8.0.0
      cr_version: 5.4.0

    db2u:
      case_version: 8.0.0
      sub_channel: "v8.0"
      csv_version: 8.0.0
      cr_version: 8.0.0

    datagate:
      case_version: 15.4.0
      cr_version: 15.4.0

    dods:
      case_version: 13.0.0
      cr_version: 13.0.0

    hee:
      case_version: 5.4.0
      sub_channel: "v5.40"
      csv_version: 5.4.0
      cr_version: 5.4.0

    dv:
      case_version: 9.0.0
      sub_channel: "v9.0"
      csv_version: 9.0.0
      cr_version: 3.4.0

    bigsql:
      case_version: 15.0.0
      sub_channel: "v15.0"
      csv_version: 15.0.0
      cr_version: 8.5.0

    planning_analytics:
      case_version: 5.4.0
      sub_channel: "v12.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    rstudio:
      case_version: 13.0.0
      sub_channel: "v13.0"
      csv_version: 13.0.0
      cr_version: 13.0.0

    watson_assistant:
      case_version: 5.14.0
      sub_channel: "v5.14"
      csv_version: 5.14.0
      cr_version: "5.4.0"

    watson_discovery:
      case_version: 12.0.0
      sub_channel: "v12.0"
      csv_version: 12.0.0
      cr_version: 5.4.0

    watson_speech:
      case_version: 12.0.0
      sub_channel: "v12.0"
      csv_version: 12.0.0
      cr_version: 5.4.0

    wkc:
      case_version: 5.4.0
      sub_channel: "v10.0"
      csv_version: 2.4.0
      cr_version: 5.4.0

    ikc_standard:
      case_version: 5.4.0
      sub_channel: "v9.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    ikc_premium:
      case_version: 5.4.0
      sub_channel: "v9.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    datalineage:
      case_version: 5.4.0
      sub_channel: "v8.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    udp:
      case_version: 5.4.0
      sub_channel: "v5.40"
      csv_version: 5.4.0
      cr_version: 5.4.0

    productmaster:
      case_version: 10.0.0
      csv_version: 10.0.0
      sub_channel: "v10.0"
      cr_version: 10.0.0

    dataproduct:
      case_version: 5.4.0
      sub_channel: "v9.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    semantic_automation:
      case_version: 5.4.0
      sub_channel: "v9.0"
      csv_version: 5.4.0
      cr_version: 5.4.0

    productmaster_instance:
      cr_version: 10.0.0

    dp:
      case_version: 12.0.0
      csv_version: 12.0.0
      sub_channel: "v12.0"
      cr_version: 5.4.0

    dmc:
      case_version: 8.12.0
      csv_version: 5.12.0
      cr_version: 5.4.0
      sub_channel: "v5.12"

    openpages:
      case_version: 11.0.0
      csv_version: 11.0.0
      cr_version: 10.0.0
      sub_channel: "v11.0"

    mantaflow:
      case_version: 2.5.0
      csv_version: 2.5.0
      sub_channel: "v2.5"
      cr_version: 42.16.0

    match360:
      case_version: 4.12.0
      cr_version: 4.12.43

    model_gateway:
      case_version: 13.0.0
      cr_version: 13.0.0

    opencontent_rabbitmq:
      case_version: 1.4.0
      csv_version: 1.4.0
      sub_channel: "v1.0"
      cr_version: 1.4.0

    opencontent_fdb:
      case_version: 5.4.0
      csv_version: 5.4.0
      cr_version: 5.4.0
      sub_channel: "v5.4"

    fdb_k8s:
      csv_version: 5.4.0
      sub_channel: "v5.4"

    opencontent_minio:
      case_version: 1.0.23
      csv_version: 1.0.18

    opencontent_etcd:
      case_version: 2.0.57
      csv_version: 1.0.47

    opencontent_auditwebhook:
      case_version: 1.0.24
      csv_version: 0.3.1

    watson_gateway:
      case_version: 2.3.0
      csv_version: 2.3.0
      cr_version: 2.3.0

    data_governor:
      case_version: 9.0.0
      csv_version: 9.0.0
      sub_channel: v9.0
      cr_version: 3.35.5

    ws_pipelines:
      case_version: 13.0.0
      sub_channel: "v13.0"
      csv_version: 13.0.0
      cr_version: 5.4.0

    edb_cp4d:
      case_version: 5.40.0
      sub_channel: "v5.40"
      csv_version: 5.40.0
      cr_version: 5.40.0

    dpra:
      case_version: 1.21.0
      sub_channel: "v1.21"
      csv_version: 1.21.0
      cr_version: 1.21.0

    factsheet:
      case_version: 8.0.0
      cr_version: 5.4.0

    replication:
      case_version: 5.4.0
      cr_version: 5.4.0

    voice_gateway:
      case_version: 1.14.0
      csv_version: 1.14.0
      sub_channel: v1.14
      cr_version: 1.14.0

    watsonx_data:
      case_version: 7.0.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 2.4.0

    watsonx_data_premium:
      case_version: 7.0.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 2.4.0

    wxd_query_optimizer:
      component_dependencies:
        - db2u

    watsonx_ai:
      case_version: 13.0.0
      cr_version: 13.0.0

    watsonx_ai_ifm:
      case_version: 13.0.0
      cr_version: 13.0.0

    watsonx_bi_assistant:
      case_version: 3.5.0
      cr_version: 3.5.0

    wca_base:
      case_version: 5.4.0
      cr_version: 5.4.0

    wca_ansible:
      case_version: 5.4.0
      cr_version: 5.4.0

    wca:
      case_version: 5.4.0
      cr_version: 5.4.0

    wca_z_agentic:
      case_version: 2.1.0
      cr_version: 2.8.0

    ibm_neo4j:
      case_version: 1.4.0
      sub_channel: "v5.0"
      csv_version: 1.4.0
      cr_version: 1.4.0

    watsonx_governance:
      case_version: 6.0.0
      cr_version: 2.4.0

    watsonx_orchestrate:
      case_version: 8.0.0
      sub_channel: "v8.0"
      csv_version: 8.0.0
      cr_version: "8.0.0"

    watsonx_dataintegration:
      case_version: 2.5.0
      cr_version: 2.4.0

    watsonx_dataintelligence:
      case_version: 2.4.0
      sub_channel: "v2.40"
      csv_version: 2.4.0
      cr_version: 2.4.0

    wca_z_understand:
      case_version: 2.0.0
      csv_version: 2.0.0
      sub_channel: v2.0
      cr_version: 2.8.30

    ibm-databand:
      case_version: 54.0.0
      cr_version: 54.0.0

    datastax_mc:
      case_version: 1.18.1
      cr_version: 1.18.1

    ibm_wxd_opensearch:
      case_version: 3.10.0
      cr_version: 3.10.0

    ibm_wxd_openrag:
      case_version: 1.0.0
      cr_version: 1.0.0
