---
# This config map is created via cpd-cli manage apply-cr command: https://www.ibm.com/docs/en/cloud-paks/cp-data/4.6.x?topic=si-installing-components
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-
    scheduler:
        case_version: 1.26.0
        sub_channel: "v1.26"
        csv_version: 1.26.0
        cr_version: 1.26.0

    cpfs:
        csv_version: 4.8.0
        case_version: 4.8.0
        sub_channel: "v4.8"

    ibm-cert-manager:
        csv_version: 4.2.5
        case_version: 4.2.5
        sub_channel: "v4.2"

    ibm_events_operator:
        case_version: 5.0.1
        sub_channel: "v3"
        csv_version: 5.0.1

    ibm-licensing:
        csv_version: 4.2.5
        case_version: 4.2.5
        sub_channel: "v4.2"

    cpd_platform:
        case_version: 5.0.1
        csv_version: 6.0.1
        sub_channel: "v6.0"
        cr_version: 5.0.1 #should be the same as release_version

    zen:
        case_version: 6.0.3
        sub_channel: "v6.0"
        csv_version: 6.0.3
        cr_version: 6.0.3


    analyticsengine:
        case_version: 9.1.0
        sub_channel: "v6.1"
        csv_version: 6.1.0
        cr_version: 5.0.1

    cognos_analytics:
        case_version: 26.1.0
        sub_channel: "v26.1"
        cr_version: 26.1.0
        csv_version: 26.1.0

    ccs:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    dashboard:
        case_version: 3.1.0
        sub_channel: "v3.1"
        csv_version: 3.1.0
        cr_version: 5.0.1

    datarefinery:
        case_version: 9.1.0
        csv_version: 9.1.0
        sub_channel: "v9.1"
        cr_version: 9.1.0

    canvasbase:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    spss:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    syntheticdata:
        licenses_urls:
        WXAI: https://ibm.biz/Bdm7ds
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    datastage_ent:
        case_version: 8.1.0
        csv_version: 6.1.0
        cr_version: 5.0.1
        sub_channel: "v6.1"

    datastage_ent_plus:
        case_version: 8.1.0
        csv_version: 6.1.0
        cr_version: 5.0.1
        sub_channel: "v6.1"

    informix:
        case_version: 8.1.0
        sub_channel: "v8.1"
        csv_version: 8.1.0

    informix_cp4d:
        case_version: 8.1.0
        sub_channel: "v8.1"
        csv_version: 8.1.0
        cr_version: 8.1.0

    openscale:
        case_version: 7.1.0
        sub_channel: "v6.1"
        csv_version: 6.1.0
        cr_version: 5.0.1

    ws:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    ws_runtimes:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0
        default_image_groups:
        - ibmwsRuntimes241

    db2aaservice:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    db2oltp:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    db2wh:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    db2u:
        case_version: 6.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        multi_arch_images: cpopen/db2u-operator,cpopen/db2u-day2-operator

    datagate:
        case_version: 8.1.0
        sub_channel: "v6.1"
        csv_version: 6.1.0
        cr_version: 6.1.0

    dods:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    hee:
        case_version: 5.0.1
        sub_channel: "v5.01"
        csv_version: 5.0.1
        cr_version: 5.0.1

    dv:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 5.0.0
        cr_version: 3.0.0

    bigsql:
        case_version: 11.0.0
        sub_channel: "v11.0"
        csv_version: 11.0.0
        cr_version: 7.7.0

    planning_analytics:
        case_version: 5.0.1
        sub_channel: "v8.1"
        csv_version: 5.0.1
        cr_version: 5.0.1

    rstudio:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 9.1.0

    watson_assistant:
        case_version: 5.1.0
        sub_channel: "v5.1"
        csv_version: 5.1.0
        cr_version: "5.0.1"

    watson_discovery:
        case_version: 8.1.0
        sub_channel: "v8.1"
        csv_version: 8.1.0
        cr_version: 5.0.1

    watson_speech:
        case_version: 8.1.0
        sub_channel: "v8.1"
        csv_version: 8.1.0
        cr_version: 5.0.1

    wkc:
        case_version: 5.0.1
        sub_channel: "v6.1"
        csv_version: 2.0.1
        cr_version: 5.0.1

    ikc_standard:
        licenses_urls:
        IKCS: https://ibm.biz/Bdmm4V
        case_version: 5.0.1
        sub_channel: "v5.1"
        csv_version: 5.0.1
        cr_version: 5.0.1

    ikc_premium:
        licenses_urls:
        IKCP: https://ibm.biz/Bdmm4J
        case_version: 5.0.1
        sub_channel: "v5.1"
        csv_version: 5.0.1
        cr_version: 5.0.1

    productmaster:
        case_version: 6.1.0
        csv_version: 6.1.0
        sub_channel: "v6.1"
        cr_version: 6.1.0

    dataproduct:
        case_version: 5.0.1
        sub_channel: "v5.1"
        csv_version: 1.0.1
        cr_version: 5.0.1

    productmaster_instance:
        cr_version: 6.1.0

    dp:
        case_version: 8.7.0
        csv_version: 8.7.0
        sub_channel: "v8.7"
        cr_version: 5.0.1

    wml:
        case_version: 9.1.0
        sub_channel: "v6.1"
        csv_version: 6.1.0
        cr_version: 5.0.1

    wml_accelerator:
        case_version: 5.0.1
        sub_channel: "v6.1"
        csv_version: 6.1.0
        cr_version: 5.0.1

    dmc:
        case_version: 8.1.0
        csv_version: 5.1.0
        cr_version: 5.0.1
        sub_channel: "v5.1"

    openpages:
        case_version: 7.1.0
        csv_version: 7.1.0
        cr_version: 9.002.2
        sub_channel: "v7.1"

    openpages_instance:
        cr_version: 9.002.2

    mantaflow:
        case_version: 1.22.0
        sub_channel: "v1.22"
        csv_version: 1.22.0
        cr_version: 42.6.3

    match360:
        case_version: 4.1.0
        csv_version: 4.1.0
        cr_version: 4.1.16
        sub_channel: "v4.1"

    opencontent_elasticsearch:
        case_version: 1.1.2213
        csv_version: 1.1.2213
        cr_version: 1.1.2213
        sub_channel: "v1.1"

    opencontent_redis:
        case_version: 1.6.11
        csv_version: 1.6.11
        sub_channel: "v1.6"

    ibm_redis_cp:
        case_version: 1.1.10
        csv_version: 1.1.10
        sub_channel: "v1.1"

    opencontent_rabbitmq:
        case_version: 1.0.37
        csv_version: 1.0.28
        sub_channel: "v1.0"

    opencontent_fdb:
        case_version: 5.0.1
        csv_version: 5.0.1
        cr_version: 5.0.1
        sub_channel: "v5.0"

    fdb_k8s:
        csv_version: 5.0.1
        sub_channel: "v5.0"

    opencontent_minio:
        case_version: 1.0.23
        csv_version: 1.0.18

    opencontent_etcd:
        case_version: 2.0.37
        csv_version: 1.0.28

    opencontent_auditwebhook:
        case_version: 1.0.24
        csv_version: 0.3.1

    watson_gateway:
        case_version: 2.0.33
        csv_version: 1.0.30

    data_governor:
        case_version: 5.1.2
        csv_version: 5.1.2
        sub_channel: v5.1

    model_train:
        case_version: 1.2.14
        csv_version: 2.0.0
        sub_channel: v2.0

    ws_pipelines:
        case_version: 9.1.0
        sub_channel: "v9.1"
        csv_version: 9.1.0
        cr_version: 5.0.1

    postgresql:
        case_version: 4.25.0
        sub_channel: "stable"
        csv_version: 1.18.12
        #operands_supported: "12.18, 13.14, 14.11, 15.6, 16.2"

    edb_cp4d:
        case_version: 5.1.0
        sub_channel: "v5.1"
        csv_version: 5.1.0
        cr_version: 5.1.0
        #operands_supported: "12.19, 13.15, 14.12, 15.7, 16.3"

    mongodb:
        case_version: 5.1.0
        sub_channel: "stable"
        csv_version: 1.26.0
        # MongoDB_Ops_Manager: "7.0.7"
        # Mongodb_server: "6.0.15-ent, 7.0.11-ent"

    mongodb_cp4d:
        case_version: 5.1.0
        sub_channel: "v5.1"
        csv_version: 5.1.0
        cr_version: 5.1.0

    estap:
        case_version: 1.1.0
        sub_channel: "v1.1"
        csv_version: 1.1.0
        cr_version: 1.1.0

    dpra:
        case_version: 1.16.0
        sub_channel: "v1.16"
        csv_version: 1.16.0
        cr_version: 1.16.0

    factsheet:
        case_version: 4.1.0
        csv_version: 4.1.0
        sub_channel: "v4.1"
        cr_version: 5.0.1

    replication:
        licenses_urls:
        IDRC: https://ibm.biz/Bdmf2H
        IIDRC: https://ibm.biz/Bdmf24
        IDRM: https://ibm.biz/Bdmf2r
        IIDRM: https://ibm.biz/Bdmf2s
        case_version: 5.0.1
        csv_version: 4.1.0
        cr_version: 5.0.1
        sub_channel: "v4.1"

    dfo:
        case_version: 1.0.0
        sub_channel: "beta"
        csv_version: 1.0.0
        cr_version: 1.0.0

    voice_gateway:
        case_version: 1.4.0
        csv_version: 1.4.0
        sub_channel: v1.4
        cr_version: 1.4.0

    watsonx_data:
        licenses_urls:
        WXD: https://ibm.biz/BdKEbS
        case_version: 3.1.0
        sub_channel: "v3.1"
        csv_version: 3.1.0
        cr_version: 2.0.1

    wxd_query_optimizer:
        component_dependencies:
        - db2u

    watsonx_ai:
        licenses_urls:
        WXAI: https://ibm.biz/Bdm7ds
        case_version: 9.1.0
        csv_version: 9.1.0
        sub_channel: v9.1
        cr_version: 9.1.0

    watsonx_ai_ifm:
        licenses_urls:
        WXAI: https://ibm.biz/Bdm7ds
        case_version: 9.1.0
        csv_version: 9.1.0
        sub_channel: v9.1
        cr_version: 9.1.0

    wca_ansible:
        case_version: 1.1.0
        csv_version: 1.1.0
        sub_channel: v1.1
        cr_version: 5.0.1

    wca_z:
        case_version: 1.1.0
        csv_version: 1.1.0
        sub_channel: v1.1
        cr_version: 5.0.1

    ibm_neo4j:
        case_version: 1.0.1
        sub_channel: "v1.1"
        csv_version: 1.0.1
        cr_version: 1.0.1

    watsonx_governance:
        case_version: 2.1.0
        sub_channel: "v2.1"
        csv_version: 2.1.0
        cr_version: 2.0.1

    watsonx_orchestrate:
        case_version: 2.1.0
        sub_channel: "v2.1"
        csv_version: 2.1.0
        cr_version: "2.1.0"
  release_version: 5.0.1