---
# This config map is created via cpd-cli manage apply-cr command: https://www.ibm.com/docs/en/cloud-paks/cp-data/4.6.x?topic=si-installing-components
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-
    analyticsengine:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    bigsql:
        case_version: 10.0.0
        cr_version: 7.6.0
        csv_version: 10.0.0
        sub_channel: v10.0
    canvasbase:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    ccs:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    cognos_analytics:
        case_version: 25.0.0
        cr_version: 25.0.0
        csv_version: 25.0.0
        sub_channel: v25.0
    cpd_platform:
        case_version: 4.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    cpfs:
        case_version: 4.3.0
        csv_version: 4.3.0
        sub_channel: v4.3
    dashboard:
        case_version: 2.0.0
        cr_version: 4.8.0
        csv_version: 2.0.0
        sub_channel: v2.0
    data_governor:
        case_version: 4.0.4
        csv_version: 4.0.4
        sub_channel: v4.0
    datagate:
        case_version: 7.0.0
        cr_version: 5.0.0
        csv_version: 5.0.0
        sub_channel: v5.0
    datarefinery:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    datastage_ent:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    datastage_ent_plus:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2aaservice:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2oltp:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2u:
        case_version: 5.5.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2wh:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    dfo:
        case_version: 1.0.0
        cr_version: 1.0.0
        csv_version: 1.0.0
        sub_channel: beta
    dmc:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 4.0.0
        sub_channel: v4.0
    dods:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    dp:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 8.0.0
        sub_channel: v8.0
    dpra:
        case_version: 1.12.0
        cr_version: 1.12.0
        csv_version: 1.12.0
        sub_channel: v1.12
    dv:
        case_version: 4.0.0
        cr_version: 2.2.0
        csv_version: 4.0.0
        sub_channel: v4.0
    edb_cp4d:
        case_version: 4.18.0
        cr_version: 4.18.0
        csv_version: 4.18.0
        sub_channel: v4.18
    estap:
        case_version: 1.1.0
        cr_version: 1.1.0
        csv_version: 1.1.0
        sub_channel: v1.1
    factsheet:
        case_version: 3.0.0
        cr_version: 4.8.0
        csv_version: 3.0.0
        sub_channel: v3.0
    fdb_k8s:
        csv_version: 3.1.5
        sub_channel: v3.1
    hee:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 4.80.0
        sub_channel: v4.80
    ibm-cert-manager:
        case_version: 4.2.1
        csv_version: 4.2.1
        sub_channel: v4.2
    ibm-licensing:
        case_version: 4.2.1
        csv_version: 4.2.1
        sub_channel: v4.2
    ibm_events_operator:
        case_version: 4.8.0
        csv_version: 4.8.0
        sub_channel: v3
    ibm_redis_cp:
        case_version: 1.1.3
        csv_version: 1.1.3
        sub_channel: v1.1
    informix:
        case_version: 7.0.0
        csv_version: 7.0.0
        sub_channel: v7.0
    informix_cp4d:
        case_version: 7.0.0
        cr_version: 7.0.0
        csv_version: 7.0.0
        sub_channel: v7.0
    mantaflow:
        case_version: 1.15.0
        cr_version: 42.0.5
        csv_version: 1.15.0
        sub_channel: v1.15
    match360:
        case_version: 3.3.0
        cr_version: 3.3.15
        csv_version: 3.3.0
        sub_channel: v3.3
    model_train:
        case_version: 1.2.11
        csv_version: 1.1.13
        sub_channel: v1.1
    mongodb:
        case_version: 4.18.0
        csv_version: 1.22.0
        sub_channel: stable
    mongodb_cp4d:
        case_version: 4.18.0
        cr_version: 4.18.0
        csv_version: 4.18.0
        sub_channel: v4.18
    opencontent_auditwebhook:
        case_version: 1.0.24
        csv_version: 0.3.1
    opencontent_elasticsearch:
        case_version: 1.1.1845
        cr_version: 1.1.1845
        csv_version: 1.1.1845
        sub_channel: v1.1
    opencontent_etcd:
        case_version: 2.0.31
        csv_version: 1.0.22
    opencontent_fdb:
        case_version: 3.1.5
        cr_version: 3.1.5
        csv_version: 3.1.5
        sub_channel: v3.1
    opencontent_minio:
        case_version: 1.0.23
        csv_version: 1.0.18
    opencontent_rabbitmq:
        case_version: 1.0.31
        csv_version: 1.0.22
        sub_channel: v1.0
    opencontent_redis:
        case_version: 1.6.11
        csv_version: 1.6.11
        sub_channel: v1.6
    openpages:
        case_version: 6.0.0
        cr_version: 9.000.1
        csv_version: 6.0.0
        sub_channel: v6.0
    openpages_instance:
        cr_version: 9.000.1
    openscale:
        case_version: 6.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    planning_analytics:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 4.8.0
        sub_channel: v7.0
    postgresql:
        case_version: 4.18.0
        csv_version: 1.18.7
        sub_channel: stable
    productmaster:
        case_version: 5.0.0
        cr_version: 5.0.0
        csv_version: 5.0.0
        sub_channel: v5.0
    productmaster_instance:
        cr_version: 5.0.0
    replication:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 3.0.0
        licenses_urls:
            IDRC: https://ibm.biz/BdSZ39
            IDRM: https://ibm.biz/BdSZ33
            IIDRC: https://ibm.biz/BdSZ3C
            IIDRM: https://ibm.biz/BdSZ3T
        sub_channel: v3.0
    rstudio:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    scheduler:
        case_version: 1.18.0
        cr_version: 1.18.0
        csv_version: 1.18.0
        sub_channel: v1.18
    spss:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    syntheticdata:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    voice_gateway:
        case_version: 1.3.6
        cr_version: 1.3.6
        csv_version: 1.3.6
        sub_channel: v1.36
    watson_assistant:
        case_version: 4.21.0
        cr_version: 4.8.0
        csv_version: 4.21.0
        sub_channel: v4.21
    watson_discovery:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 7.0.0
        sub_channel: v7.0
    watson_gateway:
        case_version: 2.0.27
        csv_version: 1.0.22
    watson_speech:
        case_version: 7.0.1
        cr_version: 4.8.0
        csv_version: 7.0.1
        sub_channel: v7.0
    watsonx_ai:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        licenses_urls:
            WX: https://ibm.biz/BdSR6v
        sub_channel: v8.0
    watsonx_ai_ifm:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        licenses_urls:
            WX: https://ibm.biz/BdSR6v
        sub_channel: v8.0
    watsonx_data:
        case_version: 2.0.0
        cr_version: 1.1.0
        csv_version: 2.0.0
        licenses_urls:
            WX: https://ibm.biz/BdSuVk
        sub_channel: v2.0
        support_online_upgrade: false
    wkc:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 1.8.0
        rules:
        -   apiGroups:
            - zen.cpd.ibm.com
            resources:
            - zenextensions/status
            verbs:
            - get
        -   apiGroups:
            - zen.cpd.ibm.com
            resources:
            - zenextension
            - zenextensions
            verbs:
            - create
            - delete
            - list
            - watch
            - get
            - patch
            - update
        -   apiGroups:
            - ''
            - batch
            - extensions
            - apps
            - policy
            - rbac.authorization.k8s.io
            - autoscaling
            - route.openshift.io
            - authorization.openshift.io
            - networking.k8s.io
            - metrics.k8s.io
            - project.openshift.io
            resources:
            - pods
            - pods/log
            - poddisruptionbudgets
            - secrets
            - jobs
            - configmaps
            - deployments
            - deployments/scale
            - daemonsets
            - projects
            - statefulsets
            - statefulsets/scale
            - replicasets
            - services
            - services/finalizers
            - persistentvolumeclaims
            - cronjobs
            - pods/exec
            - pods/portforward
            - serviceaccounts
            - namespaces
            - roles
            - rolebindings
            - horizontalpodautoscalers
            - routes
            - routes/custom-host
            - ingresses
            - endpoints
            - cronjob
            - networkpolicies
            - events
            - jobs/status
            - pods/status
            - resourcequotas
            - resourcequotas/status
            verbs:
            - apply
            - create
            - get
            - delete
            - watch
            - update
            - edit
            - exec
            - list
            - patch
            - deletecollection
        -   apiGroups:
            - cpd.ibm.com
            resources:
            - cpdinstalls
            - cpdinstalls/spec
            - cpdinstalls/status
            verbs:
            - apply
            - create
            - delete
            - edit
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - build.openshift.io
            resources:
            - buildconfigs
            - buildconfigs/instantiate
            - buildconfigs/instantiatebinary
            - buildconfigs/webhooks
            - buildlogs
            - builds
            - builds/clone
            - builds/details
            - builds/log
            verbs:
            - create
            - delete
            - list
            - watch
            - get
            - patch
            - update
        -   apiGroups:
            - image.openshift.io
            resources:
            - imagestreams
            - imagestreams/layers
            - imagestreams/secrets
            - imagestreams/status
            - imagestreamimages
            - imagestreamimports
            - imagestreammappings
            - imagestreamtags
            verbs:
            - create
            - delete
            - list
            - watch
            - get
            - patch
            - update
        -   apiGroups:
            - ''
            resources:
            - pods
            verbs:
            - get
        -   apiGroups:
            - apps
            resources:
            - replicasets
            - deployments
            verbs:
            - get
        -   apiGroups:
            - wkc.cpd.ibm.com
            resources:
            - wkc
            - wkc/spec
            - wkc/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - zen.cpd.ibm.com
            resources:
            - zenservices
            - zenservices/spec
            - zenservices/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - ccs.cpd.ibm.com
            resources:
            - ccs
            - ccs/spec
            - ccs/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - ae.cpd.ibm.com
            resources:
            - analyticsengines
            - analyticsengines/spec
            - analyticsengines/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - ds.cpd.ibm.com
            resources:
            - datastages
            - datastages/spec
            - datastages/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - datarefinery.cpd.ibm.com
            resources:
            - datarefinery
            - datarefinery/spec
            - datarefinery/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - databases.cpd.ibm.com
            resources:
            - db2aaserviceservices
            - db2aaserviceservices/spec
            - db2aaserviceservices/status
            - db2aaserviceservices/finalizers
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - db2u.databases.ibm.com
            resources:
            - db2uclusters
            - db2uclusters/spec
            - db2uclusters/status
            - db2uclusters/finalizers
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - iis.cpd.ibm.com
            resources:
            - iis
            - iis/spec
            - iis/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - ug.wkc.cpd.ibm.com
            resources:
            - ug
            - ug/spec
            - ug/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - operator.ibm.com
            resources:
            - operandrequests
            - operandregistries
            - operandconfigs
            - operandbindinfos
            verbs:
            - create
            - get
            - list
            - patch
            - update
            - watch
            - delete
            - use
        -   apiGroups:
            - apps.foundationdb.org
            resources:
            - foundationdbclusters
            - foundationdbbackups
            - foundationdbrestores
            verbs:
            - get
            - list
            - watch
            - create
            - update
            - patch
            - delete
        -   apiGroups:
            - apps.foundationdb.org
            resources:
            - foundationdbclusters/status
            - foundationdbbackups/status
            verbs:
            - get
            - update
            - patch
        -   apiGroups:
            - foundationdb.opencontent.ibm.com
            resources:
            - fdbclusters
            verbs:
            - get
            - list
            - watch
            - create
            - update
            - patch
            - delete
        -   apiGroups:
            - foundationdb.opencontent.ibm.com
            resources:
            - fdbclusters/finalizers
            verbs:
            - update
        -   apiGroups:
            - foundationdb.opencontent.ibm.com
            resources:
            - fdbclusters/status
            verbs:
            - get
            - patch
            - update
        -   apiGroups:
            - certmanager.k8s.io
            resources:
            - issuers
            - issuers/status
            - issuers/finalizers
            - certificates
            - certificates/status
            - certificates/finalizers
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - ibmcpcs.ibm.com
            resources:
            - secretshares
            verbs:
            - get
            - list
            - watch
            - create
            - update
            - patch
            - delete
        sub_channel: v5.0
    wml:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    wml_accelerator:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    ws:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    ws_pipelines:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 8.0.0
        sub_channel: v8.0
    ws_runtimes:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    wxd_optimizerplus:
        component_dependencies:
        - db2u
    zen:
        cr_version: 5.1.0
        csv_version: 5.1.0
        rules:
        -   apiGroups:
            - ''
            - batch
            - extensions
            - apps
            - policy
            - rbac.authorization.k8s.io
            - autoscaling
            - route.openshift.io
            - authorization.openshift.io
            - networking.k8s.io
            - metrics.k8s.io
            - project.openshift.io
            - template.openshift.io
            - autoscaling.k8s.io
            resources:
            - pods
            - pods/log
            - pods/eviction
            - poddisruptionbudgets
            - projects
            - secrets
            - jobs
            - configmaps
            - deployments
            - deployments/scale
            - daemonsets
            - statefulsets
            - statefulsets/scale
            - replicasets
            - replicationcontrollers
            - services
            - services/finalizers
            - persistentvolumes
            - persistentvolumeclaims
            - cronjobs
            - pods/exec
            - pods/portforward
            - serviceaccounts
            - namespaces
            - roles
            - rolebindings
            - horizontalpodautoscalers
            - verticalpodautoscalers
            - routes
            - routes/custom-host
            - ingresses
            - endpoints
            - cronjob
            - networkpolicies
            - events
            - jobs/status
            - pods/status
            - resourcequotas
            - resourcequotas/status
            - processedtemplates
            verbs:
            - create
            - get
            - delete
            - watch
            - update
            - list
            - patch
            - deletecollection
        -   apiGroups:
            - cpd.ibm.com
            resources:
            - cpdinstalls
            - cpdinstalls/spec
            - cpdinstalls/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - build.openshift.io
            resources:
            - buildconfigs
            - buildconfigs/instantiate
            - buildconfigs/instantiatebinary
            - buildconfigs/webhooks
            - buildlogs
            - builds
            - builds/clone
            - builds/details
            - builds/log
            verbs:
            - create
            - delete
            - list
            - watch
            - get
            - patch
            - update
        -   apiGroups:
            - image.openshift.io
            resources:
            - imagestreams
            - imagestreams/layers
            - imagestreams/secrets
            - imagestreams/status
            - imagestreamimages
            - imagestreamimports
            - imagestreammappings
            - imagestreamtags
            verbs:
            - create
            - delete
            - list
            - watch
            - get
            - patch
            - update
        -   apiGroups:
            - apps
            resourceNames:
            - cpd-zen-operator
            resources:
            - deployments/finalizers
            verbs:
            - update
        -   apiGroups:
            - zen.cpd.ibm.com
            resources:
            - zenservice
            - zenservices
            - zenservice/status
            - zenservices/status
            - zenextension
            - zenextensions
            - zenextension/status
            - zenextensions/status
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - ibm.com
            resources:
            - paralleljob
            - paralleljobs
            - paralleljob/status
            - paralleljobs/status
            verbs:
            - get
            - list
        -   apiGroups:
            - operator.ibm.com
            resources:
            - commonservices
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - certmanager.k8s.io
            resources:
            - issuers
            - issuers/status
            - issuers/finalizers
            - certificates
            - certificates/status
            - certificates/finalizers
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - cert-manager.io
            resources:
            - issuers
            - issuers/status
            - issuers/finalizers
            - certificates
            - certificates/status
            - certificates/finalizers
            verbs:
            - create
            - delete
            - get
            - list
            - patch
            - update
            - watch
        -   apiGroups:
            - oidc.security.ibm.com
            resources:
            - client
            - clients
            verbs:
            - create
            - get
            - list
            - patch
            - update
            - watch
            - delete
            - use
        -   apiGroups:
            - operator.ibm.com
            resources:
            - operandrequest
            - operandrequests
            verbs:
            - create
            - get
            - list
            - patch
            - update
            - watch
            - delete
            - use
        -   apiGroups:
            - operators.coreos.com
            resources:
            - clusterserviceversions
            verbs:
            - get
            - list
            - watch
        -   apiGroups:
            - operators.coreos.com
            resources:
            - operatorconditions
            - operatorconditions/status
            verbs:
            - get
            - list
            - watch
            - update
            - patch
        -   apiGroups:
            - monitoring.coreos.com
            resources:
            - servicemonitors
            verbs:
            - get
            - create
        -   apiGroups:
            - ibm.com
            resources:
            - resourceplans
            - resourcematches
            verbs:
            - get
            - list
            - watch
            - update
            - patch
            - create
            - delete
            - deletecollection
        -   apiGroups:
            - networking.k8s.io
            resources:
            - networkpolicies
            verbs:
            - create
            - get
            - list
            - patch
            - update
            - watch
            - delete
            - use
  release_version: 4.8.0