---
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  licenses_urls: |-
    SWHP:
      url: "https://ibm.biz/BdbGRu"
      description: "IBM Software Hub Premium Cartridge"
    SWHAI:
      url: "https://ibm.biz/BdbGRL"
      description: "IBM Softare Hub AI Assistant Cartridge"
    EE:
      url: https://ibm.biz/Bdbq3x
      description: "IBM Cloud Pak for Data Enterprise Edition"
    SE:
      url: https://ibm.biz/Bdbq3H
      description: "IBM Cloud Pak for Data Standard Edition"
    WXAI:
      url: https://ibm.biz/BdbKbw
      description: "IBM watsonx.ai"
    DB2CE:
      url: https://ibm.biz/BdnPB7
      description: "IBM Db2 Community Edition"
    DB2SE:
      url: https://ibm.biz/BdnPdB
      description: "IBM Db2 Standard Edition Cartridge for IBM Cloud Pak for Data"
    DB2AE:
      url: https://ibm.biz/BdnPBW
      description: "IBM Db2 Advanced Edition Cartridge for IBM Cloud Pak for Data"
    DG:
      url: "https://ibm.biz/dg4zos_v320"
      description: "IBM Data Gate for z/OS with Cloud Pak for Data"
    DGWXD:
      url: "https://ibm.biz/dgx_v13"
      description: "IBM Data Gate for watsonx"
    DGWXDB:
      url: "https://ibm.biz/wxd-dgx"
      description: "IBM watsonx.data with Data Gate for IBM Z"
    DGWXDPB:
      url: "https://ibm.biz/wxdprem-dgx111"
      description: "IBM watsonx.data Premium with Data Gate for IBM Z"
    DGFS:
      url: "https://ibm.biz/dg4fs_v13"
      description: "IBM Data Gate for Financial Services"
    IKCS:
      url: https://ibm.biz/Bdmm4V
      description: "IBM Knowledge Catalog Standard"
    IKCP:
      url: https://ibm.biz/Bdmm4J
      description: "IBM Knowledge Catalog Premium"
    IDRC:
      url: https://ibm.biz/BdpHpg
      description: "IBM Data Replication Cartridge"
    IIDRC:
      url: https://ibm.biz/BdpHph
      description: "IBM InfoSphere Data Replication Cartridge"
    IDRM:
      url: https://ibm.biz/BdpHpJ
      description: "IBM Data Replication Modernization"
    IIDRM:
      url: https://ibm.biz/BdpHpA
      description: "IBM InfoSphere Data Replication Modernization"
    IDRZOS:
      url: https://ibm.biz/BdpHp9
      description: "IBM Data Replication for Db2 z/OS Cartridge"
    IIDRWXTO:
      url: https://ibm.biz/BdpHpu
      description: "IBM InfoSphere Data Replication for watsonx.data Cartridge"
    IIDRWXAO:
      url: https://ibm.biz/BdpHpL
      description: "IBM InfoSphere Data Replication Cartridge Add-on for IBM watsonx.data"
    WXD:
      url: https://ibm.biz/BdpdBF
      description: "IBM watsonx.data"
    WXDP:
      url: https://ibm.biz/BdpzEx
      description: "IBM watsonx.data Premium Edition"
    WCA:
      url: https://ibm.biz/Bdbv9x
      description: "IBM watsonx Code Assistant"
    WCAA:
      url: https://ibm.biz/Bdbv9D
      description: "IBM watsonx Code Assistant for Red Hat Ansible Lightspeed"
    DPH:
      url: https://ibm.biz/BdbQMv
      description: "IBM Data Product Hub"

  release_components_meta: |-
    scheduler:
      case_version: 1.61.0
      sub_channel: "v1.61"
      csv_version: 1.61.0
      cr_version: 1.61.0

    cpfs:
      csv_version: 4.17.0
      case_version: 4.17.0
      sub_channel: "v4.17"

    ibm-common-service-operator:
      cr_version: 4.17.0

    ibm-iam-operator:
      cr_version: 4.16.0

    ibm-namespace-scope-operator:
      cr_version: 4.3.4

    ibm-cert-manager:
      csv_version: 4.2.20
      case_version: 4.2.20
      sub_channel: "v4.2"

    ibm_events_operator:
      case_version: 6.0.0
      sub_channel: "v6.0"
      csv_version: 6.0.0
      cr_version: 4.1.1

    streamsets:
      case_version: 9.0.0
      csv_version: 6.3.1
      cr_version: 6.3.1
      sub_channel: "v6.3.1"

    ibm-streamsets-sdi:
      case_version: 2.0.0
      csv_version: 6.3.1
      cr_version: 6.3.1
      sub_channel: "v6.3.1"

    ibm-licensing:
      csv_version: 4.2.20
      case_version: 4.2.20
      sub_channel: "v4.2"

    ibm_usage_metering:
      case_version: 1.0.4
      csv_version: 1.0.4
      sub_channel: "v1.0"
      cr_version: 1.0.4

    cpd_platform:
      case_version: 5.4.0
      csv_version: 6.4.0
      sub_channel: "v6.4"
      cr_version: 5.4.0

    platform-config:
      cr_version: 5.4.0

    ibm_swhcc:
      case_version: 5.4.0
      csv_version: 5.4.0
      sub_channel: "v5.4"
      cr_version: 5.4.0

    zen:
      case_version: 6.4.0
      sub_channel: "v6.4"
      csv_version: 6.4.0
      cr_version: 6.4.0

    analyticsengine:
      case_version: 12.1.0
      sub_channel: "v9.1"
      csv_version: 9.1.0
      cr_version: 5.3.1

    cognos_analytics:
      case_version: 29.1.0
      sub_channel: "v29.1"
      cr_version: 29.1.0
      csv_version: 29.1.0

    ccs:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    dashboard:
      case_version: 4.0.0
      sub_channel: "v4.0"
      csv_version: 4.0.0
      cr_version: 5.3.0

    datarefinery:
      case_version: 12.1.0
      csv_version: 12.1.0
      sub_channel: "v12.1"
      cr_version: 12.1.0

    canvasbase:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    spss:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    syntheticdata:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    datastage_ent:
      case_version: 11.1.0
      csv_version: 9.1.0
      cr_version: 5.3.1
      sub_channel: "v9.1"

    datastage_ent_plus:
      case_version: 11.1.0
      csv_version: 9.1.0
      cr_version: 5.3.1
      sub_channel: "v9.1"

    informix:
      case_version: 10.1.0
      sub_channel: "v10.1"
      csv_version: 10.1.0
      cr_version: 10.1.0

    informix_cp4d:
      case_version: 10.1.0
      sub_channel: "v10.1"
      csv_version: 10.1.0
      cr_version: 10.1.0

    openscale:
      case_version: 10.1.0
      sub_channel: "v9.1"
      csv_version: 9.1.0
      cr_version: 5.3.1

    ws:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    ws_runtimes:
      case_version: 12.1.0
      cr_version: 12.1.0

    db2aaservice:
      case_version: 5.3.1
      sub_channel: "v7.7"
      csv_version: 7.7.0
      cr_version: 5.3.1

    db2oltp:
      case_version: 5.3.1
      sub_channel: "v7.7"
      csv_version: 7.7.0
      cr_version: 5.3.1

    db2wh:
      case_version: 5.3.1
      sub_channel: "v7.7"
      csv_version: 7.7.0
      cr_version: 5.3.1

    db2u:
      case_version: 7.5.2
      sub_channel: "v7.7"
      csv_version: 7.7.0
      cr_version: 5.3.1

    datagate:
      case_version: 11.1.0
      sub_channel: "v9.1"
      csv_version: 9.1.0
      cr_version: 9.1.0

    dods:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    hee:
      case_version: 5.3.1
      sub_channel: "v5.31"
      csv_version: 5.3.1
      cr_version: 5.3.1

    dv:
      case_version: 8.1.0
      sub_channel: "v8.1"
      csv_version: 8.1.0
      cr_version: 3.3.1

    bigsql:
      case_version: 14.1.0
      sub_channel: "v14.1"
      csv_version: 14.1.0
      cr_version: 8.3.1

    planning_analytics:
      case_version: 5.3.1
      sub_channel: "v11.1"
      csv_version: 5.3.1
      cr_version: 5.3.1

    rstudio:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    watson_assistant:
      case_version: 5.11.0
      sub_channel: "v5.11"
      csv_version: 5.11.0
      cr_version: "5.3.1"

    watson_discovery:
      case_version: 11.1.0
      sub_channel: "v11.1"
      csv_version: 11.1.0
      cr_version: 5.3.1

    watson_speech:
      case_version: 11.1.0
      sub_channel: "v11.1"
      csv_version: 11.1.0
      cr_version: 5.3.1

    wkc:
      case_version: 5.3.1
      sub_channel: "v9.1"
      csv_version: 2.3.1
      cr_version: 5.3.1

    ikc_standard:
      case_version: 5.3.1
      sub_channel: "v8.1"
      csv_version: 5.3.1
      cr_version: 5.3.1

    ikc_premium:
      case_version: 5.3.1
      sub_channel: "v8.1"
      csv_version: 5.3.1
      cr_version: 5.3.1

    datalineage:
      case_version: 5.3.1
      sub_channel: "v7.1"
      csv_version: 5.3.1
      cr_version: 5.3.1

    udp:
      case_version: 5.3.1
      sub_channel: "v5.31"
      csv_version: 5.3.1
      cr_version: 5.3.1

    productmaster:
      case_version: 9.1.0
      csv_version: 9.1.0
      sub_channel: "v9.1"
      cr_version: 9.1.0

    dataproduct:
      case_version: 5.3.1
      sub_channel: "v8.1"
      csv_version: 5.3.1
      cr_version: 5.3.1

    semantic_automation:
      case_version: 5.3.1
      sub_channel: "v8.1"
      csv_version: 5.3.1
      cr_version: 5.3.1

    productmaster_instance:
      cr_version: 9.1.0

    dp:
      case_version: 11.1.0
      csv_version: 11.1.0
      sub_channel: "v11.1"
      cr_version: 5.3.1

    wml:
      case_version: 12.1.0
      sub_channel: "v9.1"
      csv_version: 9.1.0
      cr_version: 5.3.1

    dmc:
      case_version: 8.11.0
      csv_version: 5.11.0
      cr_version: 5.3.1
      sub_channel: "v5.11"

    openpages:
      case_version: 10.1.0
      csv_version: 10.1.0
      cr_version: 9.7.0
      sub_channel: "v10.1"

    openpages_instance:
      cr_version: 9.7.0

    mantaflow:
      case_version: 2.4.0
      csv_version: 2.4.0
      sub_channel: "v2.4"
      cr_version: 42.15.0

    match360:
      case_version: 4.11.0
      csv_version: 4.11.0
      cr_version: 4.11.50
      sub_channel: "v4.11"

    model_gateway:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 12.1.0

    opencontent_opensearch:
      case_version: 1.2.0
      csv_version: 1.2.0
      cr_version: 1.2.0
      sub_channel: "v1.1"

    opencontent_redis:
      case_version: 1.6.11
      csv_version: 1.6.11
      sub_channel: "v1.6"

    ibm_redis_cp:
      case_version: 1.3.1
      csv_version: 1.3.1
      sub_channel: "v1.3"
      cr_version: 1.3.1

    opencontent_rabbitmq:
      case_version: 1.3.0
      csv_version: 1.3.0
      sub_channel: "v1.0"
      cr_version: 1.3.0

    opencontent_fdb:
      case_version: 5.3.1
      csv_version: 5.3.1
      cr_version: 5.3.1
      sub_channel: "v5.3"

    fdb_k8s:
      csv_version: 5.3.1
      sub_channel: "v5.3"

    opencontent_minio:
      case_version: 1.0.23
      csv_version: 1.0.18

    opencontent_etcd:
      case_version: 2.0.57
      csv_version: 1.0.47

    opencontent_auditwebhook:
      case_version: 1.0.24
      csv_version: 0.3.1

    watson_gateway:
      case_version: 2.2.0
      csv_version: 2.2.0
      cr_version: 2.2.0

    data_governor:
      case_version: 8.1.0
      csv_version: 8.1.0
      sub_channel: v8.1
      cr_version: 3.29.4

    ws_pipelines:
      case_version: 12.1.0
      sub_channel: "v12.1"
      csv_version: 12.1.0
      cr_version: 5.3.1

    postgresql:
      case_version: 5.31.0
      sub_channel: "stable-v1.25"
      csv_version: 1.25.5
      cr_version: 1.25.5

    edb_cp4d:
      case_version: 5.31.0
      sub_channel: "v5.31"
      csv_version: 5.31.0
      cr_version: 5.31.0

    mongodb:
      case_version: 5.31.0
      sub_channel: "stable"
      csv_version: 1.33.0
      cr_version: 5.31.0

    mongodb_cp4d:
      case_version: 5.31.0
      sub_channel: "v5.31"
      csv_version: 5.31.0
      cr_version: 5.31.0

    dpra:
      deprecated: true
      case_version: 1.20.0
      sub_channel: "v1.20"
      csv_version: 1.20.0
      cr_version: 1.20.0

    factsheet:
      case_version: 7.1.0
      csv_version: 7.1.0
      sub_channel: "v7.1"
      cr_version: 5.3.1

    replication:
      case_version: 5.3.1
      csv_version: 7.1.0
      cr_version: 5.3.1
      sub_channel: "v7.1"

    voice_gateway:
      case_version: 1.13.0
      csv_version: 1.13.0
      sub_channel: v1.13
      cr_version: 1.13.0

    watsonx_data:
      case_version: 6.1.0
      sub_channel: "v6.1"
      csv_version: 6.1.0
      cr_version: 2.3.1

    watsonx_data_premium:
      case_version: 6.1.0
      sub_channel: "v6.1"
      csv_version: 6.1.0
      cr_version: 2.3.1

    wxd_query_optimizer:
      component_dependencies:
        - db2u

    watsonx_ai:
      case_version: 12.1.0
      csv_version: 12.1.0
      sub_channel: v12.1
      cr_version: 12.1.0
      osai_min_version: 2.19.0

    watsonx_ai_ifm:
      case_version: 12.1.0
      csv_version: 12.1.0
      sub_channel: v12.1
      cr_version: 12.1.0

    watsonx_bi_assistant:
      case_version: 3.4.0
      csv_version: 3.4.0
      sub_channel: v3.4
      cr_version: 3.4.0

    wca_ansible:
      case_version: 4.1.0
      cr_version: 5.3.1

    wca:
      case_version: 3.1.0
      cr_version: 5.3.1

    wca_z:
      case_version: 4.1.0
      csv_version: 4.1.0
      sub_channel: v4.0
      cr_version: 5.3.1

    wca_z_agentic:
      case_version: 2.0.1
      csv_version: 2.0.1
      sub_channel: v2.1
      cr_version: 2.7.1

    wca_z_ce:
      case_version: 5.3.1
      sub_channel: v2.8
      csv_version: 2.8.10
      cr_version: 2.8.10

    wca_z_cg:
      case_version: 5.3.1
      sub_channel: v1.1
      csv_version: 1.1.1
      cr_version: 2.8.10

    wca_base:
      case_version: 4.1.0
      cr_version: 5.3.1

    ibm_neo4j:
      case_version: 1.3.1
      sub_channel: "v4.1"
      csv_version: 1.3.1
      cr_version: 1.3.1

    watsonx_governance:
      case_version: 5.1.0
      sub_channel: "v5.1"
      csv_version: 5.1.0
      cr_version: 2.3.1

    watsonx_orchestrate:
      case_version: 7.1.0
      sub_channel: "v7.1"
      csv_version: 7.1.0
      cr_version: "7.1.0"

    watsonx_dataintegration:
      case_version: 2.4.0
      sub_channel: "v2.4"
      csv_version: 5.3.1
      cr_version: 2.3.1

    watsonx_dataintelligence:
      case_version: 2.3.1
      sub_channel: "v2.31"
      csv_version: 2.3.1
      cr_version: 2.3.1

    wca_z_understand:
      case_version: 1.1.0
      csv_version: 1.1.0
      sub_channel: v1.1
      cr_version: 2.8.10

    ibm-databand:
      case_version: 1.0.0
      csv_version: 1.0.0
      cr_version: 1.0.0
      sub_channel: "v1.0.0"

    datastax_mc:
      case_version: 1.16.1
      cr_version: 1.16.1

    ibm_wxd_opensearch:
      case_version: 3.3.2
      cr_version: 3.3.2
