---
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-

    scheduler:
      case_version: 1.43.0
      sub_channel: "v1.43"
      csv_version: 1.43.0
      cr_version: 1.43.0

    cpfs:
      csv_version: 4.12.0
      case_version: 4.12.0
      sub_channel: "v4.12"

    ibm-cert-manager:
      csv_version: 4.2.10 # TODO: pick the latest version up for 5.10
      case_version: 4.2.10
      sub_channel: "v4.2"

    ibm_events_operator:
      case_version: 5.1.1
      sub_channel: "v5.1"
      csv_version: 5.1.1

    streamsets:
      case_version: 4.0.0
      csv_version: 6.0.3
      cr_version: 6.0.3
      sub_channel: "v6.0.3"
      status_success: completed
      component_dependencies:
        - opencontent_elasticsearch
        - ccs

    ibm-licensing:
      csv_version: 4.2.10 # TODO: pick the latest version up for 5.10
      case_version: 4.2.10
      sub_channel: "v4.2"

    cpd_platform:
      case_version: 5.1.3
      csv_version: 6.1.3
      sub_channel: "v6.1"
      cr_version: 5.1.3 #should be the same as release_version

    ibm_swhcc:
      case_version: 5.1.3
      csv_version: 5.1.3
      sub_channel: "v5.1"
      cr_version: 5.1.3

    zen:
      case_version: 6.1.3
      sub_channel: "v6.1"
      csv_version: 6.1.3
      cr_version: 6.1.3

    analyticsengine:
      case_version: 10.3.0
      sub_channel: "v7.3"
      csv_version: 7.3.0
      cr_version: 5.1.3

    cognos_analytics:
      case_version: 27.3.0
      sub_channel: "v27.3"
      cr_version: 27.3.0
      csv_version: 27.3.0

    ccs:
      case_version: 10.3.0
      sub_channel: "v10.3"
      csv_version: 10.3.0
      cr_version: 10.3.0

    dashboard:
      case_version: 3.6.0
      sub_channel: "v3.6"
      csv_version: 3.6.0
      cr_version: 5.1.3

    datarefinery:
      case_version: 10.2.0
      csv_version: 10.2.0
      sub_channel: "v10.2"
      cr_version: 10.2.0

    canvasbase:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    spss:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    syntheticdata:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    datastage_ent:
      case_version: 9.3.0
      csv_version: 7.3.0
      cr_version: 5.1.3
      sub_channel: "v7.3"

    datastage_ent_plus:
      case_version: 9.3.0
      csv_version: 7.3.0
      cr_version: 5.1.3
      sub_channel: "v7.3"

    informix:
      case_version: 8.5.0
      sub_channel: "v8.5"
      csv_version: 8.5.0

    informix_cp4d:
      case_version: 8.5.0
      sub_channel: "v8.5"
      csv_version: 8.5.0
      cr_version: 8.5.0

    openscale:
      case_version: 8.2.0
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    ws:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    ws_runtimes:
      case_version: 10.3.0
      sub_channel: "v10.3"
      csv_version: 10.3.0
      cr_version: 10.3.0

    db2aaservice:
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    db2oltp:
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    db2wh:
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    db2u:
      case_version: 7.1.3
      sub_channel: "v7.2"
      csv_version: 7.2.0

    datagate:
      case_version: 9.3.0
      sub_channel: "v7.3"
      csv_version: 7.3.0
      cr_version: 7.3.0

    dods:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    hee:
      case_version: 5.1.3
      sub_channel: "v5.13"
      csv_version: 5.1.3
      cr_version: 5.1.3

    dv:
      case_version: 6.2.0
      sub_channel: "v6.2"
      csv_version: 6.2.0
      cr_version: 3.1.2

    bigsql:
      case_version: 12.2.0
      sub_channel: "v12.2"
      csv_version: 12.2.0
      cr_version: 7.8.2

    planning_analytics:
      case_version: 5.1.3
      sub_channel: "v9.3"
      csv_version: 5.1.3
      cr_version: 5.1.3

    rstudio:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    watson_assistant:
      case_version: 5.6.0
      sub_channel: "v5.6"
      csv_version: 5.6.0
      cr_version: "5.1.3"

    watson_discovery:
      case_version: 9.2.0
      sub_channel: "v9.2"
      csv_version: 9.2.0
      cr_version: 5.1.2

    watson_speech:
      case_version: 9.3.0
      sub_channel: "v9.3"
      csv_version: 9.3.0
      cr_version: 5.1.3

    wkc:
      case_version: 5.1.3
      sub_channel: "v7.3"
      csv_version: 2.1.3
      cr_version: 5.1.3

    ikc_standard:
      case_version: 5.1.3
      sub_channel: "v6.3"
      csv_version: 5.1.3
      cr_version: 5.1.3

    ikc_premium:
      case_version: 5.1.3
      sub_channel: "v6.3"
      csv_version: 5.1.3
      cr_version: 5.1.3

    datalineage:
      case_version: 5.1.3
      sub_channel: "v5.4"
      csv_version: 5.1.3
      cr_version: 5.1.3

    udp:
      case_version: 5.1.2
      sub_channel: "v5.1"
      csv_version: 5.1.2
      cr_version: 5.1.2

    productmaster:
      case_version: 7.2.0
      csv_version: 7.2.0
      sub_channel: "v7.2"
      cr_version: 7.2.0

    dataproduct:
      case_version: 5.1.3
      sub_channel: "v6.3"
      csv_version: 1.1.3
      cr_version: 5.1.3

    productmaster_instance:
      cr_version: 7.2.0

    dp:
      case_version: 9.3.0
      csv_version: 9.3.0
      sub_channel: "v9.3"
      cr_version: 5.1.3

    wml:
      case_version: 10.2.0
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    dmc:
      case_version: 8.6.0
      csv_version: 5.6.0
      cr_version: 5.1.2
      sub_channel: "v5.6"

    openpages:
      case_version: 8.2.0
      csv_version: 8.2.0
      cr_version: 9.4.2
      sub_channel: "v8.2"

    openpages_instance:
      cr_version: 9.4.2

    mantaflow:
      case_version: 1.25.3
      sub_channel: "v1.25"
      csv_version: 1.25.3
      cr_version: 42.11.0

    match360:
      case_version: 4.6.0
      csv_version: 4.6.0
      cr_version: 4.6.20
      sub_channel: "v4.6"

    opencontent_opensearch:
      case_version: 1.1.1793
      csv_version: 1.1.1793
      cr_version: 1.1.1793
      sub_channel: "v1.1"

    opencontent_elasticsearch:
      case_version: 1.1.2667
      csv_version: 1.1.2667
      cr_version: 1.1.2667
      sub_channel: "v1.1"

    opencontent_redis:
      case_version: 1.6.11
      csv_version: 1.6.11
      sub_channel: "v1.6"

    ibm_redis_cp:
      case_version: 1.2.7
      csv_version: 1.2.7
      sub_channel: "v1.2"

    opencontent_rabbitmq:
      case_version: 1.0.48
      csv_version: 1.0.39
      sub_channel: "v1.0"

    opencontent_fdb:
      case_version: 5.1.3
      csv_version: 5.1.3
      cr_version: 5.1.3
      sub_channel: "v5.1"

    fdb_k8s:
      csv_version: 5.1.3
      sub_channel: "v5.1"

    opencontent_etcd:
      case_version: 2.0.52
      csv_version: 1.0.42

    watson_gateway:
      case_version: 2.0.45
      csv_version: 1.0.42

    data_governor:
      case_version: 6.3.1
      csv_version: 6.3.1
      sub_channel: v6.3
      cr_version: 3.14.1

    ws_pipelines:
      case_version: 10.3.0
      sub_channel: "v10.3"
      csv_version: 10.3.0
      cr_version: 5.1.3

    postgresql:
      case_version: 5.15.0
      sub_channel: "stable-v1.25"
      csv_version: 1.25.1

    edb_cp4d:
      case_version: 5.12.0
      sub_channel: "v5.12"
      csv_version: 5.12.0
      cr_version: 5.12.0

    mongodb:
      case_version: 5.12.0
      sub_channel: "stable"
      csv_version: 1.31.0

    mongodb_cp4d:
      case_version: 5.12.0
      sub_channel: "v5.12"
      csv_version: 5.12.0
      cr_version: 5.12.0

    dpra:
      case_version: 1.18.0
      sub_channel: "v1.18"
      csv_version: 1.18.0
      cr_version: 1.18.0

    factsheet:
      case_version: 5.2.0
      csv_version: 5.2.0
      sub_channel: "v5.2"
      cr_version: 5.1.2

    replication:
      case_version: 5.1.3
      csv_version: 5.3.0
      cr_version: 5.1.3
      sub_channel: "v5.3"

    voice_gateway:
      case_version: 1.8.0
      csv_version: 1.8.0
      sub_channel: v1.8
      cr_version: 1.8.0

    watsonx_data:
      case_version: 4.3.0
      sub_channel: "v4.3"
      csv_version: 4.3.0
      cr_version: 2.1.3

    wxd_query_optimizer:
      component_dependencies:
      - db2u

    watsonx_ai:
      case_version: 10.2.0
      csv_version: 10.2.0
      sub_channel: v10.2
      cr_version: 10.2.0
      osai_min_version: 2.16.0

    watsonx_ai_ifm:
      case_version: 10.2.0
      csv_version: 10.2.0
      sub_channel: v10.2
      cr_version: 10.2.0

    watsonx_bi_assistant:
      case_version: 2.2.0
      csv_version: 2.2.0
      sub_channel: v2.2
      cr_version: 2.2.0

    wca_ansible:
      case_version: 2.3.0
      csv_version: 2.3.0
      sub_channel: v2.3
      cr_version: 5.1.3

    wca:
      case_version: 1.3.0
      csv_version: 1.3.0
      sub_channel: v1.3
      cr_version: 5.1.3

    wca_z:
      case_version: 2.3.0
      csv_version: 2.3.0
      sub_channel: v2.3
      cr_version: 5.1.3

    wca_z_ce:
      case_version: 5.1.3
      sub_channel: v2.5
      csv_version: 2.5.0
      cr_version: 2.5.0

    wca_base:
      case_version: 2.3.0
      csv_version: 2.3.0
      sub_channel: v2.3
      cr_version: 5.1.3

    ibm_neo4j:
      case_version: 1.1.3
      sub_channel: "v2.3"
      csv_version: 1.1.3
      cr_version: 1.1.3

    watsonx_governance:
      case_version: 3.2.0
      sub_channel: "v3.2"
      csv_version: 3.2.0
      cr_version: 2.1.2

    watsonx_orchestrate:
      case_version: 5.4.0
      sub_channel: "v5.4"
      csv_version: 5.4.0
      cr_version: "5.4.0"
