---
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-
    scheduler:
      case_version: 1.40.0
      sub_channel: "v1.40"
      csv_version: 1.40.0
      cr_version: 1.40.0

    cpfs:
      csv_version: 4.10.0
      case_version: 4.10.0
      sub_channel: "v4.10"

    ibm-cert-manager:
      csv_version: 4.2.10  # TODO: pick the latest version up for 5.10
      case_version: 4.2.10
      sub_channel: "v4.2"

    ibm_events_operator:
      case_version: 5.0.1
      sub_channel: "v3"
      csv_version: 5.0.1

    ibm-licensing:
      csv_version: 4.2.10 # TODO: pick the latest version up for 5.10
      case_version: 4.2.10
      sub_channel: "v4.2"

    cpd_platform:
      case_version: 5.1.0
      csv_version: 6.1.0
      sub_channel: "v6.1"
      cr_version: 5.1.0 #should be the same as release_version

    ibm_swhcc:
      case_version: 5.1.0
      csv_version: 5.1.0
      sub_channel: "v5.1"
      cr_version: 5.1.0

    zen:
      case_version: 6.1.0
      sub_channel: "v6.1"
      csv_version: 6.1.0
      cr_version: 6.1.0


    analyticsengine:
      case_version: 10.0.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 5.1.0

    cognos_analytics:
      case_version: 27.0.0
      sub_channel: "v27.0"
      cr_version: 27.0.0
      csv_version: 27.0.0

    ccs:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    dashboard:
      case_version: 3.3.0
      sub_channel: "v3.3"
      csv_version: 3.3.0
      cr_version: 5.1.0

    datarefinery:
      case_version: 10.0.0
      csv_version: 10.0.0
      sub_channel: "v10.0"
      cr_version: 10.0.0

    canvasbase:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    spss:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    syntheticdata:
      licenses_urls:
        WXAI: https://ibm.biz/BdabQY
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    datastage_ent:
      case_version: 9.0.0
      csv_version: 7.0.0
      cr_version: 5.1.0
      sub_channel: "v7.0"

    datastage_ent_plus:
      case_version: 9.0.0
      csv_version: 7.0.0
      cr_version: 5.1.0
      sub_channel: "v7.0"

    informix:
      case_version: 8.2.0
      sub_channel: "v8.2"
      csv_version: 8.2.0

    informix_cp4d:
      case_version: 8.2.0
      sub_channel: "v8.2"
      csv_version: 8.2.0
      cr_version: 8.2.0

    openscale:
      case_version: 8.0.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 5.1.0

    ws:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    ws_runtimes:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    db2aaservice:
      case_version: 5.1.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 5.1.0

    db2oltp:
      licenses_urls:
        DB2CE: https://ibm.biz/BdmpYX
        DB2SE: https://ibm.biz/BdmpYd
        DB2AE: https://ibm.biz/BdmpZ5
      case_version: 5.1.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 5.1.0

    db2wh:
      case_version: 5.1.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 5.1.0

    db2u:
      case_version: 7.1.0
      sub_channel: "v7.1"
      csv_version: 7.1.0

    datagate:
      case_version: 9.0.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 7.0.0

    dods:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    hee:
      case_version: 5.1.0
      sub_channel: "v5.10"
      csv_version: 5.1.0
      cr_version: 5.1.0

    dv:
      case_version: 6.0.0
      sub_channel: "v6.0"
      csv_version: 6.0.0
      cr_version: 3.1.0

    bigsql:
      case_version: 12.0.0
      sub_channel: "v12.0"
      csv_version: 12.0.0
      cr_version: 7.8.0

    planning_analytics:
      case_version: 5.1.0
      sub_channel: "v9.0"
      csv_version: 5.1.0
      cr_version: 5.1.0

    rstudio:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 10.0.0

    watson_assistant:
      case_version: 5.3.0
      sub_channel: "v5.3"
      csv_version: 5.3.0
      cr_version: "5.1.0"

    watson_discovery:
      case_version: 9.0.0
      sub_channel: "v9.0"
      csv_version: 9.0.0
      cr_version: 5.1.0

    watson_speech:
      case_version: 9.0.0
      sub_channel: "v9.0"
      csv_version: 9.0.0
      cr_version: 5.1.0

    wkc:
      case_version: 5.1.0
      sub_channel: "v7.0"
      csv_version: 2.1.0
      cr_version: 5.1.0

    ikc_standard:
      licenses_urls:
        IKCS: https://ibm.biz/Bdmm4V
      case_version: 5.1.0
      sub_channel: "v6.0"
      csv_version: 5.1.0
      cr_version: 5.1.0

    ikc_premium:
      licenses_urls:
        IKCP: https://ibm.biz/Bdmm4J
      case_version: 5.1.0
      sub_channel: "v6.0"
      csv_version: 5.1.0
      cr_version: 5.1.0

    datalineage:
      case_version: 5.1.0
      sub_channel: "v5.1"
      csv_version: 5.1.0
      cr_version: 5.1.0

    productmaster:
      case_version: 7.0.0
      csv_version: 7.0.0
      sub_channel: "v7.0"
      cr_version: 7.0.0

    dataproduct:
      case_version: 5.1.0
      sub_channel: "v6.0"
      csv_version: 1.1.0
      cr_version: 5.1.0

    productmaster_instance:
      cr_version: 7.0.0

    dp:
      case_version: 9.0.0
      csv_version: 9.0.0
      sub_channel: "v9.0"
      cr_version: 5.1.0

    wml:
      case_version: 10.0.0
      sub_channel: "v7.0"
      csv_version: 7.0.0
      cr_version: 5.1.0

    dmc:
      case_version: 8.4.0
      csv_version: 5.4.0
      cr_version: 5.1.0
      sub_channel: "v5.4"

    openpages:
      case_version: 8.0.0
      csv_version: 8.0.0
      cr_version: 9.4.0
      sub_channel: "v8.0"

    openpages_instance:
      cr_version: 9.4.0

    mantaflow:
      case_version: 1.25.0
      sub_channel: "v1.25"
      csv_version: 1.25.0
      cr_version: 42.8.5

    match360:
      case_version: 4.3.0
      csv_version: 4.3.0
      cr_version: 4.3.49
      sub_channel: "v4.3"

    opencontent_elasticsearch:
      case_version: 1.1.2470
      csv_version: 1.1.2470
      cr_version: 1.1.2470
      sub_channel: "v1.1"

    opencontent_redis:
      case_version: 1.6.11
      csv_version: 1.6.11
      sub_channel: "v1.6"

    ibm_redis_cp:
      case_version: 1.2.3
      csv_version: 1.2.3
      sub_channel: "v1.2"

    opencontent_rabbitmq:
      case_version: 1.0.42
      csv_version: 1.0.33
      sub_channel: "v1.0"

    opencontent_fdb:
      case_version: 5.1.0
      csv_version: 5.1.0
      cr_version: 5.1.0
      sub_channel: "v5.1"

    fdb_k8s:
      csv_version: 5.1.0
      sub_channel: "v5.1"

    opencontent_minio:
      case_version: 1.0.23
      csv_version: 1.0.18

    opencontent_etcd:
      case_version: 2.0.43
      csv_version: 1.0.34

    opencontent_auditwebhook:
      case_version: 1.0.24
      csv_version: 0.3.1

    watson_gateway:
      case_version: 2.0.37
      csv_version: 1.0.35

    data_governor:
      case_version: 6.0.2
      csv_version: 6.0.2
      sub_channel: v6.0

    ws_pipelines:
      case_version: 10.0.0
      sub_channel: "v10.0"
      csv_version: 10.0.0
      cr_version: 5.1.0

    postgresql:
      case_version: 4.30.0
      sub_channel: "stable-v1.22"
      csv_version: 1.22.7
      #operands_supported: "12.20, 13.16, 14.13, 15.8, 16.4"

    edb_cp4d:
      case_version: 5.10.0
      sub_channel: "v5.10"
      csv_version: 5.10.0
      cr_version: 5.10.0
      #operands_supported: "12.20, 13.16, 14.13, 15.8, 16.4"

    mongodb:
      case_version: 5.10.0
      sub_channel: "stable"
      csv_version: 1.28.0
      # MongoDB_Ops_Manager: "7.0.11, 8.0.0"
      # Mongodb_server: "8.0.0-ent, 7.0.14-ent"

    mongodb_cp4d:
      case_version: 5.10.0
      sub_channel: "v5.10"
      csv_version: 5.10.0
      cr_version: 5.10.0

    estap:
      case_version: 1.1.0
      sub_channel: "v1.1"
      csv_version: 1.1.0
      cr_version: 1.1.0

    dpra:
      case_version: 1.18.0
      sub_channel: "v1.18"
      csv_version: 1.18.0
      cr_version: 1.18.0

    factsheet:
      case_version: 5.0.0
      csv_version: 5.0.0
      sub_channel: "v5.0"
      cr_version: 5.1.0

    replication:
      licenses_urls:
        IDRC: https://ibm.biz/BdanUi
        IIDRC: https://ibm.biz/BdanUZ
        IDRM: https://ibm.biz/BdagqW
        IIDRM: https://ibm.biz/Bdagfc
        IDRZOS: https://ibm.biz/BdanUY
        IIDRWXTO: https://ibm.biz/BdanU2
        IIDRWXAO: https://ibm.biz/BdanUz
      case_version: 5.1.0
      csv_version: 5.0.0
      cr_version: 5.1.0
      sub_channel: "v5.0"

    dfo:
      case_version: 1.0.0
      sub_channel: "beta"
      csv_version: 1.0.0
      cr_version: 1.0.0

    voice_gateway:
      case_version: 1.6.0
      csv_version: 1.6.0
      sub_channel: v1.6
      cr_version: 1.6.0

    watsonx_data:
      licenses_urls:
        WXD: https://ibm.biz/BdaJCy
      case_version: 4.0.0
      sub_channel: "v4.0"
      csv_version: 4.0.0
      cr_version: 2.1.0

    wxd_query_optimizer:
      component_dependencies:
      - db2u

    watsonx_ai:
      licenses_urls:
        WXAI: https://ibm.biz/BdabQY
      case_version: 10.0.0
      csv_version: 10.0.0
      sub_channel: v10.0
      cr_version: 10.0.0
      osai_min_version: 2.13.0

    watsonx_ai_ifm:
      licenses_urls:
        WXAI: https://ibm.biz/BdabQY
      case_version: 10.0.0
      csv_version: 10.0.0
      sub_channel: v10.0
      cr_version: 10.0.0

    wca_ansible:
      case_version: 2.0.0
      csv_version: 2.0.0
      sub_channel: v2.0
      cr_version: 5.1.0

    wca:
      case_version: 1.0.0
      csv_version: 1.0.0
      sub_channel: v1.0
      cr_version: 5.1.0

    wca_z:
      case_version: 2.0.0
      csv_version: 2.0.0
      sub_channel: v2.0
      cr_version: 5.1.0

    wca_base:
      case_version: 2.0.0
      csv_version: 2.0.0
      sub_channel: v2.0
      cr_version: 5.1.0

    ibm_neo4j:
      case_version: 1.1.0
      sub_channel: "v2.0"
      csv_version: 1.1.0
      cr_version: 1.1.0

    watsonx_governance:
      case_version: 3.0.0
      sub_channel: "v3.0"
      csv_version: 3.0.0
      cr_version: 2.1.0

    watsonx_orchestrate:
      case_version: 5.1.0
      sub_channel: "v5.1"
      csv_version: 5.1.0
      cr_version: "5.1.0"
  release_version: 5.1.0
