---
# This config map is created via cpd-cli manage apply-cr command: https://www.ibm.com/docs/en/cloud-paks/cp-data/4.6.x?topic=si-installing-components
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-
    scheduler:
        case_version: 1.25.0
        sub_channel: "v1.25"
        csv_version: 1.25.0
        cr_version: 1.25.0

    cpfs:
        csv_version: 4.7.0
        case_version: 4.7.0
        sub_channel: "v4.7"

    ibm-cert-manager:
        csv_version: 4.2.4
        case_version: 4.2.4
        sub_channel: "v4.2"

    ibm_events_operator:
        case_version: 5.0.1
        sub_channel: "v3"
        csv_version: 5.0.1

    ibm-licensing:
        csv_version: 4.2.4
        case_version: 4.2.4
        sub_channel: "v4.2"

    cpd_platform:
        case_version: 5.0.0
        csv_version: 6.0.0
        sub_channel: "v6.0"
        cr_version: 5.0.0 #should be the same as release_version

    zen:
        case_version: 6.0.1
        sub_channel: "v6.0" # TODO: this is a temporary workaround. need to update it to formal channel later
        csv_version: 6.0.1
        cr_version: 6.0.1


    analyticsengine:
        case_version: 9.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    cognos_analytics:
        case_version: 26.0.0
        sub_channel: "v26.0"
        cr_version: 26.0.0
        csv_version: 26.0.0

    ccs:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    dashboard:
        case_version: 3.0.0
        sub_channel: "v3.0"
        csv_version: 3.0.0
        cr_version: 5.0.0

    datarefinery:
        case_version: 9.0.0
        csv_version: 9.0.0
        sub_channel: "v9.0"
        cr_version: 9.0.0

    canvasbase:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    spss:
        case_version: 9.0.0
        csv_version: 9.0.0
        sub_channel: "v9.0"
        cr_version: 9.0.0

    syntheticdata:
        licenses_urls:
            WXAI: https://ibm.biz/BdmsCi
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    datastage_ent:
        case_version: 8.0.0
        csv_version: 6.0.0
        cr_version: 5.0.0
        sub_channel: "v6.0"

    datastage_ent_plus:
        case_version: 8.0.0
        csv_version: 6.0.0
        cr_version: 5.0.0
        sub_channel: "v6.0"

    informix:
        case_version: 8.0.0
        sub_channel: "v8.0"
        csv_version: 8.0.0

    informix_cp4d:
        case_version: 8.0.0
        sub_channel: "v8.0"
        csv_version: 8.0.0
        cr_version: 8.0.0

    openscale:
        case_version: 7.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    ws:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    ws_runtimes:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    db2aaservice:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    db2oltp:
        licenses_urls:
            DB2CE: https://ibm.biz/BdmpYX
            DB2SE: https://ibm.biz/BdmpYd
            DB2AE: https://ibm.biz/BdmpZ5
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    db2wh:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    db2u:
        case_version: 6.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        multi_arch_images: cpopen/db2u-operator,cpopen/db2u-day2-operator

    datagate:
        licenses_urls:
            DGWXD: https://ibm.biz/Bdmepq
        case_version: 8.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 6.0.0

    dods:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    hee:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 5.0.0
        cr_version: 5.0.0

    dv:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 5.0.0
        cr_version: 3.0.0

    bigsql:
        case_version: 11.0.0
        sub_channel: "v11.0"
        csv_version: 11.0.0
        cr_version: 7.7.0

    planning_analytics:
        case_version: 5.0.0
        sub_channel: "v8.0"
        csv_version: 5.0.0
        cr_version: 5.0.0

    rstudio:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 9.0.0

    watson_assistant:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 5.0.0
        cr_version: "5.0.0"

    watson_discovery:
        case_version: 8.0.0
        sub_channel: "v8.0"
        csv_version: 8.0.0
        cr_version: 5.0.0

    watson_speech:
        case_version: 8.0.1
        sub_channel: "v8.0"
        csv_version: 8.0.1
        cr_version: 5.0.0

    wkc:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 2.0.0
        cr_version: 5.0.0

    ikc_standard:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 5.0.0
        cr_version: 5.0.0

    ikc_premium:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 5.0.0
        cr_version: 5.0.0

    productmaster:
        case_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: "v6.0"
        cr_version: 6.0.0

    dataproduct:
        case_version: 5.0.0
        sub_channel: "v5.0"
        csv_version: 1.0.0
        cr_version: 5.0.0

    productmaster_instance:
        cr_version: 6.0.0

    dp:
        case_version: 8.6.0
        csv_version: 8.6.0
        sub_channel: "v8.6"
        cr_version: 5.0.0

    wml:
        case_version: 9.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    wml_accelerator:
        case_version: 5.0.0
        sub_channel: "v6.0"
        csv_version: 6.0.0
        cr_version: 5.0.0

    dmc:
        case_version: 8.0.0
        csv_version: 5.0.0
        cr_version: 5.0.0
        sub_channel: "v5.0"

    openpages:
        case_version: 7.0.0
        csv_version: 7.0.0
        cr_version: 9.002.1
        sub_channel: "v7.0"

    openpages_instance:
        cr_version: 9.002.1

    mantaflow:
        case_version: 1.21.0
        sub_channel: "v1.21"
        csv_version: 1.21.0
        cr_version: 42.5.5

    match360:
        case_version: 4.0.0
        csv_version: 4.0.0
        cr_version: 4.0.23
        sub_channel: "v4.0"

    opencontent_elasticsearch:
        case_version: 1.1.2153
        csv_version: 1.1.2153
        cr_version: 1.1.2153
        sub_channel: "v1.1"

    opencontent_redis:
        case_version: 1.6.11
        csv_version: 1.6.11
        sub_channel: "v1.6"

    ibm_redis_cp:
        case_version: 1.1.9
        csv_version: 1.1.9
        sub_channel: "v1.1"

    opencontent_rabbitmq:
        case_version: 1.0.36
        csv_version: 1.0.27
        sub_channel: "v1.0"

    opencontent_fdb:
        case_version: 5.0.0
        csv_version: 5.0.0
        cr_version: 5.0.0
        sub_channel: "v5.0"

    fdb_k8s:
        csv_version: 5.0.0
        sub_channel: "v5.0"

    opencontent_minio:
        case_version: 1.0.23
        csv_version: 1.0.18

    opencontent_etcd:
        case_version: 2.0.36
        csv_version: 1.0.27

    opencontent_auditwebhook:
        case_version: 1.0.24
        csv_version: 0.3.1

    watson_gateway:
        case_version: 2.0.32
        csv_version: 1.0.27

    data_governor:
        case_version: 5.0.4
        csv_version: 5.0.4
        sub_channel: v5.0

    model_train:
        case_version: 1.2.14
        csv_version: 2.0.0
        sub_channel: v2.0

    ws_pipelines:
        case_version: 9.0.0
        sub_channel: "v9.0"
        csv_version: 9.0.0
        cr_version: 5.0.0

    postgresql:
        case_version: 4.25.0
        sub_channel: "stable"
        csv_version: 1.18.12
        #operands_supported: "12.18, 13.14, 14.11, 15.6, 16.2"

    edb_cp4d:
        case_version: 4.25.0
        sub_channel: "v4.25"
        csv_version: 4.25.0
        cr_version: 4.25.0

    mongodb:
        case_version: 4.25.0
        sub_channel: "stable"
        csv_version: 1.24.0
        # MongoDB_Ops_Manager: "6.0.20"
        # Mongodb_server: "5.0.23, 6.0.12"

    mongodb_cp4d:
        case_version: 4.25.0
        sub_channel: "v4.25"
        csv_version: 4.25.0
        cr_version: 4.25.0

    estap:
        case_version: 1.1.0
        sub_channel: "v1.1"
        csv_version: 1.1.0
        cr_version: 1.1.0

    dpra:
        case_version: 1.15.0
        sub_channel: "v1.15"
        csv_version: 1.15.0
        cr_version: 1.15.0

    factsheet:
        case_version: 4.0.0
        csv_version: 4.0.0
        sub_channel: "v4.0"
        cr_version: 5.0.0

    replication:
        licenses_urls:
            IDRC: https://ibm.biz/Bdmf2H
            IIDRC: https://ibm.biz/Bdmf24
            IDRM: https://ibm.biz/Bdmf2r
            IIDRM: https://ibm.biz/Bdmf2s
        case_version: 5.0.0
        csv_version: 4.0.0
        cr_version: 5.0.0
        sub_channel: "v4.0"

    dfo:
        case_version: 1.0.0
        sub_channel: "beta"
        csv_version: 1.0.0
        cr_version: 1.0.0

    voice_gateway:
        case_version: 1.4.0
        csv_version: 1.4.0
        sub_channel: v1.4
        cr_version: 1.4.0

    watsonx_data:
        licenses_urls:
            WXD: https://ibm.biz/BdmbAW
        case_version: 3.0.0
        sub_channel: "v3.0"
        csv_version: 3.0.0
        cr_version: 2.0.0

    wxd_query_optimizer:
        component_dependencies:
        - db2u

    watsonx_ai:
        licenses_urls:
            WXAI: https://ibm.biz/BdmsCi
        case_version: 9.0.0
        csv_version: 9.0.0
        sub_channel: v9.0
        cr_version: 9.0.0

    watsonx_ai_ifm:
        licenses_urls:
            WXAI: https://ibm.biz/BdmsCi
        case_version: 9.0.0
        csv_version: 9.0.0
        sub_channel: v9.0
        cr_version: 9.0.0

    wca_ansible:
        case_version: 1.0.1
        csv_version: 1.0.1
        sub_channel: v1.0
        cr_version: 5.0.0

    wca_z:
        case_version: 1.0.1
        csv_version: 1.0.1
        sub_channel: v1.0
        cr_version: 5.0.0

    ibm_neo4j:
        case_version: 1.0.0
        sub_channel: "v1.0"
        csv_version: 1.0.0
        cr_version: 1.0.0

    watsonx_governance:
        case_version: 2.0.0
        sub_channel: "v2.0"
        csv_version: 2.0.0
        cr_version: 2.0.0

    watsonx_orchestrate:
        case_version: 2.0.0
        sub_channel: "v2.0"
        csv_version: 2.0.0
        cr_version: "2.0.0"
  release_version: 5.0.0