---
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-
    analyticsengine:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    bigsql:
        case_version: 10.0.0
        cr_version: 7.6.0
        csv_version: 10.0.0
        sub_channel: v10.0
    canvasbase:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    ccs:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    cognos_analytics:
        case_version: 25.0.0
        cr_version: 25.0.0
        csv_version: 25.0.0
        sub_channel: v25.0
    cpd_platform:
        case_version: 4.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    cpfs:
        case_version: 4.3.0
        csv_version: 4.3.0
        sub_channel: v4.3
    dashboard:
        case_version: 2.0.0
        cr_version: 4.8.0
        csv_version: 2.0.0
        sub_channel: v2.0
    data_governor:
        case_version: 4.0.4
        csv_version: 4.0.4
        sub_channel: v4.0
    datagate:
        case_version: 7.0.0
        cr_version: 5.0.0
        csv_version: 5.0.0
        sub_channel: v5.0
    datarefinery:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    datastage_ent:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    datastage_ent_plus:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2aaservice:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2oltp:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2u:
        case_version: 5.5.0
        csv_version: 5.0.0
        sub_channel: v5.0
    db2wh:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    dfo:
        case_version: 1.0.0
        cr_version: 1.0.0
        csv_version: 1.0.0
        sub_channel: beta
    dmc:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 4.0.0
        sub_channel: v4.0
    dods:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    dp:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 8.0.0
        sub_channel: v8.0
    dpra:
        case_version: 1.12.0
        cr_version: 1.12.0
        csv_version: 1.12.0
        sub_channel: v1.12
    dv:
        case_version: 4.0.0
        cr_version: 2.2.0
        csv_version: 4.0.0
        sub_channel: v4.0
    edb_cp4d:
        case_version: 4.18.0
        cr_version: 4.18.0
        csv_version: 4.18.0
        sub_channel: v4.18
    estap:
        case_version: 1.1.0
        cr_version: 1.1.0
        csv_version: 1.1.0
        sub_channel: v1.1
    factsheet:
        case_version: 3.0.0
        cr_version: 4.8.0
        csv_version: 3.0.0
        sub_channel: v3.0
    fdb_k8s:
        csv_version: 3.1.5
        sub_channel: v3.1
    hee:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 4.80.0
        sub_channel: v4.80
    ibm-cert-manager:
        case_version: 4.2.1
        csv_version: 4.2.1
        sub_channel: v4.2
    ibm-licensing:
        case_version: 4.2.1
        csv_version: 4.2.1
        sub_channel: v4.2
    ibm_events_operator:
        case_version: 4.8.0
        csv_version: 4.8.0
        sub_channel: v3
    ibm_redis_cp:
        case_version: 1.1.3
        csv_version: 1.1.3
        sub_channel: v1.1
    informix:
        case_version: 7.0.0
        csv_version: 7.0.0
        sub_channel: v7.0
    informix_cp4d:
        case_version: 7.0.0
        cr_version: 7.0.0
        csv_version: 7.0.0
        sub_channel: v7.0
    mantaflow:
        case_version: 1.15.0
        cr_version: 42.0.5
        csv_version: 1.15.0
        sub_channel: v1.15
    match360:
        case_version: 3.3.0
        cr_version: 3.3.15
        csv_version: 3.3.0
        sub_channel: v3.3
    model_train:
        case_version: 1.2.11
        csv_version: 1.1.13
        sub_channel: v1.1
    mongodb:
        case_version: 4.18.0
        csv_version: 1.22.0
        sub_channel: stable
    mongodb_cp4d:
        case_version: 4.18.0
        cr_version: 4.18.0
        csv_version: 4.18.0
        sub_channel: v4.18
    opencontent_auditwebhook:
        case_version: 1.0.24
        csv_version: 0.3.1
    opencontent_elasticsearch:
        case_version: 1.1.1845
        cr_version: 1.1.1845
        csv_version: 1.1.1845
        sub_channel: v1.1
    opencontent_etcd:
        case_version: 2.0.31
        csv_version: 1.0.22
    opencontent_fdb:
        case_version: 3.1.5
        cr_version: 3.1.5
        csv_version: 3.1.5
        sub_channel: v3.1
    opencontent_minio:
        case_version: 1.0.23
        csv_version: 1.0.18
    opencontent_rabbitmq:
        case_version: 1.0.31
        csv_version: 1.0.22
        sub_channel: v1.0
    opencontent_redis:
        case_version: 1.6.11
        csv_version: 1.6.11
        sub_channel: v1.6
    openpages:
        case_version: 6.0.0
        cr_version: 9.000.1
        csv_version: 6.0.0
        sub_channel: v6.0
    openpages_instance:
        cr_version: 9.000.1
    openscale:
        case_version: 6.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    planning_analytics:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 4.8.0
        sub_channel: v7.0
    postgresql:
        case_version: 4.18.0
        csv_version: 1.18.7
        sub_channel: stable
    productmaster:
        case_version: 5.0.0
        cr_version: 5.0.0
        csv_version: 5.0.0
        sub_channel: v5.0
    productmaster_instance:
        cr_version: 5.0.0
    replication:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 3.0.0
        licenses_urls:
            IDRC: https://ibm.biz/BdSZ39
            IDRM: https://ibm.biz/BdSZ33
            IIDRC: https://ibm.biz/BdSZ3C
            IIDRM: https://ibm.biz/BdSZ3T
        sub_channel: v3.0
    rstudio:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    scheduler:
        case_version: 1.18.0
        cr_version: 1.18.0
        csv_version: 1.18.0
        sub_channel: v1.18
    spss:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    syntheticdata:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    voice_gateway:
        case_version: 1.3.6
        cr_version: 1.3.6
        csv_version: 1.3.6
        sub_channel: v1.36
    watson_assistant:
        case_version: 4.21.0
        cr_version: 4.8.0
        csv_version: 4.21.0
        sub_channel: v4.21
    watson_discovery:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 7.0.0
        sub_channel: v7.0
    watson_gateway:
        case_version: 2.0.27
        csv_version: 1.0.22
    watson_speech:
        case_version: 7.0.0
        cr_version: 4.8.0
        csv_version: 7.0.0
        sub_channel: v7.0
    watsonx_ai:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        licenses_urls:
            WX: https://ibm.biz/BdSR6v
        sub_channel: v8.0
    watsonx_ai_ifm:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        licenses_urls:
            WX: https://ibm.biz/BdSR6v
        sub_channel: v8.0
    watsonx_data:
        case_version: 2.0.0
        cr_version: 1.1.0
        csv_version: 2.0.0
        sub_channel: v2.0
    wkc:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 1.8.0
        sub_channel: v5.0
    wml:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    wml_accelerator:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 5.0.0
        sub_channel: v5.0
    ws:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    ws_pipelines:
        case_version: 8.0.0
        cr_version: 4.8.0
        csv_version: 8.0.0
        sub_channel: v8.0
    ws_runtimes:
        case_version: 8.0.0
        cr_version: 8.0.0
        csv_version: 8.0.0
        sub_channel: v8.0
    wxd_optimizerplus:
        component_dependencies:
        - db2u
    zen:
        cr_version: 5.1.0
        csv_version: 5.1.0
  release_version: 4.8.0
