---
# This config map is created via cpd-cli manage apply-cr command: https://www.ibm.com/docs/en/cloud-paks/cp-data/4.6.x?topic=si-installing-components
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-
    analyticsengine:
        case_version: 6.0.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        sub_channel: v3.0
    bigsql:
        case_version: 8.0.0
        cr_version: 7.4.0
        csv_version: 8.0.0
        status_field: bigsqlStatus
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v8.0
        support_shutdown: true
    ccs:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: v6.0
    cde:
        case_version: 3.0.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        sub_channel: v3.0
        supported_arch: amd64,ppc64le
    cognos_analytics:
        case_version: 23.0.0
        component_dependencies:
        - ccs
        cr_template: cognos-analytics-cr-nd-bkup.yml.j2
        cr_version: 23.0.0
        csv_version: 23.0.0
        status_field: caStatus
        sub_channel: v23.0
    cpd_platform:
        case_version: 2.4.0
        cr_version: 4.6.0
        csv_version: 3.3.0
        status_operator_info_field: controlPlaneOperatorVersion
        sub_channel: v3.3
    cpfs:
        case_version: 1.18.0
        csv_version: 3.22.0
        sub_channel: v3.22
    data_governor:
        case_version: 2.0.3
        csv_version: 2.0.3
        sub_channel: v2.0
    datagate:
        case_version: 5.0.0
        cr_version: 3.0.0
        csv_version: 3.0.0
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v3.0
        support_shutdown: true
    datarefinery:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: v6.0
    datastage_ent:
        case_version: 5.0.0
        component_dependencies:
        - ccs
        cr_api_version: v1
        cr_version: 4.6.0
        csv_version: 3.0.0
        olm_auto_update: true
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v3.0
        support_shutdown: true
    datastage_ent_plus:
        case_version: 5.0.0
        catsrc_name: ibm-cpd-datastage-ent-plus-operator-catalog
        component_dependencies:
        - ccs
        cr_api_version: v1
        cr_version: 4.6.0
        csv_version: 3.0.0
        olm_auto_update: true
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v3.0
        support_shutdown: true
    db2aaservice:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v3.0
        support_shutdown: true
    db2oltp:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v3.0
        support_shutdown: true
    db2u:
        case_version: 5.1.0
        csv_version: 3.0.0
        sub_channel: v3.0
    db2wh:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v3.0
        support_shutdown: true
    dmc:
        case_version: 5.0.0
        cr_version: 4.6.0
        csv_version: 2.0.0
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v2.0
        support_shutdown: true
    dods:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v6.0
        support_shutdown: true
    dp:
        case_version: 5.0.0
        cr_version: 4.6.0
        csv_version: 5.0.0
        sub_channel: v5.0
        supported_arch: amd64
    dpra:
        case_version: 1.2.0
        cr_version: 1.2.0
        csv_version: 1.2.0
        sub_channel: v1.2
    dv:
        case_version: 2.0.0
        cr_version: 2.0.0
        csv_version: 2.0.0
        status_field: dvStatus
        status_shutdown_failed: shutdownError
        status_shutdown_success: shutdown
        sub_channel: v2.0
        support_shutdown: true
    edb_cp4d:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 4.8.0
        sub_channel: v4.8
    estap:
        case_version: 1.1.0
        cr_version: 1.1.0
        csv_version: 1.1.0
        sub_channel: v1.1
    factsheet:
        case_version: 1.0.0
        cr_version: 4.6.0
        csv_version: 1.0.0
        sub_channel: v1.0
    fdb_k8s:
        csv_version: 2.0.8
        sub_channel: v2.0
    hee:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        sub_channel: v3.0
    iis:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 1.6.0
        sub_channel: v3.0
        supported_arch: amd64
    informix:
        case_version: 5.0.0
        csv_version: 5.0.0
        sub_channel: v5.0
    informix_cp4d:
        case_version: 5.0.0
        cr_version: 5.0.0
        csv_version: 5.0.0
        sub_channel: v5.0
    mantaflow:
        case_version: 1.6.2
        cr_version: 37.2.3
        csv_version: 1.6.2
        sub_channel: v1.6
        supported_arch: amd64
    match360:
        case_version: 2.0.16
        component_dependencies:
        - ccs
        - opencontent_elasticsearch
        - opencontent_redis
        - opencontent_rabbitmq
        - opencontent_fdb
        - fdb_k8s
        cr_version: 2.0.27
        csv_version: 2.0.27
        sub_channel: v2.0
    model_train:
        case_version: 1.2.3
        csv_version: 1.1.5
        sub_channel: v1.1
    mongodb:
        case_version: 4.8.0
        csv_version: 1.17.1
    mongodb_cp4d:
        case_version: 4.8.0
        cr_version: 4.8.0
        csv_version: 4.8.0
        sub_channel: v4.8
    opencontent_auditwebhook:
        case_version: 1.0.23
        csv_version: 0.2.8
    opencontent_elasticsearch:
        case_version: 1.1.1255
        cr_version: 1.1.1255
        csv_version: 1.1.1255
        sub_channel: v1.1
    opencontent_etcd:
        case_version: 2.0.20
        csv_version: 1.0.12
    opencontent_fdb:
        case_version: 2.0.3
        cr_version: 2.0.8
        csv_version: 2.0.8
        sub_channel: v2.0
    opencontent_minio:
        case_version: 1.0.18
        csv_version: 1.0.13
    opencontent_rabbitmq:
        case_version: 1.0.22
        csv_version: 1.0.15
        sub_channel: v1.0
    opencontent_redis:
        case_version: 1.6.1
        csv_version: 1.6.1
        multi_arch_images: cpopen/ibm-cloud-databases-redis-catalog,cpopen/ibm-cloud-databases-redis-operator,cp/redis-db-5.0.9,cp/redis-mgmt-5.0.9,cp/redis-proxy-5.0.9,cp/redis-proxylog-5.0.9,cp/redis-db-5.0.14,cp/redis-mgmt-5.0.14,cp/redis-proxy-5.0.14,cp/redis-proxylog-5.0.14,cp/redis-db-6.0.16,cp/redis-mgmt-6.0.16,cp/redis-proxy-6.0.16,cp/redis-proxylog-6.0.16
        sub_channel: v1.6
    openpages:
        case_save_args: --no-dependency
        case_version: 4.0.0
        component_dependencies:
        - db2u
        - db2aaservice
        - opencontent_rabbitmq
        cr_version: 8.301.0
        csv_version: 4.0.0
        sub_channel: v4.0
    openpages_instance:
        cr_version: 8.301.0
    openscale:
        case_version: 4.0.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        sub_channel: v3.0
    planning_analytics:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 4.6.0
        sub_channel: v5.0
    postgresql:
        case_version: 4.8.0
        csv_version: 1.15.5
    productmaster:
        case_version: 3.0.0
        cr_version: 3.0.0
        csv_version: 3.0.0
        sub_channel: v3.0
    productmaster_instance:
        cr_version: 3.0.0
    replication:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 1.0.0
        sub_channel: v1.0
    rstudio:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: v6.0
        supported_arch: amd64,ppc64le
    scheduler:
        case_version: 1.7.0
        cr_version: 1.7.0
        csv_version: 1.7.0
        sub_channel: v1.7
    spss:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: v6.0
    watson_assistant:
        case_version: 4.10.0
        component_dependencies:
        - postgresql
        - opencontent_minio
        - opencontent_etcd
        - opencontent_auditwebhook
        - watson_gateway
        - data_governor
        - model_train
        - opencontent_elasticsearch
        - opencontent_redis
        - opencontent_rabbitmq
        cr_version: 4.6.0
        csv_version: 4.10.0
        sub_channel: v4.10
    watson_discovery:
        case_version: 5.0.0
        cr_version: 4.6.0
        csv_version: 5.0.0
        sub_channel: v5.0
    watson_gateway:
        case_version: 2.0.20
        csv_version: 1.0.14
    watson_ks:
        case_version: 4.6.0
        cr_version: 4.6.0
        csv_version: 4.6.0
        sub_channel: v4.6
    watson_speech:
        case_version: 5.0.0
        component_dependencies:
        - postgresql
        - opencontent_minio
        - opencontent_rabbitmq
        - watson_gateway
        - opencontent_auditwebhook
        cr_version: 4.6.0
        csv_version: 5.0.0
        sub_channel: v5.0
    wkc:
        case_version: 4.6.0
        component_dependencies:
        - ccs
        - analyticsengine
        - db2u
        - db2aaservice
        - opencontent_fdb
        - fdb_k8s
        - datastage_ent
        - datarefinery
        - iis
        - mantaflow
        cr_version: 4.6.0
        csv_version: 1.6.0
        sub_channel: v3.0
        supported_arch: amd64
    wml:
        case_version: 6.0.0
        cr_version: 4.6.0
        csv_version: 3.0.0
        sub_channel: v3.0
    wml_accelerator:
        case_version: 3.0.0
        cr_version: 3.0.0
        csv_version: 3.0.0
        sub_channel: v3.0
        supported_arch: amd64,ppc64le
    wml_accelerator_instance:
        cr_version: 3.0.0
        supported_arch: amd64,ppc64le
    ws:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: v6.0
    ws_pipelines:
        case_version: 6.0.0
        cr_version: 4.6.0
        csv_version: 6.0.0
        sub_channel: v6.0
        supported_arch: amd64
    ws_runtimes:
        case_version: 6.0.0
        cr_version: 6.0.0
        csv_version: 6.0.0
        sub_channel: v6.0
    zen:
        cr_version: 4.8.0
        csv_version: 1.8.0
  release_version: 4.6.0
