---
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-utils-cm
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    app.kubernetes.io/name: olm-utils
data:
  release_components_meta: |-

    scheduler:
      case_version: 1.42.0
      sub_channel: "v1.42"
      csv_version: 1.42.0
      cr_version: 1.42.0

    cpfs:
      csv_version: 4.11.0
      case_version: 4.11.0
      sub_channel: "v4.11"

    ibm-cert-manager:
      csv_version: 4.2.10 # TODO: pick the latest version up for 5.10
      case_version: 4.2.10
      sub_channel: "v4.2"

    ibm_events_operator:
      case_version: 5.1.0
      sub_channel: "v5.1"
      csv_version: 5.1.0

    streamsets:
      case_version: 2.0.0
      csv_version: 6.0.0
      cr_version: 6.0.0
      sub_channel: "v6.0.0"

    ibm-licensing:
      csv_version: 4.2.10 # TODO: pick the latest version up for 5.10
      case_version: 4.2.10
      sub_channel: "v4.2"

    cpd_platform:
      case_version: 5.1.1
      csv_version: 6.1.1
      sub_channel: "v6.1"
      cr_version: 5.1.2 #should be the same as release_version

    ibm_swhcc:
      case_version: 5.1.1
      csv_version: 5.1.1
      sub_channel: "v5.1"
      cr_version: 5.1.1

    zen:
      case_version: 6.1.1
      sub_channel: "v6.1"
      csv_version: 6.1.1
      cr_version: 6.1.1

    analyticsengine:
      case_version: 10.2.0
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    cognos_analytics:
      case_version: 27.2.0
      sub_channel: "v27.2"
      cr_version: 27.2.0
      csv_version: 27.2.0

    ccs:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    dashboard:
      case_version: 3.5.0
      sub_channel: "v3.5"
      csv_version: 3.5.0
      cr_version: 5.1.2

    datarefinery:
      case_version: 10.2.0
      csv_version: 10.2.0
      sub_channel: "v10.2"
      cr_version: 10.2.0

    canvasbase:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    spss:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    syntheticdata:
      licenses_urls:
        WXAI: https://ibm.biz/BdGSYf
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    datastage_ent:
      case_version: 9.2.0
      csv_version: 7.2.0
      cr_version: 5.1.2
      sub_channel: "v7.2"
      supported_arch: amd64,s390x

    datastage_ent_plus:
      case_version: 9.2.0
      csv_version: 7.2.0
      cr_version: 5.1.2
      sub_channel: "v7.2"
      supported_arch: amd64,s390x

    informix:
      case_version: 8.4.0
      sub_channel: "v8.4"
      csv_version: 8.4.0

    informix_cp4d:
      case_version: 8.4.0
      sub_channel: "v8.4"
      csv_version: 8.4.0
      cr_version: 8.4.0

    openscale:
      case_version: 8.2.0
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    ws:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    ws_runtimes:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0

    db2aaservice:
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    db2oltp:
      licenses_urls:
        DB2CE: https://ibm.biz/BdmpYX
        DB2SE: https://ibm.biz/BdmpYd
        DB2AE: https://ibm.biz/BdmpZ5
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    db2wh:
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2

    db2u:
      case_version: 7.1.3
      sub_channel: "v7.2"
      csv_version: 7.2.0

    datagate:
      case_version: 9.2.0
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 7.2.0

    dods:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0
  
    hee:
      case_version: 5.1.2
      sub_channel: "v5.12"
      csv_version: 5.1.2
      cr_version: 5.1.2
  
    dv:
      case_version: 6.2.0
      sub_channel: "v6.2"
      csv_version: 6.2.0
      cr_version: 3.1.2
  
    bigsql:
      case_version: 12.2.0
      sub_channel: "v12.2"
      csv_version: 12.2.0
      cr_version: 7.8.2
  
    planning_analytics:
      case_version: 5.1.2
      sub_channel: "v9.2"
      csv_version: 5.1.2
      cr_version: 5.1.2
  
    rstudio:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 10.2.0
  
    watson_assistant:
      case_version: 5.5.0
      sub_channel: "v5.5"
      csv_version: 5.5.0
      cr_version: "5.1.2"
  
    watson_discovery:
      case_version: 9.2.0
      sub_channel: "v9.2"
      csv_version: 9.2.0
      cr_version: 5.1.2
  
    watson_speech:
      case_version: 9.2.0
      sub_channel: "v9.2"
      csv_version: 9.2.0
      cr_version: 5.1.2
  
    wkc:
      case_version: 5.1.2
      sub_channel: "v7.2"
      csv_version: 2.1.2
      cr_version: 5.1.2
  
    ikc_standard:
      licenses_urls:
        IKCS: https://ibm.biz/Bdmm4V
      case_version: 5.1.2
      sub_channel: "v6.2"
      csv_version: 5.1.2
      cr_version: 5.1.2
  
    ikc_premium:
      licenses_urls:
        IKCP: https://ibm.biz/Bdmm4J
      case_version: 5.1.2
      sub_channel: "v6.2"
      csv_version: 5.1.2
      cr_version: 5.1.2
  
    datalineage:
      case_version: 5.1.2
      sub_channel: "v5.3"
      csv_version: 5.1.2
      cr_version: 5.1.2
  
    udp:
      case_version: 5.1.2
      sub_channel: "v5.1"
      csv_version: 5.1.2
      cr_version: 5.1.2
  
    productmaster:
      case_version: 7.1.0
      csv_version: 7.1.0
      sub_channel: "v7.1"
      cr_version: 7.1.0
  
    dataproduct:
      case_version: 5.1.2
      sub_channel: "v6.2"
      csv_version: 1.1.2
      cr_version: 5.1.2
  
    productmaster_instance:
      cr_version: 7.1.0
  
    dp:
      case_version: 9.2.0
      csv_version: 9.2.0
      sub_channel: "v9.2"
      cr_version: 5.1.2
  
    wml:
      case_version: 10.2.0
      sub_channel: "v7.2"
      csv_version: 7.2.0
      cr_version: 5.1.2
  
    dmc:
      case_version: 8.6.0
      csv_version: 5.6.0
      cr_version: 5.1.2
      sub_channel: "v5.6"
  
    openpages:
      case_version: 8.2.0
      csv_version: 8.2.0
      cr_version: 9.4.2
      sub_channel: "v8.2"
  
    openpages_instance:
      cr_version: 9.4.2
  
    mantaflow:
      case_version: 1.25.2
      sub_channel: "v1.25"
      csv_version: 1.25.2
      cr_version: 42.10.0
  
    match360:
      case_version: 4.4.0
      csv_version: 4.4.0
      cr_version: 4.4.8
      sub_channel: "v4.4"
  
    opencontent_opensearch:
      case_version: 1.1.1426
      csv_version: 1.1.1426
      cr_version: 1.1.1426
      sub_channel: "v1.1"
  
    opencontent_elasticsearch:
      case_version: 1.1.2570
      csv_version: 1.1.2570
      cr_version: 1.1.2570
      sub_channel: "v1.1"
  
    opencontent_redis:
      case_version: 1.6.11
      csv_version: 1.6.11
      sub_channel: "v1.6"
  
    ibm_redis_cp:
      case_version: 1.2.5
      csv_version: 1.2.5
      sub_channel: "v1.2"
  
    opencontent_rabbitmq:
      case_version: 1.0.46
      csv_version: 1.0.37
      sub_channel: "v1.0"
  
    opencontent_fdb:
      case_version: 5.1.1
      csv_version: 5.1.1
      cr_version: 5.1.1
      sub_channel: "v5.1"
  
    fdb_k8s:
      csv_version: 5.1.1
      sub_channel: "v5.1"
  
    opencontent_etcd:
      case_version: 2.0.47
      csv_version: 1.0.37
  
    watson_gateway:
      case_version: 2.0.40
      csv_version: 1.0.37
  
    data_governor:
      case_version: 6.2.0
      csv_version: 6.2.0
      sub_channel: v6.2
  
    ws_pipelines:
      case_version: 10.2.0
      sub_channel: "v10.2"
      csv_version: 10.2.0
      cr_version: 5.1.2
  
    postgresql:
      case_version: 4.30.0
      sub_channel: "stable-v1.22"
      csv_version: 1.22.7
      #operands_supported: "12.20, 13.16, 14.13, 15.8, 16.4"
  
    edb_cp4d:
      case_version: 5.11.0
      sub_channel: "v5.11"
      csv_version: 5.11.0
      cr_version: 5.11.0
      #operands_supported: "13.18, 14.15, 15.10, 16.6, 17.2"
  
    mongodb:
      case_version: 5.12.0
      sub_channel: "stable"
      csv_version: 1.31.0
      # MongoDB_Ops_Manager: "7.0.13, 8.0.3"
      # Mongodb_server: "8.0.4-ent, 7.0.16-ent"
  
    mongodb_cp4d:
      case_version: 5.12.0
      sub_channel: "v5.12"
      csv_version: 5.12.0
      cr_version: 5.12.0
  
    dpra:
      case_version: 1.18.0
      sub_channel: "v1.18"
      csv_version: 1.18.0
      cr_version: 1.18.0
  
    factsheet:
      case_version: 5.2.0
      csv_version: 5.2.0
      sub_channel: "v5.2"
      cr_version: 5.1.2
  
    replication:
      licenses_urls:
        IDRC: https://ibm.biz/BdanUi
        IIDRC: https://ibm.biz/BdanUZ
        IDRM: https://ibm.biz/BdagqW
        IIDRM: https://ibm.biz/Bdagfc
        IDRZOS: https://ibm.biz/BdanUY
        IIDRWXTO: https://ibm.biz/BdanU2
        IIDRWXAO: https://ibm.biz/BdanUz
      case_version: 5.1.3
      csv_version: 5.3.0
      cr_version: 5.1.3
      sub_channel: "v5.3"
  
    voice_gateway:
      case_version: 1.7.0
      csv_version: 1.7.0
      sub_channel: v1.7
      cr_version: 1.7.0
  
    watsonx_data:
      licenses_urls:
        WXD: https://ibm.biz/BdGSDU
      case_version: 4.2.0
      sub_channel: "v4.2"
      csv_version: 4.2.0
      cr_version: 2.1.2
  
    wxd_query_optimizer:
      component_dependencies:
      - db2u
  
    watsonx_ai:
      licenses_urls:
        WXAI: https://ibm.biz/BdGSYf
      case_version: 10.2.0
      csv_version: 10.2.0
      sub_channel: v10.2
      cr_version: 10.2.0
      osai_min_version: 2.16.0
  
    watsonx_ai_ifm:
      licenses_urls:
        WXAI: https://ibm.biz/BdGSYf
      case_version: 10.2.0
      csv_version: 10.2.0
      sub_channel: v10.2
      cr_version: 10.2.0
  
    watsonx_bi_assistant:
      case_version: 2.2.0
      csv_version: 2.2.0
      sub_channel: v2.2
      cr_version: 2.2.0
  
    wca_ansible:
      case_version: 2.2.0
      csv_version: 2.2.0
      sub_channel: v2.2
      cr_version: 5.1.2
  
    wca:
      case_version: 1.2.0
      csv_version: 1.2.0
      sub_channel: v1.2
      cr_version: 5.1.2
  
    wca_z:
      case_version: 2.2.0
      csv_version: 2.2.0
      sub_channel: v2.2
      cr_version: 5.1.2
  
    wca_z_ce:
      case_version: 5.1.1
      sub_channel: v2.4
      csv_version: 2.4.10
      cr_version: 2.4.10
  
    wca_base:
      case_version: 2.2.0
      csv_version: 2.2.0
      sub_channel: v2.2
      cr_version: 5.1.2
  
    ibm_neo4j:
      case_version: 1.1.2
      sub_channel: "v2.2"
      csv_version: 1.1.2
      cr_version: 1.1.2
  
    watsonx_governance:
      case_version: 3.2.0
      sub_channel: "v3.2"
      csv_version: 3.2.0
      cr_version: 2.1.2
  
    watsonx_orchestrate:
      case_version: 5.3.0
      sub_channel: "v5.3"
      csv_version: 5.3.0
      cr_version: "5.3.0"
