---
apiVersion: {{ mas_app_api_version }}
kind: {{ mas_app_kind }}
metadata:
  name: {{ mas_instance_id }}
  namespace: {{ mas_app_namespace }}
  labels:
    mas.ibm.com/instanceId: {{ mas_instance_id }}
    mas.ibm.com/applicationId: {{ mas_app_id }}
spec: {{ mas_app_spec }}
