apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ibm-{{ mas_app_namespace }}-operatorgroup
  namespace: {{ mas_app_namespace }}
spec:
  targetNamespaces:
    - {{ mas_app_namespace }}
