apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ mas_app_namespace }}-operator-group
  namespace: {{ mas_app_namespace }}
spec:
  targetNamespaces:
    - {{ mas_app_namespace }}
