kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: cis-proxy-route
  namespace: "{{ certManager.namespace }}"
spec:
  host: "{{ custom_ocp_ingress }}"
  to:
    kind: Service
    name: cert-manager-webhook-ibm-cis
    weight: 100
  port:
    targetPort: https
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
