apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: cis-letsencrypt-staging-{{ mas_instance_id }}
spec:
  acme:
    email: "{{ cis_email }}"
    preferredChain: ''
    privateKeySecretRef:
      name: cis-letsencrypt-staging-account-key
    server: 'https://acme-staging-v02.api.letsencrypt.org/directory'
    solvers:
      - dns01:
          webhook:
            config:
              apiKeySecretRef:
                key: key
                name: cis-api-key
              crn: >-
                {{ cis_crn }}
            groupName: {{ groupName }}
            solverName: cis
