---
apiVersion: apps.mas.ibm.com/v1
kind: "{{ mas_app_ws_kind }}"
metadata:
  name: "{{ mas_instance_id }}-{{ mas_workspace_id }}"
  namespace: "{{ mas_app_namespace }}"
  labels:
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
    mas.ibm.com/workspaceId: "{{ mas_workspace_id }}"
    mas.ibm.com/applicationId: "{{ mas_app_id }}"
spec: {{ mas_app_ws_spec }}