#!/bin/bash

if [ -f "/tmp/config_crontask" ]; then
  echo "Aborting run.  /tmp/config_crontask exists; this script has already been executed"
  exit 0
fi

set -e
db2 connect to {{ db2wh_dbname }}

db2 "delete from maximo.CRONTASKINSTANCE where CRONTASKNAME='Kafka' and INSTANCENAME in ('kafkacqin','kafkasqout')"

db2 "delete from maximo.CRONTASKPARAM where CRONTASKNAME='Kafka' and INSTANCENAME in ('kafkacqin','kafkasqout')"

db2 "INSERT INTO maximo.CRONTASKINSTANCE (CRONTASKNAME,INSTANCENAME,RELOADREQTIME,SCHEDULE,ACTIVE,DESCRIPTION,CRONTASKINSTANCEID,RUNASUSERID,LANGCODE,HASLD,AUTOREMOVAL,NEXTRUNTMOVERWRITE,KEEPHISTORY,MAXHISTORY) VALUES ('Kafka','kafkacqinerr',CURRENT_TIMESTAMP,'30s,*,*,*,*,*,*,*,*,*',0,'Kafka inbound continuous error cron task',maximo.CRONTASKINSTANCESEQ.nextval,'MAXADMIN','EN',0,0,NULL,0,20)"
 
db2 "INSERT INTO maximo.CRONTASKINSTANCE (CRONTASKNAME,INSTANCENAME,RELOADREQTIME,SCHEDULE,ACTIVE,DESCRIPTION,CRONTASKINSTANCEID,RUNASUSERID,LANGCODE,HASLD,AUTOREMOVAL,NEXTRUNTMOVERWRITE,KEEPHISTORY,MAXHISTORY) VALUES ('Kafka','kafkacqin',CURRENT_TIMESTAMP,'30s,*,*,*,*,*,*,*,*,*',0,'Kafka inbound continuous cron task',maximo.CRONTASKINSTANCESEQ.nextval,'MAXADMIN','EN',0,0,NULL,0,20)"

db2 "INSERT INTO maximo.CRONTASKINSTANCE (CRONTASKNAME,INSTANCENAME,RELOADREQTIME,SCHEDULE,ACTIVE,DESCRIPTION,CRONTASKINSTANCEID,RUNASUSERID,LANGCODE,HASLD,AUTOREMOVAL,NEXTRUNTMOVERWRITE,KEEPHISTORY,MAXHISTORY) VALUES ('Kafka','kafkacqin1',CURRENT_TIMESTAMP,'30s,*,*,*,*,*,*,*,*,*',0,'Kafka inbound continuous cron task',maximo.CRONTASKINSTANCESEQ.nextval,'MAXADMIN','EN',0,0,NULL,0,20)"

db2 "INSERT INTO maximo.CRONTASKINSTANCE (CRONTASKNAME,INSTANCENAME,RELOADREQTIME,SCHEDULE,ACTIVE,DESCRIPTION,CRONTASKINSTANCEID,RUNASUSERID,LANGCODE,HASLD,AUTOREMOVAL,NEXTRUNTMOVERWRITE,KEEPHISTORY,MAXHISTORY) VALUES ('Kafka','kafkacqin2',CURRENT_TIMESTAMP,'30s,*,*,*,*,*,*,*,*,*',0,'Kafka inbound continuous cron task',maximo.CRONTASKINSTANCESEQ.nextval,'MAXADMIN','EN',0,0,NULL,0,20)"
 
db2 "INSERT INTO maximo.CRONTASKINSTANCE (CRONTASKNAME,INSTANCENAME,RELOADREQTIME,SCHEDULE,ACTIVE,DESCRIPTION,CRONTASKINSTANCEID,RUNASUSERID,LANGCODE,HASLD,AUTOREMOVAL,NEXTRUNTMOVERWRITE,KEEPHISTORY,MAXHISTORY) VALUES ('Kafka','kafkasqqin',CURRENT_TIMESTAMP,'30s,*,*,*,*,*,*,*,*,*',0,'Kafka inbound Sequential cron task',maximo.CRONTASKINSTANCESEQ.nextval,'MAXADMIN','EN',0,0,NULL,0,20)"

db2 "INSERT INTO maximo.CRONTASKINSTANCE (CRONTASKNAME,INSTANCENAME,RELOADREQTIME,SCHEDULE,ACTIVE,DESCRIPTION,CRONTASKINSTANCEID,RUNASUSERID,LANGCODE,HASLD,AUTOREMOVAL,NEXTRUNTMOVERWRITE,KEEPHISTORY,MAXHISTORY) VALUES ('Kafka','kafkasqout',CURRENT_TIMESTAMP,'30s,*,*,*,*,*,*,*,*,*',0,'Kafka outbound Sequential cron task',maximo.CRONTASKINSTANCESEQ.nextval,'MAXADMIN','EN',0,0,NULL,0,20)"

db2 "INSERT INTO maximo.CRONTASKPARAM (CRONTASKNAME,INSTANCENAME,"PARAMETER",VALUE,CRONTASKPARAMID,CRYPTOVALUE) VALUES ('Kafka','kafkacqinerr','MESSAGEHUB','KAFKA',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqinerr','MESSAGEPROCESSOR','psdi.iface.jms.QueueToMaximoProcessor',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqinerr','TOPIC','cqinerr',maximo.CRONTASKPARAMSEQ.nextval,NULL)"
 
db2 "INSERT INTO maximo.CRONTASKPARAM (CRONTASKNAME,INSTANCENAME,"PARAMETER",VALUE,CRONTASKPARAMID,CRYPTOVALUE) VALUES ('Kafka','kafkacqin','MESSAGEHUB','KAFKA',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqin','MESSAGEPROCESSOR','psdi.iface.jms.QueueToMaximoProcessor',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqin','TOPIC','cqin',maximo.CRONTASKPARAMSEQ.nextval,NULL)"

db2 "INSERT INTO maximo.CRONTASKPARAM (CRONTASKNAME,INSTANCENAME,"PARAMETER",VALUE,CRONTASKPARAMID,CRYPTOVALUE) VALUES ('Kafka','kafkacqin1','MESSAGEHUB','KAFKA',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqin1','MESSAGEPROCESSOR','psdi.iface.jms.QueueToMaximoProcessor',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqin1','TOPIC','cqin',maximo.CRONTASKPARAMSEQ.nextval,NULL)"
 
db2 "INSERT INTO maximo.CRONTASKPARAM (CRONTASKNAME,INSTANCENAME,"PARAMETER",VALUE,CRONTASKPARAMID,CRYPTOVALUE) VALUES ('Kafka','kafkacqin2','MESSAGEHUB','KAFKA',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqin2','MESSAGEPROCESSOR','psdi.iface.jms.QueueToMaximoProcessor',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkacqin2','TOPIC','cqin',maximo.CRONTASKPARAMSEQ.nextval,NULL)"

db2 "INSERT INTO maximo.CRONTASKPARAM (CRONTASKNAME,INSTANCENAME,"PARAMETER",VALUE,CRONTASKPARAMID,CRYPTOVALUE) VALUES ('Kafka','kafkasqqin','MESSAGEHUB','KAFKA',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkasqqin','MESSAGEPROCESSOR','psdi.iface.jms.QueueToMaximoProcessor',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkasqqin','TOPIC','sqqin',maximo.CRONTASKPARAMSEQ.nextval,NULL)"

db2 "INSERT INTO maximo.CRONTASKPARAM (CRONTASKNAME,INSTANCENAME,"PARAMETER",VALUE,CRONTASKPARAMID,CRYPTOVALUE) VALUES ('Kafka','kafkasqout','MESSAGEHUB','KAFKA',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkasqout','MESSAGEPROCESSOR','psdi.iface.jms.QueueToDestManagerProcessor',maximo.CRONTASKPARAMSEQ.nextval,NULL),('Kafka','kafkasqout','TOPIC','sqqout',maximo.CRONTASKPARAMSEQ.nextval,NULL)"

db2 "commit"

echo "COMPLETE" > /tmp/config_crontask
chmod a+rw /tmp/config_crontask

# If we get this far, then we can consider the setup a success
exit 0