---
apiVersion: "{{ mas_app_ws_apiversion }}"
kind: "{{ mas_app_ws_kind }}"
metadata:
  name: "{{ mas_instance_id }}-{{ mas_workspace_id }}"
  namespace: "{{ mas_app_namespace }}"
spec:  
  settings:
    deployment:
        serverBundles:
          {{systemServerBundles}}