---
apiVersion: v1
kind: Service
metadata:
  name: {{ redis_haproxy_service }}
  namespace: {{ redis_namespace }}
  labels:
    app: haproxy
    instance: {{ redis_instance_name }}
spec:
  type: ClusterIP
  ports:
    - name: redis
      port: {{ redis_port }}
      targetPort: redis
      protocol: TCP
    - name: sentinel
      port: {{ redis_sentinel_port }}
      targetPort: sentinel
      protocol: TCP
    - name: stats
      port: 8404
      targetPort: stats
      protocol: TCP
  selector:
    app: haproxy
    instance: {{ redis_instance_name }}