---
apiVersion: networking.istio.io/v1
kind: Gateway
metadata:
  name: mas-gateway
  namespace: {{servicemesh_ingress_namespace}}
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: PASSTHROUGH
    hosts:
    - "*.servicemesh.apps.$CLUSTER_DOMAIN"