apiVersion: sailoperator.io/v1
kind: Istio
metadata:
  name: default
  namespace: {{servicemesh_namespace}}
spec:
  namespace: {{servicemesh_namespace}}
  values:
    global:
      istioNamespace: {{servicemesh_namespace}}
    pilot:
      env:
        ENABLE_NATIVE_SIDECARS: "true"
    sidecarInjectorWebhook:
      nativeSidecar: true