---
apiVersion: v1
kind: Namespace
metadata:
    name: "{{servicemesh_namespace}}"
---
apiVersion: v1
kind: Namespace
metadata:
    name: "{{servicemesh_ingress_namespace}}"
---
apiVersion: v1
kind: Namespace
metadata:
    name: "{{servicemesh_cni_namespace}}"