---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: km-store
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-store
    component: store
    kmodels: instance
    part-of: kmodels
spec:
  replicas: 1
  selector:
    matchLabels:
      app: km-store
      kmodels: instance
      part-of: kmodels
  template:
    metadata:
      labels:
        app: km-store
        component: store
        kmodels: instance
        part-of: kmodels
    spec:
      restartPolicy: Always
      imagePullSecrets:
        # - name: regcred
        - name: {{ pullSecretName }}
      containers:
        - name: store
          # image: 'icr.io/mas-accelerators/kmodels/store:1.0.0'
          image: {{ registry }}/{{ store}}
          imagePullPolicy: Always
          securityContext:
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
          ports:
            - name: http
              containerPort: 3000
          envFrom:
            - configMapRef:
                name: km-store
            - secretRef:
                name: km-s3-secret
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
              ephemeral-storage: "1Gi"
            limits:
              memory: "256Mi"
              cpu: "100m"
              ephemeral-storage: "2Gi"
          livenessProbe:
            httpGet:
              path: /version
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 500
          readinessProbe:
            httpGet:
              path: /version
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 500
