---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: km-store
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-store
    component: store
    kmodels: instance
    part-of: kmodels
spec:
  replicas: 1
  selector:
    matchLabels:
      app: km-store
      kmodels: instance
      part-of: kmodels
  template:
    metadata:
      labels:
        app: km-store
        component: store
        kmodels: instance
        part-of: kmodels
    spec:
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred
      containers:
        - name: store
          image: 'icr.io/mas-accelerators/kmodels/store:1.0.0'
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          envFrom:
            - configMapRef:
                name: km-store
            - secretRef:
                name: km-s3-secret
