---
# secret to be linked to customizationList in Manage Workspace CR when authentication is required to download file from archive url
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_app_settings_customization_credentials_secret_name }}"
  namespace: "mas-{{ mas_instance_id }}-manage"
stringData:
  credentials: |
    user={{ mas_app_settings_customization_archive_username }}
    password={{ mas_app_settings_customization_archive_password }}
