---
# secret to be linked to customizationList in Manage Workspace CR when authentication is required to download file from archive url
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_app_settings_customization_credentials_secret_name }}"
  namespace: "mas-{{ mas_instance_id }}-manage"
stringData:
  credentials: |
    user={{ mas_app_settings_customization_archive_username }}
    password={{ mas_app_settings_customization_archive_password }}
{% if mas_app_settings_customization_archive_auth_no_challenge is defined and
      mas_app_settings_customization_archive_auth_no_challenge != "" %}
    auth_no_challenge={{ mas_app_settings_customization_archive_auth_no_challenge }}
{% endif %}
{% if mas_app_settings_customization_archive_secure_protocol is defined and
      mas_app_settings_customization_archive_secure_protocol != "" %}
    secure-protocol={{ mas_app_settings_customization_archive_secure_protocol }}
{% endif %}
