# Secret to define Manage database encryption settings and AI Service integration properties
# Database encryption: https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=encryption-database-scenarios
# AI Service properties: mxe.int.aibrokerapikey, mxe.int.aibrokerapiurl, mxe.int.aibrokertenantid
---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_app_settings_encryption_secret_name }}"
  namespace: "mas-{{ mas_instance_id }}-{{ mas_app_id }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
stringData:
{% if mas_app_settings_crypto_key is defined and mas_app_settings_crypto_key !='' and mas_app_settings_cryptox_key is defined and mas_app_settings_cryptox_key !='' %}
  MXE_SECURITY_CRYPTO_KEY: {{ mas_app_settings_crypto_key }}
  MXE_SECURITY_CRYPTOX_KEY: {{ mas_app_settings_cryptox_key }}
{% endif %}
{% if mas_app_settings_old_crypto_key is defined and mas_app_settings_old_crypto_key !='' and mas_app_settings_old_cryptox_key is defined and mas_app_settings_old_cryptox_key !=''%}
  MXE_SECURITY_OLD_CRYPTO_KEY: {{ mas_app_settings_old_crypto_key }}
  MXE_SECURITY_OLD_CRYPTOX_KEY: {{ mas_app_settings_old_cryptox_key }}
{% endif %}
{% if aiservice_api_key is defined and aiservice_api_key !='' %}
  mxe.int.aibrokerapikey: {{ aiservice_api_key }}
{% endif %}
{% if aiservice_url is defined and aiservice_url !='' %}
  mxe.int.aibrokerapiurl: {{ aiservice_url }}
{% endif %}
{% if aiservice_tenant_id is defined and aiservice_tenant_id !='' %}
  mxe.int.aibrokertenantid: {{ aiservice_tenant_id }}
{% endif %}
