# secret to define manage database encryption settings
# https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=encryption-database-scenarios
---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_app_settings_encryption_secret_name }}"
  namespace: "mas-{{ mas_instance_id }}-{{ mas_app_id }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
stringData:
{% if mas_app_settings_crypto_key is defined and mas_app_settings_crypto_key !='' and mas_app_settings_cryptox_key is defined and mas_app_settings_cryptox_key !='' %}
  MXE_SECURITY_CRYPTO_KEY: {{ mas_app_settings_crypto_key }}
  MXE_SECURITY_CRYPTOX_KEY: {{ mas_app_settings_cryptox_key }}
{% endif %}
{% if mas_app_settings_old_crypto_key is defined and mas_app_settings_old_crypto_key !='' and mas_app_settings_old_cryptox_key is defined and mas_app_settings_old_cryptox_key !=''%}
  MXE_SECURITY_OLD_CRYPTO_KEY: {{ mas_app_settings_old_crypto_key }}
  MXE_SECURITY_OLD_CRYPTOX_KEY: {{ mas_app_settings_old_cryptox_key }}
{% endif %}
