# Secret to define Manage database encryption settings and AI Service integration properties
# Database encryption: https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=encryption-database-scenarios
# AI Service properties: mxe.int.aibrokerapikey, mxe.int.aibrokerapiurl, mxe.int.aibrokertenantid
---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_manage_ws_db_encryptionsecret }}"
  namespace: "{{ mas_app_namespace }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
stringData:
{% if mas_manage_encryptionsecret_crypto_key !='' %}
  MXE_SECURITY_CRYPTO_KEY: {{ mas_manage_encryptionsecret_crypto_key }}
  MXE_SECURITY_CRYPTOX_KEY: {{ mas_manage_encryptionsecret_cryptox_key }}
{% endif %}
{% if mas_manage_encryptionsecret_old_crypto_key !='' %}
  MXE_SECURITY_OLD_CRYPTO_KEY: {{ mas_manage_encryptionsecret_old_crypto_key }}
  MXE_SECURITY_OLD_CRYPTOX_KEY: {{ mas_manage_encryptionsecret_old_cryptox_key }}
{% endif %}
{% if mas_manage_encryptionsecret_aiservice_apikey != '' %}
  mxe.int.aibrokerapikey: {{ mas_manage_encryptionsecret_aiservice_apikey }}
  mxe.int.aibrokerapiurl: {{ mas_manage_encryptionsecret_aiservice_url }}
  mxe.int.aibrokertenantid: {{ mas_manage_encryptionsecret_aiservice_fqn }}
{% endif %}
