---
kind: Secret
apiVersion: v1
metadata:
  name: {{ server_bundles_add_server_config_secret_name }}
  namespace: mas-{{ mas_instance_id }}-manage
data:
  server-custom.xml: >-
    {{ server_bundles_add_server_config_content | b64encode }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ server_bundles_jms_add_server_config_secret_name }}
  namespace: mas-{{ mas_instance_id }}-manage
data:
  server-custom.xml: >-
    {{ server_bundles_jms_add_server_config_content | b64encode }}
