---
kind: Secret
apiVersion: v1
metadata:
  name: {{ server_bundles_add_server_config_secret_name }}
  namespace: mas-{{ mas_instance_id }}-manage
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
data:
  server-custom.xml: >-
    {{ server_bundles_add_server_config_content | b64encode }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ server_bundles_add_server_config_no_activation_secret_name }}
  namespace: mas-{{ mas_instance_id }}-manage
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
data:
  server-custom.xml: >-
    {{ server_bundles_add_server_config_no_activation_content | b64encode }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ server_bundles_jms_add_server_config_secret_name }}
  namespace: mas-{{ mas_instance_id }}-manage
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
data:
  server-custom.xml: >-
    {{ server_bundles_jms_add_server_config_content | b64encode }}
