---
# secret to be linked to mea bundle server
kind: Secret
apiVersion: v1
metadata:
  name: {{ mas_workspace_id }}-{{ mas_app_id }}-d--sb0--asc--sn
  namespace: mas-{{ mas_instance_id }}-manage
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
data:
  server-custom.xml: >-
    {{ server_bundles_add_server_config_content | b64encode }}
---
# secret to be linked to cron jms server
kind: Secret
apiVersion: v1
metadata:
  name: {{ mas_workspace_id }}-{{ mas_app_id }}-d--sb1--asc--sn
  namespace: mas-{{ mas_instance_id }}-manage
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
data:
  server-custom.xml: >-
    {{ server_bundles_jms_add_server_config_content | b64encode }}
