apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ cp4d_db_config_configmap_name }}-{{ db2wh_instance_id }}"
data:
  cp4d_db_id: "{{ cp4d_db_id }}"
  cp4d_db_svc_name: "{{ cp4d_db_svc }}"
  cp4d_db_ssl_port: "{{ cp4d_db_ssl_port }}"
