# List of all Arcgis images mapped into the env-variables secret
arcgis_container_image_admin_api: "{{ arcgis_container_registry }}/enterprise-admin:{{ arcgis_version_tag }}"
arcgis_container_image_admin_tools: "{{ arcgis_container_registry }}/enterprise-admin-tools:{{ arcgis_version_tag }}"
arcgis_container_image_busybox: "{{ arcgis_container_registry }}/arcgis-busybox:{{ arcgis_version_tag }}"	
arcgis_container_image_catalog_server: "{{ arcgis_container_registry }}/catalog-server:{{ arcgis_version_tag }}"
arcgis_container_image_config_factory_server: "{{ arcgis_container_registry }}/config-factory-server:{{ arcgis_version_tag }}"
arcgis_container_image_disaster_recovery: "{{ arcgis_container_registry }}/arcgis-disaster-recovery:{{ arcgis_version_tag }}"	
arcgis_container_image_distributed_server_deeplearning: "{{ arcgis_container_registry }}/distributed-server-deeplearning:{{ arcgis_version_tag }}"
arcgis_container_image_distributed_server: "{{ arcgis_container_registry }}/distributed-server:{{ arcgis_version_tag }}"
arcgis_container_image_filebeat: "{{ arcgis_container_registry }}/arcgis-filebeat:{{ arcgis_version_tag }}"
arcgis_container_image_geocode_runtime_server: "{{ arcgis_container_registry }}/geocode-runtime-server:{{ arcgis_version_tag }}"
arcgis_container_image_geocode_server: "{{ arcgis_container_registry }}/geocode-server:{{ arcgis_version_tag }}"
arcgis_container_image_geometry_server: "{{ arcgis_container_registry }}/geometry-server:{{ arcgis_version_tag }}"
arcgis_container_image_gp_server: "{{ arcgis_container_registry }}/gp-server:{{ arcgis_version_tag }}"
arcgis_container_image_gpproxy_server: "{{ arcgis_container_registry }}/gp-proxy-server:{{ arcgis_version_tag }}"
arcgis_container_image_help: "{{ arcgis_container_registry }}/help:{{ arcgis_version_tag }}"
arcgis_container_image_image_server: "{{ arcgis_container_registry }}/image-server:{{ arcgis_version_tag }}"
arcgis_container_image_ingress_controller: "{{ arcgis_container_registry }}/arcgis-ingress-controller:{{ arcgis_version_tag }}"
arcgis_container_image_manager_app: "{{ arcgis_container_registry }}/manager:{{ arcgis_version_tag }}"
arcgis_container_image_map_server: "{{ arcgis_container_registry }}/map-server:{{ arcgis_version_tag }}"
arcgis_container_image_native_server: "{{ arcgis_container_registry }}/native-server:{{ arcgis_version_tag }}"
arcgis_container_image_object_store_migration_tools: "{{ arcgis_container_registry }}/object-store-migration-tools:{{ arcgis_version_tag }}"
arcgis_container_image_portal_apps: "{{ arcgis_container_registry }}/apps:{{ arcgis_version_tag }}"
arcgis_container_image_portal_content_template: "{{ arcgis_container_registry }}/portal-content-template:{{ arcgis_version_tag }}"
arcgis_container_image_portal_home_app: "{{ arcgis_container_registry }}/home:{{ arcgis_version_tag }}"
arcgis_container_image_portal_jsapi: "{{ arcgis_container_registry }}/jsapi:{{ arcgis_version_tag }}"
arcgis_container_image_portal_sharing_api: "{{ arcgis_container_registry }}/sharing:{{ arcgis_version_tag }}"
arcgis_container_image_portal_web_style_app: "{{ arcgis_container_registry }}/web-style:{{ arcgis_version_tag }}"
arcgis_container_image_postgres_upgrader: "{{ arcgis_container_registry }}/postgres-upgrade-tools:{{ arcgis_version_tag }}"
arcgis_container_image_prometheus: "{{ arcgis_container_registry }}/arcgis-prometheus:{{ arcgis_version_tag }}"
arcgis_container_image_rabbitmq: "{{ arcgis_container_registry }}/enterprise-rabbitmq:{{ arcgis_version_tag }}"
arcgis_container_image_raster_analytics_server_deeplearning: "{{ arcgis_container_registry }}/raster-analytics-server-deeplearning:{{ arcgis_version_tag }}"
arcgis_container_image_sds_feature_server: "{{ arcgis_container_registry }}/sds-feature-server:{{ arcgis_version_tag }}"
arcgis_container_image_store_ignite: "{{ arcgis_container_registry }}/arcgis-ignite:{{ arcgis_version_tag }}"
arcgis_container_image_store_ozone: "{{ arcgis_container_registry }}/arcgis-ozone:{{ arcgis_version_tag }}"
arcgis_container_image_store_postgres: "{{ arcgis_container_registry }}/arcgis-postgresql:{{ arcgis_version_tag }}"
arcgis_container_image_store_relational: "{{ arcgis_container_registry }}/relational-datastore:{{ arcgis_version_tag }}"
arcgis_container_image_store_sbds: "{{ arcgis_container_registry }}/arcgis-opensearch:{{ arcgis_version_tag }}"
arcgis_container_image_symbol_server: "{{ arcgis_container_registry }}/symbol-server:{{ arcgis_version_tag }}"
arcgis_container_image_tile_server: "{{ arcgis_container_registry }}/tile-server:{{ arcgis_version_tag }}"
arcgis_container_image_upgrader: "{{ arcgis_container_registry }}/enterprise-admin-tools:{{ arcgis_version_tag }}"
arcgis_container_image_web_proxy: "{{ arcgis_container_registry }}/arcgis-nginx-web:{{ arcgis_version_tag }}" 
arcgis_container_image_webhook_processor: "{{ arcgis_container_registry }}/webhook-processor:{{ arcgis_version_tag }}"
