#Liveness and Readiness Probe for Admin Deployment
liveness_period_seconds: 30
readiness_period_seconds: 30
startup_init_delay_seconds: 0
startup_failure_threshold_count: 30
startup_period_seconds: 30
liveness_failure_threshold_count: 3
readiness_failure_threshold_count: 3
#single node deployment resource
scale_resource_request: 0.25
scale_resource_limits: 0.75
single_node_deployment: false

# Resource Request and Limit For Each Deployment

# admin pod
resource_cpu_min_admin: 0.5
resource_cpu_max_admin: 1
resource_memory_min_admin: 1Gi
resource_memory_max_admin: 2Gi

# filebeat pod
resource_cpu_min_filebeat: 0.05
resource_cpu_max_filebeat: 0.25
resource_memory_min_filebeat: 32Mi
resource_memory_max_filebeat: 50Mi

# postgres pod
resource_cpu_min_postgres: 0.5
resource_cpu_max_postgres: 4
resource_memory_min_postgres: 2Gi
resource_memory_max_postgres: 8Gi

# ozone pod
resource_cpu_min_ozone: 0.5
resource_cpu_max_ozone: 4
resource_memory_min_ozone: 2Gi
resource_memory_max_ozone: 8Gi

# cachestore pod
resource_cpu_min_cachestore: 0.5
resource_cpu_max_cachestore: 1
resource_memory_min_cachestore: 3Gi
resource_memory_max_cachestore: 3Gi

# elastic coordinator pod
resource_cpu_min_elastic_coordinator: 0.5
resource_cpu_max_elastic_coordinator: 4
resource_memory_min_elastic_coordinator: 4Gi
resource_memory_max_elastic_coordinator: 8Gi

# elastic data pod
resource_cpu_min_elastic_data: 0.5
resource_cpu_max_elastic_data: 4
resource_memory_min_elastic_data: 4Gi
resource_memory_max_elastic_data: 8Gi

# rabbitmq pod
resource_cpu_min_rabbitmq: 0.125
resource_cpu_max_rabbitmq: 4
resource_memory_min_rabbitmq: 1Gi
resource_memory_max_rabbitmq: 4Gi

# manager pod
resource_cpu_min_manager: 0.05
resource_cpu_max_manager: 0.5
resource_memory_min_manager: 128Mi
resource_memory_max_manager: 256Mi

# portal template job
resource_cpu_min_portal_template: 0.25
resource_cpu_max_portal_template: 1
resource_memory_min_portal_template: 1Gi
resource_memory_max_portal_template: 1Gi

# upgrader job
resource_cpu_min_upgrader: 0.125
resource_cpu_max_upgrader: 2
resource_memory_min_upgrader: 256Mi
resource_memory_max_upgrader: 4Gi

# object store migration tools job
resource_cpu_min_object_store_migration_tools: 0.5
resource_cpu_max_object_store_migration_tools: 4
resource_memory_min_object_store_migration_tools: 2Gi
resource_memory_max_object_store_migration_tools: 8Gi

# relds job
resource_cpu_min_reldsjob: 0.25
resource_cpu_max_reldsjob: 1
resource_memory_min_reldsjob: 1Gi
resource_memory_max_reldsjob: 1Gi

# portal home app pod
resource_cpu_min_portal_home: 0.05
resource_cpu_max_portal_home: 0.5
resource_memory_min_portal_home: 128Mi
resource_memory_max_portal_home: 256Mi

# portal sharing app pod
resource_cpu_min_portal_sharing: 0.5
resource_cpu_max_portal_sharing: 1
resource_memory_min_portal_sharing: 1Gi
resource_memory_max_portal_sharing: 3Gi

# portal jsapi
resource_cpu_min_portal_jsapi: 0.05
resource_cpu_max_portal_jsapi: 0.5
resource_memory_min_portal_jsapi: 64Mi
resource_memory_max_portal_jsapi: 64Mi

# webapp builder pod
resource_cpu_min_webappbuilder: 0.05
resource_cpu_max_webappbuilder: 0.5
resource_memory_min_webappbuilder: 64Mi
resource_memory_max_webappbuilder: 64Mi

# catalogserver pod
resource_cpu_min_catalogserver: 0.125
resource_cpu_max_catalogserver: 1
resource_memory_min_catalogserver: 500Mi
resource_memory_max_catalogserver: 4Gi

# config factory pod
resource_cpu_min_configfactory: 0.125
resource_cpu_max_configfactory: 1
resource_memory_min_configfactory: 1Gi
resource_memory_max_configfactory: 2Gi

# prometheus pod
resource_cpu_min_prometheus: 0.125
resource_cpu_max_prometheus: 1
resource_memory_min_prometheus: 256Mi
resource_memory_max_prometheus: 4Gi

# helpdoc pod
resource_cpu_min_helpdoc: 0.05
resource_cpu_max_helpdoc: 0.5
resource_memory_min_helpdoc: 128Mi
resource_memory_max_helpdoc: 256Mi

# portal apps pod
resource_cpu_min_portal_app: 0.05
resource_cpu_max_portal_app: 0.5
resource_memory_min_portal_app: 128Mi
resource_memory_max_portal_app: 256Mi

# all admin jobs
resource_cpu_min_admin_job: 0.125
resource_cpu_max_admin_job: 0.5
resource_memory_min_admin_job: 64Mi
resource_memory_max_admin_job: 256Mi

#Weighted admin jobs
resource_cpu_min_weighted_admin_job: 0.125
resource_cpu_max_weighted_admin_job: 2
resource_memory_min_weighted_admin_job: 256Mi
resource_memory_max_weighted_admin_job: 4Gi

# private ingress controller
resource_cpu_min_private_ingress: 0.125
resource_cpu_max_private_ingress: 2
resource_memory_min_private_ingress: 256Mi
resource_memory_max_private_ingress: 4Gi

# web proxy sidecar
resource_cpu_min_web_proxy: 0.125
resource_cpu_max_web_proxy: 0.5
resource_memory_min_web_proxy: 64Mi
resource_memory_max_web_proxy: 256Mi

# web style app pod
resource_cpu_min_webstyle: 0.05
resource_cpu_max_webstyle: 0.5
resource_memory_min_webstyle: 128Mi
resource_memory_max_webstyle: 256Mi

# DR job pod
resource_cpu_min_dr_job: 0.5
resource_cpu_max_dr_job: 1
resource_memory_min_dr_job: 2Gi
resource_memory_max_dr_job: 8Gi
