---
# ClusterRoleBinding for KafkaImageProcessor operator
# Grants the operator permission to create RoleBindings in other namespaces (e.g., strimzi)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ mas_instance_id }}-kafkaimageprocessor-operator-cross-namespace
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kafkaimageprocessor-operator-cross-namespace
subjects:
  - kind: ServiceAccount
    name: ibm-mas-manage-kafkaimageprocessor-operator
    namespace: mas-{{ mas_instance_id }}-manage