---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ mas_instance_id }}-{{ mas_workspace_id }}-{{ kafkaimageprocessor_pvcname }}"
  namespace: "{{ manage_namespace }}"
spec:
  resources:
    requests:
      storage: "{{ kafkaimageprocessor_storage_size }}"
  volumeMode: Filesystem
  storageClassName: "{{ kafkaimageprocessor_storage_class }}"
  accessModes:
    - "{{ kafkaimageprocessor_storage_mode }}"