---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-watcher
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-watcher
data:
  EXCLUDE_POD_NAMESPACES: "openshift-operators,openshift-pipelines"
  WATCHER_SENDER_DELAY: "5"
  EXCLUDE_JOB_NAMESPACES: "ibm-cpd"
  PIPELINES: mas-{{ mas_instance_id }}-aibroker
  CONTROLLER_URL: "https://km-controller:8443"