---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-watcher
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-watcher
data:
  CONTROLLER_URL: http://km-controller:3000
  EXCLUDE_POD_NAMESPACES: "openshift-operators,openshift-pipelines"
  WATCHER_SENDER_DELAY: "5"
