---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kubeturbo
  namespace: "{{ kubeturbo_namespace }}"
spec:
  channel: "{{ kubeturbo_default_channel }}"
  installPlanApproval: Automatic
  name: "{{ kubeturbo_package_name }}"
  source: "{{ kubeturbo_source }}"
  sourceNamespace: "{{ kubeturbo_source_namespace }}"
