---
apiVersion: charts.helm.k8s.io/v1
kind: Kubeturbo
metadata:
  name: kubeturbo
  namespace: "{{ kubeturbo_namespace }}"
spec:
  restAPIConfig:
    turbonomicCredentialsSecretName: "turbonomic-credentials"
  serverMeta:
    turboServer: "{{ turbonomic_server_url }}"
{% if turbonomic_server_version is defined and turbonomic_server_version != "" %}
    version: "{{ turbonomic_server_version }}"
{% endif %}
  targetConfig:
    targetName: "{{ turbonomic_target_name }}"
  args:
    sccsupport: '*'
