---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "turbonomic-credentials"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  password: "{{ turbonomic_password | b64encode }}"
  username: "{{ turbonomic_username | b64encode }}"
