{
	"name": "{{ wsl_project_name }}",
	"description": "{{ wsl_project_description }}",
  "generator": "DAP-Projects",
	"public": false,
  "scope": {
    "bss_account_id": "999",
    "enforce_members": true
  },
	"storage": {
		"type": "assetfiles"
	},
	"catalog": {
		"public": false
	},
	"settings": {
		"access_restrictions": {
			"data": false
		},
		"audit_events": {
			"enabled": false
		}
	}
}

