---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ mas_instance_id }}-usersupplied-watsonstudio-creds-system"
  namespace: "mas-{{mas_instance_id}}-core"
stringData:
  password: "{{ cpd_admin_password }}"
  username: "{{ cpd_admin_username }}"
---
apiVersion: config.mas.ibm.com/v1
kind: WatsonStudioCfg
metadata:
  name: "{{mas_instance_id}}-watsonstudio-system"
  namespace: "mas-{{mas_instance_id}}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{mas_instance_id}}"
spec:
  config:
    credentials:
      secretName: "{{ mas_instance_id }}-usersupplied-watsonstudio-creds-system"
    endpoint: "{{ cpd_url }}"
  displayName: "MAS - Watson Studio configuration"
  type: external

