#!/bin/bash

# do nothing if script was already executed successfully
if [ -f "/tmp/wipe_mongo_data_complete" ]; then
  echo "Aborting run.  /tmp/wipe_mongo_data_complete exists; this script has already been executed"
  exit 0
fi

# run python script to wipe the data of the instance from mongodb
export INSTANCE_ID={{ mas_instance_id }}
python3 /opt/ibm/coreapi/wipeData.py silent-wipe-data

echo "COMPLETE" > /tmp/wipe_mongo_data_complete
chmod a+rw /tmp/wipe_mongo_data_complete

# If we get this far, then we can consider the wipe of the mongo data a success
exit 0