nowildcard:
  - sls
  - admin
  - api
  - auth
  - home
  -  {{ mas_workspace_id }}.home
  -  {{ mas_workspace_id }}.health
  - health
  -  {{ mas_workspace_id }}-all.health
  -  {{ mas_workspace_id }}-ui.health
  -  {{ mas_workspace_id }}-mea.health
  -  {{ mas_workspace_id }}-rpt.health
  -  {{ mas_workspace_id }}-cron.health
  -  {{ mas_workspace_id }}-jms.health
  - maxinst.health
  - iot
  -  {{ mas_workspace_id }}.iot
  - messaging.iot
  -  {{ mas_workspace_id }}.messaging.iot
  - manage
  -  {{ mas_workspace_id }}.manage
  -  {{ mas_workspace_id }}-all.manage
  -  {{ mas_workspace_id }}-ui.manage
  -  {{ mas_workspace_id }}-mea.manage
  -  {{ mas_workspace_id }}-rpt.manage
  -  {{ mas_workspace_id }}-cron.manage
  -  {{ mas_workspace_id }}-jms.manage
  - maxinst.manage
  - monitor
  -  {{ mas_workspace_id }}.monitor
  - admin.monitor
  - api.monitor
  -  {{ mas_workspace_id }}.api.monitor
  - predict
  -  {{ mas_workspace_id }}.predict
  - safety
  -  {{ mas_workspace_id }}.safety
  - visualinspection
  -  {{ mas_workspace_id }}.visualinspection
  - hputilities
  -  {{ mas_workspace_id }}.hputilities
  - optimizer
  - api.optimizer
  -  {{ mas_workspace_id }}.optimizer
  -  {{ mas_workspace_id }}.api.optimizer
  - assist
  -  {{ mas_workspace_id }}.assist
  - reportdb
  - cp4d
wildcard:
  - ""
  - "*"
  - "*.api.monitor"
  - "*.assist"
  - "*.health"
  - "*.home"
  - "*.hputilities"
  - "*.iot"
  - "*.manage"
  - "*.messaging.iot"
  - "*.monitor"
  - "*.predict"
  - "*.optimizer"
  - "*.safety"
  - "*.visualinspection"
  - "cis.test.cert"
  - "cp4d"
