---
edge_cert_routes:
{% if edge_certs_core or edge_certs_all %}
  - "{{mas_domain}}"
  - sls.{{mas_domain}}
  - admin.{{mas_domain}}
  - api.{{mas_domain}}
  - auth.{{mas_domain}}
  - home.{{mas_domain}}
  - {{ mas_workspace_id }}.home.{{mas_domain}}
{% endif %}
{% if edge_certs_health | bool or edge_certs_all | bool %}
  - health.{{mas_domain}}
  - {{ mas_workspace_id }}.health.{{mas_domain}}
  - {{ mas_workspace_id }}-all.health.{{mas_domain}}
  - {{ mas_workspace_id }}-ui.health.{{mas_domain}}
  - {{ mas_workspace_id }}-mea.health.{{mas_domain}}
  - {{ mas_workspace_id }}-rpt.health.{{mas_domain}}
  - {{ mas_workspace_id }}-cron.health.{{mas_domain}}
  - {{ mas_workspace_id }}-jms.health.{{mas_domain}}
  - maxinst.health.{{mas_domain}}
{% endif %}
{% if edge_certs_iot | bool or edge_certs_all | bool %}
  - iot.{{mas_domain}}
  - {{ mas_workspace_id }}.iot.{{mas_domain}}
  - messaging.iot.{{mas_domain}}
  - {{ mas_workspace_id }}.messaging.iot.{{mas_domain}}
  - edgeconfig.iot.{{mas_domain}}
  - {{ mas_workspace_id }}.edgeconfig.iot.{{mas_domain}}
  - edgeconfigapi.iot.{{mas_domain}}
  - {{ mas_workspace_id }}.edgeconfigapi.iot.{{mas_domain}}
{% endif %}
{% if edge_certs_manage | bool or edge_certs_all | bool %}
  - manage.{{mas_domain}}
  - {{ mas_workspace_id }}.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-all.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-ui.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-mea.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-rpt.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-cron.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-jms.manage.{{mas_domain}}
  - maxinst.manage.{{mas_domain}}
{% endif %}
{% if edge_certs_monitor | bool or edge_certs_all | bool %}
  - monitor.{{mas_domain}}
  - {{ mas_workspace_id }}.monitor.{{mas_domain}}
  - admin.monitor.{{mas_domain}}
  - api.monitor.{{mas_domain}}
  - {{ mas_workspace_id }}.api.monitor.{{mas_domain}}
{% endif %}
{% if edge_certs_predict | bool or edge_certs_all | bool %}
  - predict.{{mas_domain}}
  - {{ mas_workspace_id }}.predict.{{mas_domain}}
{% endif %}
{% if edge_certs_visualinspection | bool or edge_certs_all | bool %}
  - visualinspection.{{mas_domain}}
  - {{ mas_workspace_id }}.visualinspection.{{mas_domain}}
{% endif %}
{% if edge_certs_optimizer | bool or edge_certs_all | bool %}
  - optimizer.{{mas_domain}}
  - {{ mas_workspace_id }}.optimizer.{{mas_domain}}
  - api.optimizer.{{mas_domain}}
  - {{ mas_workspace_id }}.api.optimizer.{{mas_domain}}
{% endif %}
{% if edge_certs_assist | bool or edge_certs_all | bool %}
  - assist.{{mas_domain}}
  - {{ mas_workspace_id }}.assist.{{mas_domain}}
{% endif %}
{% if edge_certs_arcgis | bool or edge_certs_all | bool %}
  - arcgis.{{mas_domain}}
  - {{ mas_workspace_id }}.argis.{{mas_domain}}
{% endif %}
{% if edge_certs_aibroker | bool or edge_certs_all | bool %}
  - aibroker.{{mas_domain}}
  - {{ mas_workspace_id }}.aibroker.{{mas_domain}}
  - api.aibroker.{{mas_domain}}
  - {{ mas_workspace_id }}.api.aibroker.{{mas_domain}}
{% endif %}
{% if edge_certs_reportdb | bool or edge_certs_all | bool %}
  - reportdb.{{mas_domain}}
{% endif %}
{% if edge_certs_facilities | bool or edge_certs_all | bool %}
  - facilities.{{mas_domain}}
  -  {{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  pod-0.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  pod-1.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  multiagents.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  dataconnectagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  dataimportagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  extendedformulaagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  formularecalcagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  incomingmailagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  objectmigrationagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  objectpublishagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  maintenanceagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  reportqueueagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  reservesmtpagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  wfagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  wffutureagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
  -  wfnotificationagent.{{ mas_workspace_id }}.facilities.{{mas_domain}}
{% endif %}
