edge_cert_routes:
  - "{{mas_domain}}"
  - sls.{{mas_domain}}
  - admin.{{mas_domain}}
  - api.{{mas_domain}}
  - auth.{{mas_domain}}
  - home.{{mas_domain}}
  - {{ mas_workspace_id }}.home.{{mas_domain}}
  - health.{{mas_domain}}
  - {{ mas_workspace_id }}.health.{{mas_domain}}
  - {{ mas_workspace_id }}-all.health.{{mas_domain}}
  - {{ mas_workspace_id }}-ui.health.{{mas_domain}}
  - {{ mas_workspace_id }}-mea.health.{{mas_domain}}
  - {{ mas_workspace_id }}-rpt.health.{{mas_domain}}
  - {{ mas_workspace_id }}-cron.health.{{mas_domain}}
  - {{ mas_workspace_id }}-jms.health.{{mas_domain}}
  - maxinst.health.{{mas_domain}}
  - iot.{{mas_domain}}
  - {{ mas_workspace_id }}.iot.{{mas_domain}}
  - messaging.iot.{{mas_domain}}
  - {{ mas_workspace_id }}.messaging.iot.{{mas_domain}}
  - edgeconfig.iot.{{mas_domain}}
  - {{ mas_workspace_id }}.edgeconfig.iot.{{mas_domain}}
  - edgeconfigapi.iot.{{mas_domain}}
  - {{ mas_workspace_id }}.edgeconfigapi.iot.{{mas_domain}}
  - manage.{{mas_domain}}
  - {{ mas_workspace_id }}.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-all.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-ui.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-mea.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-rpt.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-cron.manage.{{mas_domain}}
  - {{ mas_workspace_id }}-jms.manage.{{mas_domain}}
  - maxinst.manage.{{mas_domain}}
  - monitor.{{mas_domain}}
  - {{ mas_workspace_id }}.monitor.{{mas_domain}}
  - admin.monitor.{{mas_domain}}
  - api.monitor.{{mas_domain}}
  - {{ mas_workspace_id }}.api.monitor.{{mas_domain}}
  - predict.{{mas_domain}}
  - {{ mas_workspace_id }}.predict.{{mas_domain}}
  - visualinspection.{{mas_domain}}
  - {{ mas_workspace_id }}.visualinspection.{{mas_domain}}
  - optimizer.{{mas_domain}}
  - {{ mas_workspace_id }}.optimizer.{{mas_domain}}
  - api.optimizer.{{mas_domain}}
  - {{ mas_workspace_id }}.api.optimizer.{{mas_domain}}
  - assist.{{mas_domain}}
  - {{ mas_workspace_id }}.assist.{{mas_domain}}
  - reportdb.{{mas_domain}}
