{% if is_aiservice_mode %}
{{edge_cert_routes['aiservice']|join(',')| replace(',','\n') | replace('"','') }}
{% endif %}
{% if is_mas_mode %}
{{edge_cert_routes['mas']|join(',')| replace(',','\n') | replace('"','') }}
{% endif %}
