{
    "name": "{{ cluster_name }}",
    "description": "{{ fyre_cluster_description }}",
    "platform": "{{cluster_platform}}",
    "quota_type": "product_group",
    "site": "{{ fyre_site }}",
    "product_group_id": "{{ fyre_product_id }}",
    "ocp_version": "{{ ocp_version }}",
    "site": "{{ fyre_site }}",
    "ipv6_test": "{{ enable_ipv6 }}", 
    "haproxy": {
        "timeout": {
            "http-request": "10s",
            "queue": "1m",
            "connect": "10s",
            "client": "10m",
            "server": "10m",
            "http-keep-alive": "10s",
            "check": "10s"
        }
    },
    "fips":"{{'yes' if ocp_fips_enabled else 'no'}}",
    "worker":  [
        {
            "count": "{{ fyre_worker_count }}",
            "cpu": " {{ fyre_worker_cpu }}",
            "memory": "{{ fyre_worker_memory }}",
            "additional_disk": ["200", "200"]
        }
     ]
}
