{
   "name": {{ cluster_name | to_json }},
   "description": {{ fyre_cluster_description | to_json }},
   "platform": {{ cluster_platform | to_json }},
   "quota_type": "product_group",
   "site": {{ fyre_site | to_json }},
   "product_group_id": {{ fyre_product_id | to_json }},
   "ocp_version": {{ ocp_version | to_json }},
   "ipv6_test": {{ enable_ipv6 | default(false) | to_json }},
   "haproxy": {
     "timeout": {
       "http-request": "10s",
       "queue": "1m",
       "connect": "10s",
       "client": "10m",
       "server": "10m",
       "http-keep-alive": "10s",
       "check": "10s"
     }
   },
   "fips": {{ ('yes' if ocp_fips_enabled else 'no') | to_json }},
   "master": {
     "cpu": 4,
     "memory": 16
   },
   "api": {
     "count": 1,
     "cpu": 4,
     "memory": 8
   },
   "worker": [
     {
       "count": {{ fyre_worker_count | int | to_json }},
       "cpu": {{ fyre_worker_cpu | int | to_json }},
       "memory": {{ fyre_worker_memory | int | to_json }}{% if fyre_worker_additional_disks is defined and fyre_worker_additional_disks != "" %},
       "additional_disk": {{ (fyre_worker_additional_disks | split(',') | map('trim') | list) | to_json }}{% endif %}
     }
   ]
 }