{
    "name": "{{ cluster_name }}",
    "description": "{{ fyre_cluster_description }}",
    "platform": "{{cluster_platform}}",
    "quota_type": "quick_burn",
    "time_to_live": "36",
    "size":"{{ fyre_cluster_size }}",
    "product_group_id": "{{ fyre_product_id }}",
    "ocp_version": "{{ ocp_version }}",
    "haproxy": {
        "timeout": {
            "http-request": "10s",
            "queue": "1m",
            "connect": "10s",
            "client": "10m",
            "server": "10m",
            "http-keep-alive": "10s",
            "check": "10s"
        }
    }
}
