{
   "name": {{ cluster_name | to_json }},
   "description": {{ fyre_cluster_description | to_json }},
   "platform": {{ cluster_platform | to_json }},
   "quota_type": "quick_burn",
   "time_to_live": {{ (36) | to_json }},
   "size": {{ (fyre_cluster_size | default("") ) | to_json }},
   "site": {{ fyre_site | to_json }},
   "product_group_id": {{ fyre_product_id | to_json }},
   "ocp_version": {{ ocp_version | to_json }},
   "haproxy": {
     "timeout": {
       "http-request": "10s",
       "queue": "1m",
       "connect": "10s",
       "client": "10m",
       "server": "10m",
       "http-keep-alive": "10s",
       "check": "10s"
     }
   },
   "fips": {{ ('yes' if ocp_fips_enabled else 'no') | to_json }}
 }