apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kibana-le-prod
  namespace: "{{ es_namespace }}"
spec:
  commonName: "{{ kibana_domain }}"
  dnsNames:
    - "{{ kibana_domain }}"
  issuerRef:
    kind: Issuer
    name: letsencrypt-prod
  privateKey:
    rotationPolicy: Always
  secretName: kibana-le-prod-tls
  usages:
    - digital signature
    - key encipherment
    - server auth
