
---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: {{ es_name }}
  namespace: {{ es_namespace }}
spec:
  version: {{ eck_version }}

  auth:
    roles:
      - secretName: elasticsearch-roles

  nodeSets:
    - name: default
      count: {{ es_replicas }}
      config:
        # https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-virtual-memory.html
        node.store.allow_mmap: false

{% if es_domain is defined and es_domain != "" %}
  http:
    tls:
      certificate:
        secretName: elasticsearch-le-prod-tls
{% endif %}
