apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: "{{ kibana_name }}"
  namespace: "{{ kibana_namespace }}"
spec:
  version: {{ eck_version }}
  count: 1
  elasticsearchRef:
    name: "{{ es_name }}"
{% if kibana_domain is defined and kibana_domain != "" %}
  http:
    tls:
      certificate:
        secretName: kibana-le-prod-tls
{% endif %}
