---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: "kb-{{ kibana_name | lower }}"
  namespace: "{{ es_namespace }}"
spec:
  host: "{{ kibana_domain }}"
  to:
    kind: Service
    name: mas-kb-http
    weight: 100
  port:
    targetPort: 5601
  tls:
    termination: passthrough
  wildcardPolicy: None
