---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: "es-{{ es_name | lower }}"
  namespace: "{{ es_namespace }}"
spec:
  host: "{{ es_domain }}"
  to:
    kind: Service
    name: mas-es-http
    weight: 100
  port:
    targetPort: 9200
  tls:
    termination: passthrough
  wildcardPolicy: None
