kind: Secret
apiVersion: v1
metadata:
  name: elasticsearch-roles
  namespace: {{ es_namespace }}
stringData:
  roles.yml: |-
    eck_logstash_user_role:
      cluster: [ "monitor", "manage_ilm", "read_ilm", "manage_logstash_pipelines", "manage_index_templates", "cluster:admin/ingest/pipeline/get"]
      indices:
        - names: [ "mas-*" ]
          privileges: [ "manage", "write", "create_index", "read", "view_index_metadata" ]
