suite_objectstoragecfg_name: "{{ mas_instance_id }}-objectstorage-{{ scope | default('system') }}"
suite_objectstoragecfg_labels:
  mas.ibm.com/configScope: "{{ config_scope | default('system') }}"
  mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}