---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: km-controller
  namespace: mas-{{ mas_instance_id }}-aibroker
spec:
  to:
    kind: Service
    name: km-controller
    weight: 100
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
