---
# (C) Copyright IBM Corp. 2024  All Rights Reserved.
#
# Binds ibm-mas-visualinspection-clusterrole to the MVI operator
# ServiceAccount in the target namespace.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "ibm-mas-visualinspection-{{ mas_instance_id }}-clusterrolebinding"
  labels:
    app.kubernetes.io/instance: ibm-mas-visualinspection
    app.kubernetes.io/managed-by: ibm.mas_devops.visualinspection_clusterrole
    app.kubernetes.io/name: ibm-mas-visualinspection
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ibm-mas-visualinspection-clusterrole
subjects:
- kind: ServiceAccount
  name: ibm-mas-visualinspection-operator
  namespace: "{{ mas_app_namespace }}"
