---
# (C) Copyright IBM Corp. 2024  All Rights Reserved.
#
# Grants the MVI operator ServiceAccount the 'use' verb on the
# ibm-mas-visualinspection-scc SecurityContextConstraints resource,
# and cluster-wide list access on nodes and pods.
# Applied as a pre-install step before the operator subscription so
# that workload pods can run under the custom SCC from the first reconcile.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ibm-mas-visualinspection-clusterrole
  labels:
    app.kubernetes.io/instance: ibm-mas-visualinspection
    app.kubernetes.io/managed-by: ibm.mas_devops.visualinspection_clusterrole
    app.kubernetes.io/name: ibm-mas-visualinspection
rules:
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  resourceNames:
  - ibm-mas-visualinspection-scc
  verbs:
  - use
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  verbs:
  - list
