apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: db2u-request
  namespace: "{{ db2_namespace }}"
spec:
  requests:
  - operands:
      - name: ibm-db2u-operator
    registry: common-service
    registryNamespace: ibm-common-services
