{% if db2_og_info.resources |length ==0 %}
---
apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: db2u-operator-group
  namespace: "{{ db2_namespace }}"
spec:
  targetNamespaces:
  - "{{ db2_namespace }}"
{% endif %}
