---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "jdbc-{{ db2_instance_name | lower }}-credentials"
{% if db2_instance_name.startswith('aiservice') %}
  namespace: "aiservice-{{ mas_instance_id }}"
{% else %}
  namespace: "mas-{{ mas_instance_id }}-core"
{% endif %}
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  username: "{{db2_jdbc_username | b64encode}}"
  password: "{{jdbc_instance_password | b64encode}}"
---
apiVersion: config.mas.ibm.com/v1
kind: JdbcCfg
metadata:
  name: "{{ suite_jdbccfg_name }}"
{% if db2_instance_name.startswith('aiservice') %}
  namespace: "aiservice-{{ mas_instance_id }}"
{% else %}
  namespace: "mas-{{ mas_instance_id }}-core"
{% endif %}
  labels: {{ suite_jdbccfg_labels }}
spec:
  displayName: "{{ suite_jdbccfg_name }}"
  config:
    url: "{{ jdbc_url }}"
    sslEnabled: true
    credentials:
      secretName: "jdbc-{{ db2_instance_name | lower }}-credentials"
  certificates:
    - alias: "{{ db2_instance_name | lower }}"
      crt: |
        {{ db2_ca_pem | indent(8) }}
