---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ mas_aibroker_watsonxai_secret }}
  namespace: "{{ item }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  wx_apikey: {{ mas_aibroker_watsonxai_apikey | b64encode }}
  wx_project_id: {{ mas_aibroker_watsonxai_project_id | b64encode }}
  wx_url: {{ mas_aibroker_watsonxai_url | b64encode }}
{% if wx_full == 'true' and wx_instance_id is defined and wx_version is defined and wx_username is defined %}
  wx_instance_id: {{ wx_instance_id | b64encode }}
  wx_version: {{ wx_version | b64encode }}
  wx_username: {{ wx_username | b64encode }}
{% endif %}