---
# Cloud Native PostgreSQL operator
apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: common-service-edb
  namespace: "ibm-common-services"
spec:
  requests:
    - operands:
        - name: cloud-native-postgresql
      registry: common-service
