{
"name": "{{ cpd_wd_instance_name }}",
"deployment_id": "{{ cpd_instance_namespace }}-wd",
"description": "Watson Discovery for MAS",
"url":"https://wd-discovery-gateway.{{ cpd_instance_namespace }}.svc.cluster.local:60443/v2/service_instances"
}
