{
    "addon_type": "discovery",
    "addon_version": "{{ cpd_components_meta.watson_discovery.cr_version }}",
    "create_arguments": {
        "deployment_id": "{{ cpd_instance_namespace }}-wd",
        "parameters": {
            "serviceId": "discovery",
            "url": "https://wd-discovery-gateway.{{ cpd_instance_namespace }}.svc.cluster.local:60443/v2/service_instances",
            "watson": true
        }
    },
    "display_name": "{{ cpd_wd_instance_name }}",
    "namespace": "{{ cpd_instance_namespace }}"
}

{# old json that used to work with cpd 4.6
{
"name": "{{ cpd_wd_instance_name }}",
"deployment_id": "{{ cpd_instance_namespace }}-wd",
"description": "Watson Discovery for MAS",
"url":"https://wd-discovery-gateway.{{ cpd_instance_namespace }}.svc.cluster.local:60443/v2/service_instances"
} #}

