---
apiVersion: v1
kind: Namespace
metadata:
  name: "mas-{{ mas_instance_id }}-assist"
---
apiVersion: v1
data:
  wd.yaml: |
    url: {{ wd_url }}
    version: '2019-11-22'
kind: ConfigMap
metadata:
  name: assist-watson-discovery-config
  namespace: "mas-{{ mas_instance_id }}-assist"
---
apiVersion: v1
stringData:
  password: "{{ cpd_admin_password }}"
  username: "{{ cpd_admin_username }}"
kind: Secret
metadata:
  name: assist-watson-discovery-credentials
  namespace: "mas-{{ mas_instance_id }}-assist"
type: Opaque
