apiVersion: v1
kind: Secret
metadata:
  name: aws-efs-cloud-credentials
  namespace: openshift-cluster-csi-drivers
type: Opaque
stringData:
  aws_access_key_id: "{{ aws_access_key_id }}"
  aws_secret_access_key: "{{ aws_secret_access_key }}"
