---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/aws-efs-csi-driver-operator.openshift-cluster-csi-drivers: ""
  name: aws-efs-csi-driver-operator
  namespace: openshift-cluster-csi-drivers
spec:
  channel: "{{ aws_efs_default_channel }}"
  installPlanApproval: Automatic
  name: aws-efs-csi-driver-operator
  source: "{{ aws_efs_source }}"
  sourceNamespace: "{{ aws_efs_source_namespace }}"
