---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: mcpi-workload
  namespace: {{ mcpi_namespace }}
  labels:
    app.kubernetes.io/name: mcpi
    app.kubernetes.io/instance: {{ mcpi_meta_name }}
    app.kubernetes.io/managed-by: mcpi-operator
rules: []