---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: mcpi-workload
  namespace: {{ mcpi_namespace }}
  labels:
    app.kubernetes.io/name: mcpi
    app.kubernetes.io/instance: {{ mcpi_meta_name }}
    app.kubernetes.io/managed-by: mcpi-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: mcpi-workload
subjects:
- kind: ServiceAccount
  name: mcpi
  namespace: {{ mcpi_namespace }}