---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mcpi
  namespace: {{ mcpi_namespace }}
  labels:
    app.kubernetes.io/name: mcpi
    app.kubernetes.io/instance: {{ mcpi_meta_name }}
    app.kubernetes.io/managed-by: mcpi-operator