---
apiVersion: v1
kind: Service
metadata:
  name: mcpi-service
  namespace: {{ mcpi_namespace }}
  labels:
    app.kubernetes.io/name: mcpi
    app.kubernetes.io/instance: {{ mcpi_meta_name }}
    app.kubernetes.io/managed-by: mcpi-operator
spec:
  selector:
    app: mcpi
  ports:
    - name: mcpi-service
      protocol: TCP
      port: 443
      targetPort: 9443