---
apiVersion: v1
kind: Service
metadata:
  name: mcpi-rsyslog
  namespace: {{ mcpi_namespace }}
  labels:
    app.kubernetes.io/name: mcpi
    app.kubernetes.io/instance: {{ mcpi_meta_name }}
    app.kubernetes.io/managed-by: mcpi-operator
spec:
  type: NodePort
  selector:
    app: mcpi
  ports:
    - name: rsyslog-tcp
      protocol: TCP
      port: {{ mcpi_rsyslog_port }}
      targetPort: {{ mcpi_rsyslog_port }}
    - name: rsyslog-udp
      protocol: UDP
      port: {{ mcpi_rsyslog_port }}
      targetPort: {{ mcpi_rsyslog_port }}