apiVersion: automation.ibm.com/v1alpha1
kind: CloudRockCluster
metadata:
  name: "{{ mcsp_cluster_name }}"
  namespace: "{{ mcsp_control_plane_namespace }}"
spec:
  infrastructure: "{{ mcsp_platform }}"
  kube_version: "{{ ocp_version }}"
  location: "{{ mcsp_region }}"
  multiaz: true
  vpc:
    name: "{{ mcsp_cluster_vpc_name }}"
  workerpools:
    - count: {{ mcsp_worker_count }}
      flavor: "{{ mcsp_worker_flavor }}"
      id: default         
  account:
    secretname: "{{ mcsp_platform_account_secret_name }}"
  addon:
    argocd:
      config:
        argoprojects:
          - argoprojectname: "{{ mcsp_argocd_project_name }}"
            destinationnamespace: '*'
        argourl: "{{ mcsp_argocd_api }}"
        cluster:
          argoprojectname: "{{ mcsp_argocd_project_name }}"
          global: false
      enabled: true
      secrets:
        argo: "{{ mcsp_argocd_secret_name }}"

    # idpverify, security and logforward addon config is required (even if it's not enabled)
    idpverify:
      enabled: {{ mcsp_idpverify_enabled }}
      config:
        mcspaccess: true
        issuer: https://sre-ibm-prod.verify.ibm.com/oidc/endpoint/default
        clusterrolebindings:
          - groups:
              - Automation_Platform_Build_Global_PlatformSRE_AutoPlatform
              - Automation_Platform_Build_Global_PlatformDeveloper_AutoPlatform
            roleref: cluster-admin
          - groups:
              - Automation_Platform_Build_Global_Security_AutoPlatform
            roleref: viewer
      secrets:
        verify: "{{ mcsp_idpverify_secret_verify_name }}"
    security:
      enabled: {{ mcsp_security_enabled }}
      config: 
        crowdstrike:
          version: v1.0.4
          memlimit: 2Gi
          tolerations: 
            - key: samplekey
              operator: Exists
              effect: NoSchedule
    logforwarder:
      enabled: {{ mcsp_logforwarder_enabled }}
      config:
        usecloudwatch: "true"
        useinfralogs: "true"
        useauditlogs: "true"
        useapplogs: "true"
        cloudwatchregion: "{{ mcsp_region }}"
        cloudwatchgroupprefix: "mascluster"
      secrets: 
        dlc-cert: "{{ mcsp_logforwarder_secret_dlc_name }}"
        syslog-forwarder: "{{ mcsp_logforwarder_secret_sf_name }}"
  actions: 
    reconcile: true
    donotreconcile: false
    allowdeletion: false
    hibernate: false