---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-controller
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-controller
data:
  # Container registry server
  DOCKER_SERVER: {{ mas_icr_cp }}/aibroker
  PIPELINES_BUCKET: "{{ storage_piplines_bucket }}"
  TENANTS_BUCKET: "{{ storage_tenants_bucket }}"
  DOCKER_SECRETS_NAME: "ibm-entitlement"
  CONNECTOR_IMAGE_PREFIX: ''
  PIPELINE_STEP_IMAGE_PREFIX: '' 
  PIPELINE_DEFAULT_STEP_TAG: {{ pipelineStepsTag }}
  CONNECTOR_DEFAULT_TAG: {{ connectorTag }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: km-controller-logger
  namespace: mas-{{ mas_instance_id }}-aibroker
  labels:
    app: km-controller
data:
  # Modules logging level
  logger.json: |
    {
      "App": {
        "level": "info"
      },
      "Storage": {
        "level": "debug"
      }
    }