---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: km-controller-pvc
  namespace: mas-{{ mas_instance_id }}-aibroker
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: "{{ primary_storage_class }}"
