---
apiVersion: v1
kind: Service
metadata:
  name: "{{ mariadb_instance_name }}"
  namespace: "{{ mariadb_namespace }}"
  labels:
    app: "{{ mariadb_instance_name }}"
    component: data-science-pipelines
spec:
  ports:
    - name: http
      port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app: "{{ mariadb_instance_name }}"
    component: data-science-pipelines