---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ mariadb_instance_name }}"
  namespace: "{{ mariadb_namespace }}"
  labels:
    app: "{{ mariadb_instance_name }}"
    component: data-science-pipelines
    dspa: instance
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: "{{ mariadb_instance_name }}"
      component: data-science-pipelines
      dspa: instance
  template:
    metadata:
      labels:
        app: "{{ mariadb_instance_name }}"
        component: data-science-pipelines
        dspa: instance
    spec:
      serviceAccountName: ds-pipelines-mariadb-sa-instance
      containers:
        - name: mariadb
          image: "{{ mariadb_version }}"
          ports:
            - containerPort: 3306
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - "-i"
                - "-c"
                - >-
                  MYSQL_PWD=$MYSQL_PASSWORD mysql -h 127.0.0.1 -u $MYSQL_USER -D
                  $MYSQL_DATABASE -e 'SELECT 1'
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3306
            timeoutSeconds: 1
          env:
            - name: MYSQL_USER
              value: "{{ mariadb_user }}"
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: "mariadb-instance"
            - name: MYSQL_DATABASE
              value: "{{ mariadb_database }}"
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "true"
          resources:
            requests:
              cpu: 300m
              memory: 800Mi
            limits:
              cpu: "1"
              memory: 1Gi
          volumeMounts:
            - name: mariadb-persistent-storage
              mountPath: /var/lib/mysql
            - name: mariadb-tls
              mountPath: /etc/mysql/certs
      volumes:
        - name: mariadb-persistent-storage
          persistentVolumeClaim:
            claimName: mariadb-pvc
        - name: mariadb-tls
          secret:
            secretName: mariadb-certificate-{{ mariadb_instance_name }}
