---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ds-pipelines-mariadb-sa-instance
  namespace: "{{ mariadb_namespace }}"
  labels:
    app: "{{ mariadb_instance_name }}"
    component: data-science-pipelines