---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{aws_user_name}}-credentials"
stringData:
  aws_access_key_id: "{{tf_result.outputs.user_access_key_id.value }}"
  aws_secret_access_key: "{{ tf_result.outputs.user_secret_access_key.value }}"
