{
  "addon_type": "db2wh",
  "display_name": "{{ db2wh_instance_name }}",
  "namespace": "{{ db2wh_namespace }}",
  "addon_version": "{{ db2wh_version }}",
  "create_arguments":{
    "resources": {
      "cpu": "4.0",
      "memory": "16.0"
    },
    "parameters":{},
    "description": "Db2 Warehouse {{ db2wh_version }}",
    "metadata": {
      "api-console": [],
      "repositories": [
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.graph",
            "repository-key": "images.graph.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.graph.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.hurricane",
            "repository-key": "images.hurricane.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.hurricane.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.auxiliary.auth",
            "repository-key": "images.auth.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.auth.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.rest",
            "repository-key": "images.rest.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.rest.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/etcd",
            "repository-key": "images.etcd.image.repository",
            "tag": "3.4.14-4193",
            "tag-key": "images.etcd.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.instdb",
            "repository-key": "images.instdb.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.instdb.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u",
            "repository-key": "images.db2u.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.db2u.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.bigsql.mariadb",
            "repository-key": "images.mariadb.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.mariadb.image.tag"
        },
        {
            "repository": "image-registry.openshift-image-registry.svc:5000/cpd-meta-ops/db2u.tools",
            "repository-key": "images.tools.image.repository",
            "tag": "11.5.5.1-cn3-4193",
            "tag-key": "images.tools.image.tag"
        }
      ],
      "api-database-status": {
        "label": "api-database-status",
        "scripts": [
          "/tools/status/icp4dstatus.sh"
        ],
        "value": "db2wh-api"
      },
      "table-org": "{{ db2wh_table_org }}",
      "set-kernel-params": true,
      "chart": "ibm-db2wh-prod-3.5.9-x86_64.tgz",
      "user": "bluadmin",
      "database-name": "{{ db2wh_dbname }}",
      "display-name": "{{ db2wh_instance_name }}",
      "name": "Db2 Warehouse",
      "version": "{{ db2wh_version }}",
      "console-port": 8443,
      "jdbc-port": 50000,
      "secure-jdbc-port": 50001,
      "type": "db2wh",
      "architecture": "x86_64",
      "namespace": "{{ db2wh_namespace }}",
      "cpu": 4,
      "mem": 16,
      "dedicated": false,
      "node-label-value": "database-db2wh",
      "hadr": null,
      "support-4k": false,
      "support-hostpath-in-chart": false,
      "selected-storage-option": [
        {
          "dbstorage": "metaStorage",
          "description": "System storage contains the information used by the database management system to manage and configure the database.",
          "label": "System storage",
          "objectStorageTypes": null,
          "storage": "metadata"
        },
        {
          "dbstorage": "dataStorage",
          "description": "User storage defines the location for your database data.",
          "enableStorageClassAccessMode": true,
          "label": "User storage",
          "objectStorageTypes": null,
          "storage": "shared"
        },
        {
          "dbstorage": "backupStorage",
          "description": "Backup storage defines the location for your backup data.",
          "label": "Backup storage",
          "objectStorageTypes": null,
          "showClaims": "all",
          "storage": "shared"
        }
      ],
      "api-external-console": null,
      "console-url": "console/",
      "mem-unit": "GiB",
      "constraint": "hard",
      "worker-node": 1,
      "icon": "IBM",
      "additional-menu-options": [],
      "connectivity-url": [
        {
          "id": "jdbc",
          "label": "JDBC Connection URL"
        }
      ],
      "api-database-jdbc": {
        "label": "api-database-jdbc",
        "value": "-db2u-engn-svc"
      },
      "monitoring-check-detail": [
        {
          "percentage-completed": 5,
          "remaining-mins-left": 5,
          "stage-info": [
            {
              "completed-state": "true",
              "formation-state": "OK",
              "formation-suffix": "instdb",
              "formation-type": "Job",
              "pod-label": "api-progress",
              "pod-type-check": "LABEL",
              "pod-value": "db2wh-api",
              "state-type-check": "INIT_READINESS"
            }
          ],
          "stage-name": "Preparing the worker nodes",
          "stage-number": 1
        },
        {
          "percentage-completed": 30,
          "remaining-mins-left": 4,
          "stage-info": [
            {
              "completed-state": "true",
              "formation-state": "Converging",
              "formation-suffix": "restore-morph",
              "formation-type": "Job",
              "pod-label": "api-progress",
              "pod-type-check": "LABEL",
              "pod-value": "db2wh-api",
              "state-type-check": "CONTAINERS_READINESS"
            }
          ],
          "stage-name": "Configuring the database services",
          "stage-number": 2
        },
        {
          "percentage-completed": 60,
          "remaining-mins-left": 2,
          "stage-info": [
            {
              "completed-state": "true",
              "formation-state": "OK",
              "formation-suffix": "restore-morph",
              "formation-type": "Job",
              "pod-name": "-ibm-unified-console-api",
              "pod-type-check": "NAME",
              "state-type-check": "CONTAINERS_READINESS"
            }
          ],
          "stage-name": "Starting the database",
          "stage-number": 3
        }
      ],
      "storage-configmap-name": "db2wh-storage-configmap",
      "mln-count": 1,
      "database-configuration": {
        "registry": {
          "DB2_WORKLOAD": "ANALYTICS"
        }
      },
      "storage-class":[
        {
          "label": "metaStorage",
          "name": "{{ db2wh_meta_storage_class }}"
        },
        {
          "label": "dataStorage",
          "name": "{{ db2wh_user_storage_class }}"
        },
        {
          "label": "backupStorage",
          "name": "{{ db2wh_backup_storage_class }}"
        }
      ],
      "size":[
        {
          "label": "metaStorage",
          "value": {{ db2wh_meta_storage_size_gb }}
        },
        {
          "label": "dataStorage",
          "value": {{ db2wh_user_storage_size_gb }}
        },
        {
          "label": "backupStorage",
          "value": {{ db2wh_backup_storage_size_gb }}
        }
      ],
      "storage-class-access-mode":[
        {
          "label": "metaStorage",
          "name": "ReadWriteMany"
        },
        {
          "label": "dataStorage",
          "name": "ReadWriteOnce"
        },
        {
          "label": "backupStorage",
          "name": "ReadWriteMany"
        }
      ]
    },
    "owner_username": ""
  },
  "transientFields": {

  }
}
