---
apiVersion: v1
kind: Service
metadata:
  name: km-controller
  namespace: mas-{{ mas_instance_id }}-aibroker
spec:
  ports:
    - name: http
      port: 3000
      targetPort: http
    - name: https
      port: 8443
      targetPort: https
  selector:
    app: km-controller
  type: ClusterIP
