{
  "name": "{{ cpd_wsl_project_name }}",
  "description": "{{ cpd_wsl_project_description }}",
  "generator": "{{ cpd_admin_username }}",
  "public": false,
  "storage": {
	"type": "assetfiles",
	"guid": "{{ storage_guid }}"
  }
}
