  # following list of service accounts needs ibm-entitlement-key in imagePullSecret
  - default
  - zen-admin-sa
  - zen-editor-sa
  - zen-norbac-sa
  - zen-runtime-sa
  - zen-viewer-sa
{% if cpd_service_name is in cpd_services_requiring_ccs %}
  - runtime-assemblies-operator # owned by ccs-cr
  - runtime-manager-api # owned by ccs-cr
{% endif %}
{% if cpd_service_name is in ['ca'] %}
  - cognos-analytics-sp-sa # owned by ca-addon-cr (cognos analytics)
{% endif %}
{% if cpd_service_name is in ['wd'] %}
  - wd-discovery-etcd-serviceaccount # owned by wd (watson discovery)
  - wd-discovery-cn-postgres # owned by wd (watson discovery)
{% endif %}