---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ mas_instance_id }}-usersupplied-watsonstudio-creds-system"
  namespace: "mas-{{mas_instance_id}}-core"
type: Opaque
stringData:
  username: "{{ cpd_admin_username }}"
  password: "{{ cpd_admin_password }}"
---
apiVersion: config.mas.ibm.com/v1
kind: WatsonStudioCfg
metadata:
  name: "{{mas_instance_id}}-watsonstudio-system"
  namespace: "mas-{{mas_instance_id}}-core"
spec:
  displayName: "Watson Studio"
  type: system
  config:
    credentials:
      secretName: "{{ mas_instance_id }}-usersupplied-watsonstudio-creds-system"
    endpoint: "{{ cpd_admin_url }}"