---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ mas_instance_id }}-usersupplied-watsonstudio-creds-system"
  namespace: "mas-{{mas_instance_id}}-core"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    {{key}}: "{{value}}"
{% endfor %}
{% endif %}
stringData:
  password: "{{ cpd_admin_password }}"
  username: "{{ cpd_admin_username }}"
---
apiVersion: config.mas.ibm.com/v1
kind: WatsonStudioCfg
metadata:
  name: {{ mas_instance_id }}-watsonstudio-system
  namespace: mas-{{ mas_instance_id }}-core
  labels: {{ suite_wscfg_labels }}
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    {{key}}: "{{value}}"
{% endfor %}
{% endif %}
spec:
  config:
    credentials:
      secretName: "{{ mas_instance_id }}-usersupplied-watsonstudio-creds-system"
    endpoint: "{{ cpd_admin_url }}"
  displayName: "MAS - Watson Studio configuration"
  type: external


