apiVersion: cpd.ibm.com/v1
kind: Ibmcpd
metadata:
  name: ibmcpd
  namespace: "{{ cpd_instance_namespace }}"
spec:
  version: "{{ cpd_product_version }}"
  license:
    accept: true
    license: Standard
{% if cpd_minor_version is version('4.8','<') %}
  storageClass: "{{ cpd_primary_storage_class }}"
  zenCoreMetadbStorageClass: "{{ cpd_metadata_storage_class }}"
{% endif %}
{% if cpd_minor_version is version('4.8','>=') %}
  fileStorageClass: "{{ cpd_primary_storage_class }}"
  blockStorageClass: "{{ cpd_metadata_storage_class }}"
{% endif %}
