apiVersion: cpd.ibm.com/v1
kind: Ibmcpd
metadata:
  name: "{{ cpd_platform_cr_name }}"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  imagePullSecret: "{{ ibm_entitlement_key_secret }}"
  version: "{{ cpd_product_version }}"
  license:
    accept: true
    license: Standard
{% if cpd_48_or_higher %}
  iamIntegration: {{ cpd_iam_integration }}
  fileStorageClass: "{{ cpd_primary_storage_class }}"
  blockStorageClass: "{{ cpd_metadata_storage_class }}"
{% else %}
  storageClass: "{{ cpd_primary_storage_class }}"
  zenCoreMetadbStorageClass: "{{ cpd_metadata_storage_class }}"
{% endif %}
