---
apiVersion: v1
kind: Namespace
metadata:
    name: "{{ cpd_operators_namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
    name: "{{ cpd_instance_namespace }}"
{% if cpd_minor_version is version('4.6','>') %} # only need cs-control namespace if installing CPD 4.8.x and above
---
apiVersion: v1
kind: Namespace
metadata:
    name: "{{ cpd_cs_control_namespace }}"
{% endif %}
