apiVersion: zen.cpd.ibm.com/v1
kind: ZenExtension
metadata:
  name: icp4data-perspective-config
  namespace: "{{ cpd_instance_namespace }}"
  labels:
    icpdsupport/addOnId: zen-lite
    component: zen-perspectives
spec:
  extensions: |
    [
      {
        "extension_point_id": "zen_perspective_configuration",
        "extension_name": "icp4data-perspective",
        "display_name": "IBM CloudPak for Data Perspective",
        "order_hint": 100,
        "match_permissions": "",
        "meta": {},
        "details": {
          "product_name": "IBM Cloud Pak for Data",
          "product_edition": "Enterprise",
          "product_version": "v{{ cpd_product_version }}",
          "context": "icp4data",
          "links": {
            "homepage": "/zen/?context=icp4data#/homepage",
            "documentation": "https://www.ibm.com/docs/SSQNUZ_{{ cpd_product_version }}.x",
            "walk_me": "/zen-content/static/lite-guided-tours/5c74b6e5f8b341c7a37268296b6551c6/walkme_5c74b6e5f8b341c7a37268296b6551c6_https.js"
          },
          "images": {
            "homepage": "default_welcome_image.svg",
            "browser_icon": "default_favicon.ico",
            "login": "default.svg"
          },
          "exclusive_components": [
            "factsheet",
            "analyticsengine",
            "cognos_analytics",
            "dashboard",
            "dp",
            "replication",
            "datalineage",
            "datastage_ent",
            "datastage_ent_plus",
            "db2oltp",
            "bigsql",
            "datagate",
            "dmc",
            "db2wh",
            "dods",
            "postgresql",
            "edb_cp4d",
            "hee",
            "wkc",
            "ikc_standard",
            "ikc_premium",
            "match360",
            "informix",
            "informix_cp4d",
            "mantaflow",
            "mongodb",
            "mongodb_cp4d",
            "openpages",
            "planning_analytics",
            "productmaster",
            "rstudio",
            "spss",
            "streamsets",
            "voice_gateway",
            "watson_discovery",
            "wml",
            "wml_accelerator",
            "openscale",
            "ws_pipelines",
            "dv",
            "watson_speech",
            "ws",
            "ws_runtimes",
            "watson_assistant",
            "watsonx_bi_assistant",
            "watsonx_data",
            "watsonx_orchestrate"
          ],
          "entitlements": [
            "cpd-standard",
            "cpd-enterprise"
          ]
        }
      }
    ]
