{
	"BrokerNodeGroupInfo": {
		"BrokerAZDistribution": "DEFAULT",
		"InstanceType": "{{aws_msk_instance_type}}",
		"ClientSubnets": [
			"{{subnet_id_list[0]}}",
			"{{subnet_id_list[1]}}",
			"{{subnet_id_list[2]}}"
		],
		"SecurityGroups": [
			"{{ sg_id }}"
		],
		"StorageInfo": {
			"EbsStorageInfo": {
				"VolumeSize": {{ aws_msk_volume_size }}
			}
		}
	},
	"ClusterName": "{{kafka_cluster_name}}",
	"ConfigurationInfo": {
		"Arn": "{{ config_arn }}",
		"Revision": {{ config_revision }}
	},
	"ClientAuthentication": {
		"Sasl": {
			"Scram": {
				"Enabled": true
			},
			"Iam": {
				"Enabled": false
			}
		},
		"Tls": {
			"Enabled": false
		},
		"Unauthenticated": {
			"Enabled": false
		}
	},
	"EncryptionInfo": {
		"EncryptionAtRest": {
			"DataVolumeKMSKeyId": ""
		},
		"EncryptionInTransit": {
			"InCluster": true,
			"ClientBroker": "TLS"
		}
	},
	"EnhancedMonitoring": "PER_TOPIC_PER_BROKER",
	"KafkaVersion": "{{kafka_version}}",
	"NumberOfBrokerNodes": {{ aws_msk_instance_number }},
	"OpenMonitoring": {
		"Prometheus": {
			"JmxExporter": {
				"EnabledInBroker": false
			},
			"NodeExporter": {
				"EnabledInBroker": false
			}
		}
	}
}