---
apiVersion: v1
kind: Service
metadata:
  name: mcpi-rsyslog
  namespace: "{{ cpi_namespace }}"
spec:
  type: NodePort  
  selector:
    app: mcpi
  ports:
    - name: rsyslog-tcp
      protocol: TCP
      port: 10514
      targetPort: 10514
    - name: rsyslog-udp
      protocol: UDP
      port: 10514
      targetPort: 10514