---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: mcpi-viewer-route
  namespace: "{{ cpi_namespace }}"
  labels: {}
spec:
  to:
    kind: Service
    name: mcpi-service
    weight: 100
  port:
    targetPort: viewer-port
  tls:
    termination: edge
  wildcardPolicy: None