apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "suite-cp4d-certificate"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  dnsNames:
    - "cp4d.{{ custom_domain }}"
  issuerRef:
    kind: ClusterIssuer
    name: "{{ custom_cluster_issuer }}"
  secretName: "suite-cp4d-certificate"
  renewBefore: 720h0m0s # 30 days
  duration: 8760h0m0s # 1 year
