db.createUser(
    {
        user: "{{ docdb_instance_username }}",
        pwd: "{{ docdb_instance_password }}",
        roles:[
            {
                "db": "admin",
                "role": "root"
            },
            {
                "db":"mas_{{ mas_instance_id }}_core", 
                "role":"dbOwner" 
            },
            {
                "db":"mas_{{mas_instance_id}}_catalog", 
                "role":"dbOwner" 
            },
            {
                "db":"mas_{{mas_instance_id}}_adoptionusage", 
                "role":"dbOwner" 
            },
            {
                "db":"{{ mas_instance_id }}_sls_licensing", 
                "role":"dbOwner" 
            }
        ]
    }
)
