apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ docdb_instance_credentials_secret_name }}"
data:
  docdb_username: "{{ docdb_instance_username | b64encode }}"
  docdb_password: "{{ docdb_instance_password | b64encode }}"
