---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-rhods-model-controller
  namespace: redhat-ods-applications
spec:
  podSelector:
    matchLabels:
      control-plane: odh-model-controller
  ingress:
    - from:
        - namespaceSelector: {}
  policyTypes:
    - Ingress
