kind: DataScienceCluster
apiVersion: datasciencecluster.opendatahub.io/v1
metadata:
  labels:
    app.kubernetes.io/created-by: rhods-operator
    app.kubernetes.io/instance: default
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: datasciencecluster
    app.kubernetes.io/part-of: rhods-operator
  name: default-dsc
spec:
  components:
    datasciencepipelines:
      managementState: Removed
    kserve:
      managementState: Managed
      serving:
        name: knative-serving
        ingressGateway:
          certificate:
            type: SelfSigned
{% if aiservice_rhoai_model_deployment_type is defined and aiservice_rhoai_model_deployment_type == "raw" %}
        managementState: Removed
      defaultDeploymentMode: RawDeployment
{% else %}
        managementState: Managed
{% endif %}
