---
- name: "Patch RHOAI llmisvc multi-node SCC - disable managed and set priority to null"
  kubernetes.core.k8s:
    state: patched
    api_version: security.openshift.io/v1
    kind: SecurityContextConstraints
    name: {{ rhoai_scc_multinode }}
    definition:
      metadata:
        labels:
          opendatahub.io/managed: "false"
        annotations:
          opendatahub.io/managed: "false"
      priority: null
---
- name: "Patch RHOAI llmisvc SCC - disable managed and set priority to null"
  kubernetes.core.k8s:
    state: patched
    api_version: security.openshift.io/v1
    kind: SecurityContextConstraints
    name: {{ rhoai_scc_node }}
    definition:
      metadata:
        labels:
          opendatahub.io/managed: "false"
        annotations:
          opendatahub.io/managed: "false"
      priority: null
