#!/bin/bash

db2 connect to {{ db2_dbname }}
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ cos_bucket_name }}' WHERE PROPNAME = 'mxe.cosbucketname';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ cos_access_key_id }}' WHERE PROPNAME = 'mxe.cosaccesskey';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ cos_secret_access_key }}' WHERE PROPNAME = 'mxe.cossecretkey';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '{{ cos_url }}' WHERE PROPNAME = 'mxe.cosendpointuri';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = 'com.ibm.tivoli.maximo.oslc.provider.COSAttachmentStorage' WHERE PROPNAME = 'mxe.attachmentstorage';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = 'cos:doclinks' WHERE PROPNAME = 'mxe.doclink.doctypes.topLevelPaths';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = 'cos:doclinks\default' WHERE PROPNAME = 'mxe.doclink.doctypes.defpath';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = 'cos:doclinks=https://{{ manage_url }}/maximo/oslc/cosdoclink' WHERE PROPNAME = 'mxe.doclink.path01';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = 'true' WHERE PROPNAME = 'mxe.doclink.securedAttachment';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '0' WHERE PROPNAME = 'mxe.report.AttachDoc.validateURL';"

exit 0
