#!/bin/bash

db2 connect to {{ db2_dbname }}
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '/DOCLINKS' WHERE PROPNAME = 'mxe.doclink.doctypes.topLevelPaths';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '/DOCLINKS/default' WHERE PROPNAME = 'mxe.doclink.doctypes.defpath';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '/DOCLINKS=https://{{ manage_url }}/maximo/oslc/doclinks' WHERE PROPNAME = 'mxe.doclink.path01';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = 'true' WHERE PROPNAME = 'mxe.doclink.securedAttachment';"
db2 "UPDATE MAXIMO.MAXPROPVALUE SET PROPVALUE = '0' WHERE PROPNAME = 'mxe.report.AttachDoc.validateURL';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Attachments' WHERE DOCTYPE = 'Attachments';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Assist' WHERE DOCTYPE = 'ASSIST';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/CAD' WHERE DOCTYPE = 'CAD';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/DIAGRAMS' WHERE DOCTYPE = 'Diagrams';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Images' WHERE DOCTYPE = 'Images';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Mapsketch' WHERE DOCTYPE = 'mapSketch';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Parts' WHERE DOCTYPE = 'Parts';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Permits' WHERE DOCTYPE = 'Permits';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Pictures' WHERE DOCTYPE = 'Pictures';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Steps' WHERE DOCTYPE = 'Steps';"
db2 "UPDATE MAXIMO.DOCTYPES SET DEFAULTFILEPATH = '/DOCLINKS/Websites' WHERE DOCTYPE = 'Websites';"

exit 0
