apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ eventstreams_credentials_secret_name }}
data:
  api_key: {{ resource_key_info.resource.credentials.api_key | b64encode }}
  credentials_all: {{ resource_key_info.resource.credentials | b64encode }}
