apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ eventstreams_configmap_name }}"
data:
  id: "{{ es_info.resource.id }}"
  crn: "{{ es_info.resource.crn }}"
  dashboard_url: "{{ es_info.resource.dashboard_url }}"
  extensions: "{{ es_info.resource.extensions }}"
  full_ansible_outputs: "{{ es_info }}"
