#!/bin/bash

DATABASE={{ db2_dbname }}
BACKUP_TYPE={{ backup_type }}
DB2_BACKUP_VERSION={{ db2_backup_version }}
DB2_BACKUP_TIMESTAMP={{ db2_backup_timestamp }}

# Finding the db2 Instance owner
INSTOWNER=`/usr/local/bin/db2greg -dump | grep -ae "I," | grep -v "/das," | awk -F ',' '{print $4}' `

instance=`whoami`
BACKUP_BASE=/mnt/backup

### Verify the backup files

### Check if keystore files are present

REMOTE_PATH="{{ pod_full_backup_path }}"

KESTORE_P12_FILE=$(ls ${REMOTE_PATH}/*.p12 2>/dev/null)
KESTORE_STH_FILE=$(ls ${REMOTE_PATH}/*.sth 2>/dev/null)

if [[ -z "${KESTORE_P12_FILE}" || -z "${KESTORE_STH_FILE}" ]]; then
  echo "Db2 keystore files are missing in the backup location: ${REMOTE_PATH}"
  exit 1
fi

### Check if backup files are present
BACKUP_FILES=$(ls ${REMOTE_PATH}/${DATABASE}*.db2inst1.DBPART000.* 2>/dev/null)
if [[ -z "${BACKUP_FILES}" ]]; then
  echo "Db2 backup files are missing in the backup location: ${REMOTE_PATH}"
  exit 1
fi

echo "Db2 keystore files verified successfully."

# Extract Db2 keystore master key
# https://www.ibm.com/docs/en/db2/11.5?topic=edr-restoring-encrypted-backup-image-different-system-local-keystore

MASTER_KEY_LABEL=`gsk8capicmd_64 -cert -list all -db ${REMOTE_PATH}/${KESTORE_P12_FILE} -stashed 2>&1 | grep -i $INSTOWNER_$DATABASE | awk '/^#/ { print $2 }'`
if [ -z "$MASTER_KEY_LABEL" ]; then
	echo "MASTER_KEY_LABEL is empty."
else
	gsk8capicmd_64 -secretkey -extract -db ${REMOTE_PATH}/${KESTORE_P12_FILE} -stashed -label ${MASTER_KEY_LABEL} -format ascii -target ${REMOTE_PATH}/master_key_label.kdb
	echo "MASTER_KEY_LABEL is not empty - Secret key extraction Completed."
fi

## Add Master key to target keystore
result=$(gsk8capicmd_64 -cert -add -db /mnt/blumeta0/db2/keystore/keystore.p12 -stashed -label ${MASTER_KEY_LABEL} -file ${REMOTE_PATH}/master_key_label.kdb 2>&1)
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error adding master key to target keystore. Return code: $rc"
    exit 1
fi

if echo "$result" | grep -q "CTGSK3005W"; then
  echo "ERROR: CTGSK3005W warning detected. Exiting"
  echo "$result"
  exit 1
fi

echo "Db2 keystore master key restored successfully."


# Deactivate Db2 in preparation for restore
# https://www.ibm.com/docs/en/db2/11.5?topic=r-restoring-db2-from-online-backup-using-commands


echo "1. Temporarily disable the built-in HA"
sudo wvcli system disable -m "Disable HA before Db2 maintenance"
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error disabling HA. Return code: $rc"
    exit 1
fi

echo "2. Connect to the database"
db2 -v connect to ${DATABASE}
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error connecting to database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "3. Disconnect all the applications that are connected to Db2"
db2 -v list applications
db2 -v force application all
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error disconnecting applications from database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "4. Terminate the database"
db2 -v terminate
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error terminating database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "5. Stop the database"
db2stop force
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error stopping database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "6. Ensure that all Db2 interprocess communications are cleaned for the instance"
ipclean -a
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error cleaning Db2 interprocess communications. Return code: $rc"
    exit 1
fi

echo "7. Turn off all communications to the database by setting the value of the DB2COMM variable to null"
db2set -null DB2COMM
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error setting DB2COMM variable to null. Return code: $rc"
    exit 1
fi

echo "8. Restart the database in restricted access mode"
db2start admin mode restricted access
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error starting database ${DATABASE} in restricted access mode. Return code: $rc"
    exit 1
fi

echo "9. Restore Db2 from a full backup"
db2 -v restore db ${DATABASE} from ${REMOTE_PATH} taken at ${DB2_BACKUP_TIMESTAMP} into ${DATABASE} logtarget ${REMOTE_PATH} replace existing without prompting
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error restoring database ${DATABASE} from backup. Return code: $rc"
    exit 1
fi

echo "10. Check Db2 rollforward status"
db2 -v rollforward db ${DATABASE} query status
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error querying rollforward status for database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "11. Run Db2 rollforward command"
db2 -v "rollforward db ${DATABASE} to end of backup and complete overflow log path ${REMOTE_PATH} noretrieve"
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error during rollforward for database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "12. Stop the database"
db2stop force
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error stopping database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "13. Ensure that all Db2 interprocess communications are cleaned for the instance"
ipclean -a
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error cleaning Db2 interprocess communications. Return code: $rc" | tee
    exit 1
fi

echo "14. Reinitialize the Db2 communication manager to accept database connections"
db2set DB2COMM=TCPIP,SSL
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error reinitializing Db2 communication manager. Return code: $rc"
    exit 1
fi

echo "15. Restart the database for normal operation"
db2start
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error starting database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "16. Activate the database"
db2 activate db ${DATABASE}
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error activating database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "17. Re-enable the Wolverine high availability monitoring process"
sudo wvcli system enable -m "Enable HA after Db2 maintenance"
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error enabling HA. Return code: $rc"
    exit 1
fi

echo "18. Connect to the database"
db2 -v connect to ${DATABASE}
rc=$?
if [ $rc -ne 0 ]; then
    echo "Error connecting to database ${DATABASE}. Return code: $rc"
    exit 1
fi

echo "Db2 database ${DATABASE} restored successfully from backup taken at ${DB2_BACKUP_TIMESTAMP}."
echo "Db2 restore process completed successfully - RestoreSuccess"
exit 0





