#!/bin/bash

if db2 list storage access | grep {{ backup_s3_name }}; then
    echo "{{ backup_s3_name }} is available already."
else
    echo "{{ backup_s3_name }} is not available. Creating"
    db2 catalog storage access alias {{ backup_s3_name }} VENDOR S3 server {{ backup_s3_endpoint }} user {{ backup_s3_access_key }} password {{ backup_s3_secret_key }} container {{ backup_s3_bucket }}
fi