apiVersion: v1
kind: Service
metadata:
  name: {{gateway_name}}
  namespace: {{servicemesh_gateway_namespace}}
spec:
  type: ClusterIP 
  selector:
    istio: {{ gateway_name }}
  ports:
    - name: status-port
      port: 15021
      protocol: TCP
      targetPort: 15021
    - name: "{{ target_port_name }}"
      port: {{ port_number }}
      protocol: TCP
      targetPort: {{ target_port_number }}