apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{route}}
  namespace: {{servicemesh_gateway_namespace}}
spec:
  gateways:
  - {{gateway_name}}
  hosts:
  - "*"
  tls:
  - match:
    - port: {{ port_number }}
      sniHosts:
      - "*"
    route:
    - destination:
        host: {{ service_name }}.{{ service_namespace}}.svc.cluster.local
        port:
          number: {{ port_number }}