apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: mas-{{mas_instance}}-{{route}}
  namespace: {{servicemesh_gateway_namespace}}
spec:
  gateways:
  - {{gateway_name}}
  hosts:
  - {{route_host}}
  tls:
  - match:
    - port: 443
      sniHosts:
      - "*"
    route:
    - destination:
        host: {{ service_name }}.{{ service_namespace}}.svc.cluster.local
        port:
          number: 443