kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: efs{{ efs_unique_id }}
provisioner: efs.csi.aws.com
parameters:
  basePath: /rosa
  directoryPerms: '777'
  fileSystemId: "{{ efs_id }}"
  uid: "0"
  gid: "0"
  provisioningMode: efs-ap
reclaimPolicy: Delete
volumeBindingMode: Immediate
