---
apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
mirror:
{% if mirror_redhat_platform %}
  platform:
    channels:
      - name: stable-{{ ocp_release }}
{% if ocp_min_version != "" %}
        minVersion: {{ ocp_min_version }}
{% endif %}
{% if ocp_max_version != "" %}
        maxVersion: {{ ocp_max_version }}
{% endif %}
{% if ocp_min_version != "" or ocp_max_version != "" %}
        shortestPath: true
{% endif %}
{% endif %}
{% if mirror_redhat_operators %}
  operators:
    # certified-operators
    - catalog: registry.redhat.io/redhat/certified-operator-index:v{{ ocp_release }}
      packages:
        - name: crunchy-postgres-operator  # Required by ibm.mas_devops.uds role
          channels:
            - name: v5
        - name: gpu-operator-certified  # Required by ibm.mas_devops.nvidia_gpu role
          channels:
            - name: v23.3
            # We don't use the v24.6 channel, but oc-mirror fails when the default channel is not included
            # - https://access.redhat.com/solutions/7013461
            # - https://issues.redhat.com/browse/OCPBUGS-385
            - name: v24.6
        - name: kubeturbo-certified  # Required by ibm.mas_devops.kubeturbo role
          channels:
            - name: stable
        - name: ibm-metrics-operator  # Required by ibm.mas_devops.dro role
          channels:
            - name: stable
        - name: ibm-data-reporter-operator  # Required by ibm.mas_devops.dro role
          channels:
            - name: stable


    # community-operators
    - catalog: registry.redhat.io/redhat/community-operator-index:v{{ ocp_release }}
      packages:
        - name: grafana-operator  #  Required by ibm.mas_devops.grafana role
          channels:
            - name: v4
            - name: v5
        - name: opentelemetry-operator  # Required by ibm.mas_devops.opentelemetry role
          channels:
            - name: alpha
        - name: strimzi-kafka-operator  #  Required by ibm.mas_devops.kafka role
          channels:
            - name: stable

    # redhat-operators
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_release }}
      packages:
        - name: amq-streams  # Required by ibm.mas_devops.kafka role
          channels:
            - name: stable
        - name: openshift-pipelines-operator-rh  # Required by installer
          channels:
            - name: latest
        - name: nfd  # Required by ibm.mas_devops.nvidia_gpu role
          channels:
            - name: stable
        - name: aws-efs-csi-driver-operator  # Required by ibm.mas_devops.ocp_efs role
          channels:
            - name: stable
        - name: local-storage-operator  # Required by ibm.mas_devops.ocs role
          channels:
            - name: stable
        - name: odf-operator  # Required by ibm.mas_devops.ocs role
          channels:
            - name: stable-{{ ocp_release }}
        - name: openshift-cert-manager-operator  # Required by ibm.mas_devops.cert_manager role
          channels:
            - name: stable-v1
{% endif %}
