---
apiVersion: v1
kind: Secret
type: opaque
metadata:
  name: sls-registration-key
  namespace: "mas-{{ mas_instance_id }}-core"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
stringData:
  registrationKey: "{{ sls_registration_key }}"
---
apiVersion: config.mas.ibm.com/v1
kind: SlsCfg
metadata:
  name: "{{ mas_instance_id }}-sls-system"
  namespace: "mas-{{ mas_instance_id }}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
  displayName: SLS ({{ mas_instance_id }})
  config:
    url: "{{ sls_url }}"
    credentials:
      secretName: sls-registration-key
    syncFrequency: "{{ mas_license_sync_frequency }}"
  certificates:
    - alias: ca
      crt: |
        {{ sls_tls_crt | indent(8) }}
{% if ibm_mas_slscfg_pod_templates is defined %}
  podTemplates: {{ ibm_mas_slscfg_pod_templates }}
{% endif %}
