---
apiVersion: v1
kind: Secret
metadata:
  name: cis-api-key
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
type: Opaque
data:
  key: "{{ cis_apikey | b64encode }}"
