[req]
#req_extensions = v3_req
distinguished_name = req_distinguished_name
prompt = no

# Extensions to add to a CA certificate request
[ v3_ca ]
keyUsage               = critical,keyCertSign,cRLSign
basicConstraints       = critical,CA:true,pathlen:0
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
certificatePolicies    = 1.2.3.4


[req_distinguished_name]
countryName         = US
stateOrProvinceName = NY
localityName        = New York
organizationName    = Example, LLC
commonName          = Mongo CA
emailAddress        = test@example.com
