[req]
#req_extensions = v3_req
distinguished_name = req_distinguished_name
prompt = no

# Extensions to add to a CA certificate request
[ v3_ca ]
keyUsage               = critical,keyCertSign,cRLSign
basicConstraints       = critical,CA:true,pathlen:0
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
certificatePolicies    = 1.2.3.4

# Extensions to add to a server certificate request
[ v3_req ]
keyUsage = nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[req_distinguished_name]
countryName         = US
stateOrProvinceName = NY
localityName        = New York
organizationName    = Example, LLC
commonName          = *.mas-mongo-ce-svc.mongoce.svc.cluster.local
emailAddress        = test@example.com

[alt_names]
DNS.1       = *.mas-mongo-ce-svc.mongoce.svc.cluster.local
DNS.2       = 127.0.0.1
DNS.3       = localhost

# Extensions to add a client certificate request
[ v3_clnt ]
keyUsage = nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth
