apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ minio_instance_name }}-tls"
  namespace: "{{ minio_namespace }}"
spec:
  secretName: "minio-ca"
  duration: "175200h0m0s"
  renewBefore: "2160h0m0s"
  issuerRef:
    name: "minio-ca-issuer"
    kind: Issuer

  isCA: true
  keyAlgorithm: rsa
  keySize: 4096
  keyEncoding: pkcs8

  usages:
    - cert sign
    - digital signature
    - key encipherment
    - server auth

  commonName: "ca.minio"
 