---
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: "{{ minio_namespace }}"
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
  selector:
    app: "{{ minio_instance_name }}"