---
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: {{ minio_namespace }}
spec:
  type: ClusterIP
  ports:
    - name: api
      port: 8443
      targetPort: 8443
      protocol: TCP
  selector:
    app: {{ minio_instance_name }}
