---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: "{{ minio_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  storageClassName: "{{ primary_storage_class }}"
  resources:
    requests:
      storage: 40Gi
