---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: minio-route
  namespace: "{{ minio_namespace }}"
spec:
  to:
    kind: Service
    name: minio-service
    weight: 100
  port:
    targetPort: https
  tls:
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
