---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "minio-{{ minio_instance_name | lower }}-credentials"
  namespace: "{{minio_namespace}}"
data:
  minio_root_user: "{{minio_root_user | b64encode}}"
  minio_root_password: "{{minio_root_password | b64encode}}"