---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: minio-route
  namespace: "{{ minio_namespace }}"
spec:
  to:
    kind: Service
    name: minio-service
  port:
    targetPort: https
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
  tls:
    certificate: |
      {{ externalCertificate | indent(6, False) }}
    key: |
      {{ externalKey | indent(6, False) }}
    caCertificate: |
      {{ internalCertificateAuthorityCertificate | indent(6, False) }}