---
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: "{{ minio_namespace }}"
spec:
  type: ClusterIP
  selector:
    app: "{{ minio_instance_name }}"
  ports:
    - name: https
      port: 443
      targetPort: 9000
      protocol: TCP
    - name: console
      port: 9443
      targetPort: 9443
      protocol: TCP