apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ minio_instance_name }}"
  namespace: "{{ minio_namespace }}"
spec:
  selector:
    matchLabels:
      app: "{{ minio_instance_name }}"
  template:
    metadata:
      labels:
        app: "{{ minio_instance_name }}"
    spec:
      containers:
        - name: "{{ minio_instance_name }}"
          image: "{{ minio_version }}"
          command:
            - minio
          args:
            - server
            - /data
            - --console-address
            - ":9443"
            - --certs-dir
            - /root/.minio/certs
          env:
            - name: MINIO_ROOT_USER
              value: "{{ minio_root_user }}"
            - name: MINIO_ROOT_PASSWORD
              value: "{{ minio_root_password }}"
          ports:
            - name: https
              containerPort: 9000
              protocol: TCP
            - name: console
              containerPort: 9443
              protocol: TCP
          volumeMounts:
            - name: storage
              mountPath: /data
            - name: minio-certificate-minio
              mountPath: /root/.minio/certs
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: minio-pvc
        - name: minio-certificate-minio
          secret:
            secretName: "minio-certificate-{{ minio_instance_name }}"
            items:
              - key: tls.crt
                path: public.crt
              - key: tls.key
                path: private.key
              - key: ca.crt
                path: ca.crt
              - key: tls.crt
                path: CAs/public.crt # mark self signed certificate as trusted