---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: minio-route
  namespace: "{{ minio_namespace }}"
spec:
  host: "{{ minio_instance_name }}-{{ minio_namespace }}.{{ cluster_domain }}"
  path: /
  port:
    targetPort: console
  tls:
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
    certificate: |
      {{ externalCertificate | indent(6, False) }}
    key: |
      {{ externalKey | indent(6, False) }}
    destinationCACertificate: |
      {{ externalCACertificate | indent(6, False) }}
  to:
    kind: Service
    name: minio-service
    weight: 100