apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{db2_instance_name | lower}}-enforce-mref-config"
  ownerReferences:
    - apiVersion: db2u.databases.ibm.com/v1
      kind: Db2uCluster
      name: "{{ db2_instance_name | lower }}"
      uid: "{{ db2_instance_uid }}"  
data:
  version: "{{ db2_config_version }}"

