---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: common-service
  namespace: "{{ cpd_operators_namespace }}"
spec:
  targetNamespaces:
    - "{{ cpd_operators_namespace }}"
  upgradeStrategy: Default
status:
  namespaces:
    - "{{ cpd_operators_namespace }}"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  annotations:
  name: ibm-namespace-scope-operator
  namespace: "{{ cpd_operators_namespace }}"
  labels:
    operators.coreos.com/ibm-namespace-scope-operator.{{ cpd_operators_namespace }}: ''
spec:
  channel: "{{ ibm_licensing_channel }}" # TODO: need a better way to get the namespace scope channel to use
  installPlanApproval: Automatic
  name: ibm-namespace-scope-operator
  source: opencloud-operators
  sourceNamespace: "{{ cpd_operators_namespace }}"
