---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: "masbr-network-policy"
  namespace: "{{ masbr_cf_namespace }}"
  labels:
    mas.ibm.com/masbr: ""
spec:
  podSelector:
    matchLabels:
      mas.ibm.com/masbr: ""
  egress:
    - {}
  policyTypes:
    - Egress

---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ masbr_cf_k8s_name }}"
  namespace: "{{ masbr_cf_namespace }}"
  labels:
    mas.ibm.com/masbr: ""
    masbr-type: "copy"
    masbr-job: "{{ masbr_job_name }}"
spec:
  backoffLimit: 1
  template:
    metadata:
      name: "{{ masbr_cf_k8s_name }}"
      labels:
        mas.ibm.com/masbr: ""
        masbr-type: "copy"
        masbr-job: "{{ masbr_job_name }}"
    spec:
{% if masbr_cf_affinity is defined and masbr_cf_affinity %}
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: statefulset.kubernetes.io/pod-name
                operator: In
                values:
                  - "{{ masbr_cf_pod_name }}"
            topologyKey: kubernetes.io/hostname
{% endif %}
{% if masbr_cf_service_account_name is defined and masbr_cf_service_account_name | length > 0 %}
      serviceAccountName: "{{ masbr_cf_service_account_name }}"
{% endif %}
{% if masbr_cf_service_account is defined and masbr_cf_service_account | length > 0 %}
      serviceAccount: "{{ masbr_cf_service_account }}"
{% endif %}
{% if masbr_cf_pod_security_context is defined and masbr_cf_pod_security_context | length > 0 %}
      securityContext: {{ masbr_cf_pod_security_context }}
{% endif %}
      containers:
        - name: main
          image: quay.io/ibmmas/cli:{{ masbr_mascli_image_tag }}
{% if masbr_mascli_image_pull_policy is defined and masbr_mascli_image_pull_policy | length > 0 %}
          imagePullPolicy: "{{ masbr_mascli_image_pull_policy }}"
{% endif %}
          command:
            - sh
            - '-c'
            - >-
              {{ masbr_cf_cmds }}
{% if masbr_cf_env is defined and masbr_cf_env | length > 0 %}
          env: {{ masbr_cf_env }}
{% endif %}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: data-volume
              mountPath: "{{ masbr_cf_pvc_mount_path }}"
{% if masbr_cf_pvc_sub_path is defined and masbr_cf_pvc_sub_path | length > 0 %}
              subPath: "{{ masbr_cf_pvc_sub_path }}"
{% endif %}
            - name: cm-volume
              mountPath: /mnt/configmap
{% if masbr_cf_container_security_context is defined and masbr_cf_container_security_context | length > 0 %}
          securityContext: {{ masbr_cf_container_security_context }}
{% endif %}
      restartPolicy: Never    
      volumes:
        - name: tmp
          emptyDir: {}
        - name: data-volume
          persistentVolumeClaim:
            claimName: "{{ masbr_cf_pvc_name }}"
        - name: cm-volume
          configMap:
            name: "{{ masbr_cf_k8s_name }}"
