---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: "{{ masbr_cp_name }}"
  namespace: "{{ masbr_cp_namespace }}"
labels:
  masbr-job-name: "{{ masbr_job_name }}"
spec:
  podSelector:
    matchLabels:
      job-name: "{{ masbr_cp_name }}"
  egress:
    - {}
  policyTypes:
    - Egress
