---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: "masbr-sa"
  namespace: "{{ masbr_rt_namespace }}"

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "masbr-crb"
subjects:
  - kind: ServiceAccount
    name: "masbr-sa"
    namespace: "{{ masbr_rt_namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin

{% if masbr_use_cloud_storage %}
---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: "{{ masbr_rt_k8s_name }}"
  namespace: "{{ masbr_rt_namespace }}"
labels:
  masbr-job-name: "{{ masbr_job_name }}"
spec:
  podSelector:
    matchLabels:
      job-name: "{{ masbr_rt_k8s_name }}"
  egress:
    - {}
  policyTypes:
    - Egress
{% endif %}

{% if masbr_task_type in ['backup', 'restore'] %}
---
kind: Job
apiVersion: batch/v1
metadata:
  name: "{{ masbr_rt_k8s_name }}"
  namespace: "{{ masbr_rt_namespace }}"
spec:
  backoffLimit: 1
  template:
    metadata:
      name: "{{ masbr_rt_k8s_name }}"
    labels:
      masbr-job-name: "{{ masbr_job_name }}"
    spec:
      serviceAccountName: masbr-sa
      containers:
        - name: main
          image: quay.io/ibmmas/cli:{{ masbr_mascli_image_tag }}
          imagePullPolicy: "{{ masbr_mascli_image_pull_policy | default('Always', true) }}"
          command:
            - sh
            - '-c'
            - >-
              {{ masbr_rt_cmds }}
{% if masbr_rt_env is defined and masbr_rt_env | length > 0 %}
          env: {{ masbr_rt_env }}
{% endif %}
{% if masbr_use_cloud_storage %}
          volumeMounts:
            - name: cm-volume
              readOnly: true
              mountPath: /mnt/configmap
{% endif %}
      restartPolicy: Never
{% if masbr_use_cloud_storage %}
      volumes:
        - name: cm-volume
          configMap:
            name: "{{ masbr_rt_k8s_name }}"
{% endif %}
{% endif %}

{% if masbr_task_type == 'schedule' %}
---
kind: CronJob
apiVersion: batch/v1
metadata:
  name: "{{ masbr_rt_k8s_name }}"
  namespace: "{{ masbr_rt_namespace }}"
spec:
  schedule: "{{ masbr_backup_schedule }}"
{% if masbr_backup_timezone is defined and masbr_backup_timezone | length > 0 %}
  timeZone: "{{ masbr_backup_timezone }}"
{% endif %}
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        metadata:
          name: "{{ masbr_rt_k8s_name }}"
        labels:
          masbr-job-name: "{{ masbr_job_name }}"
        spec:
          serviceAccountName: masbr-sa
          containers:
            - name: main
              image: quay.io/ibmmas/cli:{{ masbr_mascli_image_tag }}
              imagePullPolicy: "{{ masbr_mascli_image_pull_policy | default('Always', true) }}"
              command:
                - sh
                - '-c'
                - >-
                  {{ masbr_rt_cmds }}
{% if masbr_rt_env is defined and masbr_rt_env | length > 0 %}
              env: {{ masbr_rt_env }}
{% endif %}
{% if masbr_use_cloud_storage %}
              volumeMounts:
                - name: cm-volume
                  readOnly: true
                  mountPath: /mnt/configmap
{% endif %}
          restartPolicy: Never
{% if masbr_use_cloud_storage %}
          volumes:
            - name: cm-volume
              configMap:
                name: "{{ masbr_rt_k8s_name }}"
{% endif %}
{% endif %}
