apiVersion: v1
metadata:
  name: {{ cluster_name }}
baseDomain: {{ ipi_base_domain }}
compute:
- name: worker
  platform:
    {{ ipi_platform }}:
      type: {{ ipi_compute_type }}
  replicas: {{ ipi_compute_replicas }}
controlPlane:
  name: master
  platform:
    {{ ipi_platform }}:
      type: {{ ipi_controlplane_type }}
  replicas: {{ ipi_controlplane_replicas }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  {{ ipi_platform }}:
    region: {{ ipi_region }}
publish: External
pullSecret: '{{ lookup('file', ipi_pull_secret_file) | regex_replace('\'', '"') }}'
