# These are the all components that manage supports.
# If new component been added into manage that needs to be handled here we well.

{% if manageWorkspaceComponents['base'] is defined and manageWorkspaceComponents['base']['version'] is defined %}
base:
  version: {{ manageWorkspaceComponents['base']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['anywhere'] is defined and manageWorkspaceComponents['anywhere']['version'] is defined %}
anywhere:
  version: {{ manageWorkspaceComponents['anywhere']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['envizi'] is defined and manageWorkspaceComponents['envizi']['version'] is defined %}
envizi:
  version: {{ manageWorkspaceComponents['envizi']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['hse'] is defined and manageWorkspaceComponents['hse']['version'] is defined %}
hse:
  version: {{ manageWorkspaceComponents['hse']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['nuclear'] is defined and manageWorkspaceComponents['nuclear']['version'] is defined %}
nuclear:
  version: {{ manageWorkspaceComponents['nuclear']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['oilandgas'] is defined and manageWorkspaceComponents['oilandgas']['version'] is defined %}
oilandgas:
  version: {{ manageWorkspaceComponents['oilandgas']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['oracleadapter'] is defined and manageWorkspaceComponents['oracleadapter']['version'] is defined %}
oracleadapter:
  version: {{ manageWorkspaceComponents['oracleadapter']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['sapadapter'] is defined and manageWorkspaceComponents['sapadapter']['version'] is defined %}
sapadapter:
  version: {{ manageWorkspaceComponents['sapadapter']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['serviceprovider'] is defined and manageWorkspaceComponents['serviceprovider']['version'] is defined %}
serviceprovider:
  version: {{ manageWorkspaceComponents['serviceprovider']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['spatial'] is defined and manageWorkspaceComponents['spatial']['version'] is defined %}
spatial:
  version: {{ manageWorkspaceComponents['spatial']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['strategize'] is defined and manageWorkspaceComponents['strategize']['version'] is defined %}
strategize:
  version: {{ manageWorkspaceComponents['strategize']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['transportation'] is defined and manageWorkspaceComponents['transportation']['version'] is defined %}
transportation:
  version: {{ manageWorkspaceComponents['transportation']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['tririga'] is defined and manageWorkspaceComponents['tririga']['version'] is defined %}
tririga:
  version: {{ manageWorkspaceComponents['tririga']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['utilities'] is defined and manageWorkspaceComponents['utilities']['version'] is defined %}
utilities:
  version: {{ manageWorkspaceComponents['utilities']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['workday'] is defined and manageWorkspaceComponents['workday']['version'] is defined %}
workday:
  version: {{ manageWorkspaceComponents['workday']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------

{% if manageWorkspaceComponents['aviation'] is defined and manageWorkspaceComponents['aviation']['version'] is defined %}
aviation:
{% if ibm_mas_manage_aviation_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_aviation_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['aviation']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['acm'] is defined and manageWorkspaceComponents['acm']['version'] is defined %}
acm:
{% if ibm_mas_manage_acm_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_acm_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['acm']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['civil'] is defined and manageWorkspaceComponents['civil']['version'] is defined %}
civil:
{% if ibm_mas_manage_imagestitching_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_imagestitching_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['civil']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['icd'] is defined and manageWorkspaceComponents['icd']['version'] is defined %}
icd:
{% if ibm_mas_manage_slackproxy_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_slackproxy_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['icd']['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['health'] is defined and manageWorkspaceComponents['health']['version'] is defined %}
health:
{% if ibm_mas_manage_healthextworkspace_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_healthextworkspace_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['health']['version'] }}
{% endif %}
