{% if manageWorkspaceComponents['base'] is defined %}
base:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['anywhere'] is defined %}
anywhere:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['envizi'] is defined %}
envizi:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['hse'] is defined %}
hse:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['nuclear'] is defined %}
nuclear:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['oilandgas'] is defined %}
oilandgas:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['oracleadapter'] is defined %}
oracleadapter:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['sapadapter'] is defined %}
sapadapter:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['serviceprovider'] is defined %}
serviceprovider:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['spatial'] is defined %}
spatial:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['strategize'] is defined %}
strategize:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['transportation'] is defined %}
transportation:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['tririga'] is defined %}
tririga:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['utilities'] is defined %}
utilities:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['workday'] is defined %}
workday:
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------

{% if manageWorkspaceComponents['aviation'] is defined %}
aviation:
{% if ibm_mas_manage_aviation_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_aviation_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['acm'] is defined %}
acm:
{% if ibm_mas_manage_acm_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_acm_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['version'] }}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['civil'] is defined %}
civil:
{% if ibm_mas_manage_civil_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_civil_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['icd'] is defined%}
icd:
{% if ibm_mas_manage_icd_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_icd_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
# -----------------------------------------------------------------------------
{% if manageWorkspaceComponents['health'] is defined%}
health:
{% if ibm_mas_manage_health_pod_templates is defined %}
  podTemplates: {{ ibm_mas_manage_health_pod_templates }}
{% endif %}
  version: {{ manageWorkspaceComponents['version'] }}
{% endif %}
