---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_aibroker_minio_secret }}"
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  username: "{{ mas_aibroker_storage_accesskey }}"
  password: "{{ mas_aibroker_storage_secretkey }}"
type: Opaque