---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ mas_aibroker_minio_secret }}"
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  username: "{{ mas_aibroker_storage_accesskey | b64encode }}"
  password: "{{ mas_aibroker_storage_secretkey | b64encode }}"
type: Opaque