---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ odh_namespace }}"
---
apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: operatorgroup
  namespace: "{{ odh_namespace }}"
spec:
  targetNamespaces:
    - "{{ odh_namespace }}"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
    name: opendatahub-operator
    namespace: "{{ odh_namespace }}"
spec:
    channel: "{{ odh_channel }}"
    installPlanApproval: Manual
    name: opendatahub-operator
    source: "{{ odh_catalog_source }}"
    sourceNamespace: openshift-marketplace
    startingCSV: "{{ odh_operator_version }}"
