---
kind: StorageClass
metadata:
  name: "{{ fyre_nfs_sc_name }}"
provisioner: k8s-sigs.io/nfs-subdir-external-provisioner # or choose another name, must match deployment's env PROVISIONER_NAME'
parameters:
  archiveOnDelete: "false"
