apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "airgap-registry-ca-certificate"
  namespace: "{{ registry_namespace }}"
spec:
  secretName: "airgap-registry-ca"
  duration: "175200h0m0s"
  renewBefore: "2160h0m0s"
  issuerRef:
    name: "airgap-registry-ca-issuer"
    kind: Issuer

  isCA: true
  keyAlgorithm: rsa
  keySize: 4096
  keyEncoding: pkcs8

  usages:
    - cert sign
    - digital signature
    - key encipherment
    - server auth

  commonName: "ca.airgap-registry"
  organization:
    - "IBM Maximo Application Suite"
  subject:
    countries:
      - GB
    streetAddresses:
      - London
    localities:
      - London
    organizationalUnits:
      - IBM Maximo Application Suite
