apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "airgap-registry-certificate"
  namespace: "{{ registry_namespace }}"
spec:
  secretName: "airgap-registry-certificate"
  duration: "175200h0m0s"
  renewBefore: "2160h0m0s"
  issuerRef:
    name: "airgap-registry-issuer"
    kind: Issuer

  usages:
    - cert sign
    - digital signature
    - key encipherment
    - server auth

  commonName: "airgap-registry"
  dnsNames:
    - "{{ cluster_subdomain.resources[0].spec.domain }}"
    - "*.{{ cluster_subdomain.resources[0].spec.domain }}"
    - "airgap-registry.{{ registry_namespace }}.svc"
  organization:
    - "IBM Maximo Application Suite"
  subject:
    countries:
      - GB
    streetAddresses:
      - London
    localities:
      - London
    organizationalUnits:
      - IBM Maximo Application Suite
