apiVersion: cpd.ibm.com/v1
kind: Ibmcpd
metadata:
  name: ibmcpd
  namespace: "{{ cpd_instance_namespace }}"
  csNamespace: "ibm-common-services"
spec:
  license:
    accept: true
    license: Standard
  # https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=requirements-storage
  storageClass: "{{ cpd_primary_storage_class }}"
  zenCoreMetadbStorageClass: "{{ cpd_metadata_storage_class }}"
