---
# TODO: This is only needed until cpd-platform (CPD operator) and opencloud-operators (CPFS and NamespaceScope) content is not curated into ibm-operator-catalog
# The following case bundles corresponds to CPD 4.8.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: cpd-platform
  namespace: "{{ cpd_operators_namespace }}"
spec:
  displayName: ibm-cp-datacore-4.1.0+20231228.101050
  image: >-
    icr.io/cpopen/ibm-cpd-platform-operator-catalog@sha256:856bde1cf3d2c17bc3f2b8553211f8e563f430592c0c23d6bc4aeb83bcd6c2ac
  publisher: IBM
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 30m0s
