---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ cpd_catalog_name }}"
  namespace: "{{ cpd_operators_namespace }}"
spec:
  displayName: "{{ cpd_catalog_display_name }}"
  image: "{{ cpd_catalog_registry }}/{{ cpd_catalog_operator_name }}@{{ cpd_catalog_digest }}"
  publisher: IBM
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 30m0s
