---
# TODO: This is only needed until cpd-platform (CPD operator) and opencloud-operators (CPFS and NamespaceScope) content is not curated into ibm-operator-catalog
# The following case bundles corresponds to CPD 4.8.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: opencloud-operators
  namespace: "{{ cpd_operators_namespace }}"
spec:
  displayName: ibm-cp-common-services-4.3.0
  image: >-
    icr.io/cpopen/ibm-common-service-catalog@sha256:5f2ada10db36dd609913f806fc44051186a1b719a0c1e04edfae5a6807b0eb26
  publisher: IBM
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 30m0s
