---
apiVersion: v1
kind: Service
metadata:
  name: "{{ redis_instance_name }}-announce-{{ item }}"
  namespace: "{{ redis_namespace }}"
  labels:
    app: "{{ redis_instance_name }}"
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
    mas.ibm.com/component: "redis"
spec:
  type: ClusterIP
  ports:
    - name: redis
      port: 6379
      protocol: TCP
      targetPort: redis
    - name: redis-tls
      port: 6380
      protocol: TCP
      targetPort: redis-tls
    - name: sentinel
      port: 26379
      protocol: TCP
      targetPort: sentinel
    - name: sentinel-tls
      port: 26380
      protocol: TCP
      targetPort: sentinel-tls
  selector:
    app: "{{ redis_instance_name }}"
    statefulset.kubernetes.io/pod-name: "{{ redis_instance_name }}-{{ item }}"