---
apiVersion: v1
kind: Service
metadata:
  name: {{ redis_master_service }}
  namespace: {{ redis_namespace }}
  labels:
    app: redis
    instance: {{ redis_instance_name }}
    role: master
spec:
  type: ClusterIP
  ports:
    - name: redis
      port: {{ redis_port }}
      targetPort: redis
      protocol: TCP
{% if redis_tls_enabled %}
    - name: redis-tls
      port: {{ redis_tls_port }}
      targetPort: redis-tls
      protocol: TCP
{% endif %}
{% if redis_sentinel_enabled %}
    - name: sentinel
      port: {{ redis_sentinel_port }}
      targetPort: sentinel
      protocol: TCP
{% endif %}
  selector:
    app: redis
    instance: {{ redis_instance_name }}
    statefulset.kubernetes.io/pod-name: {{ redis_instance_name }}-redis-0