#!/bin/bash

db2 RESTORE DATABASE BLUDB FROM /mnt/blumeta0/home/db2inst1/db_backup TAKEN AT {{ db_backup_restore_timestamp }} INTO BLUDB LOGTARGET /tmp/db_backup_logs REPLACE EXISTING WITHOUT PROMPTING