---
apiVersion: v1
kind: ConfigMap
metadata:
  name: connector-config
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  _example: >
    Set here common configuration to all connectors in tenant namespace.