---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: mas-{{ mas_instance_id }}-aibroker
  namespace: "{{ aiservice_namespace }}"
spec:
  targetNamespaces:
    - "{{ aiservice_namespace }}"
