---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ mas_instance_id }}-{{ mas_workspace_id }}-manage-aiservice-configmap"
  namespace: "{{ manage_namespace }}"
  labels:
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
    mas.ibm.com/workspaceId: "{{ mas_workspace_id }}"
    mas.ibm.com/applicationId: "{{ mas_app_id }}"
data:
  aiservice_instance_id: "{{ aiservice_instance_id }}"
  aiservice_namespace: "{{ aiservice_namespace }}"
  configured_at: "{{ ansible_date_time.iso8601 }}"
