---
apiVersion: v1
kind: Secret
type: opaque
metadata:
  name: sls-registration-key
  namespace: "mas-{{mas_instance_id}}-core"
stringData:
  registrationKey: "{{sls_registration_key}}"
---
apiVersion: config.mas.ibm.com/v1
kind: SlsCfg
metadata:
  name: "{{mas_instance_id}}-sls-system"
  namespace: "mas-{{mas_instance_id}}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{mas_instance_id}}"
spec:
  displayName: sls.{{mas_instance_id}}
  config:
    url: "{{sls_url}}"
    credentials:
      secretName: sls-registration-key
  certificates:
    - alias: ca
      crt: |
        {{sls_tls_crt | indent(8) }}
