
[defaults]
roles_path = /opt/ansible/roles
library = /opt/ansible/library

# Record timings per task, and enable junit result file generation
# [DEPRECATION WARNING]: [defaults]callback_whitelist option, normalizing names
# to new standard, use callbacks_enabled instead. This feature will be removed
# from ansible-core in version 2.15. Deprecation warnings can be disabled by
# setting deprecation_warnings=False in ansible.cfg.
# callback_whitelist = profile_tasks,junit
callbacks_enabled = profile_tasks,junit

# Verbosity: 0 (low) - 7 (high)
verbosity = 1

[callback_profile_tasks]
task_output_limit = 100
