---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "ocscos-credentials-system"
  namespace: "mas-{{ mas_instance_id }}-core"
stringData:
  username: "{{ ocscos_username }}"
  password: "{{ ocscos_password }}"
---
apiVersion: config.mas.ibm.com/v1
kind: ObjectStorageCfg
metadata:
  name: "{{ mas_instance_id }}-objectstorage-system"
  namespace: "mas-{{ mas_instance_id }}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{ mas_instance_id }}"
spec:
  displayName: ObjectStorage Config
  config:
    url:  "{{ ocscos_url }}"
    credentials:
      secretName: ocscos-credentials-system
  certificates:
    - alias: cospart1
      crt: |
        {{ ocscos_certs[0] | indent(8) }}
    - alias: cospart2
      crt: |
        {{ ocscos_certs[1] | indent(8) }}
