---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ tenantNamespace }}----s3-secret
  namespace: "{{ aibroker_namespace }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  access_key_id: {{ mas_aibroker_storage_accesskey | b64encode }}
  secret_access_key: {{ mas_aibroker_storage_secretkey | b64encode }}
