---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: "{{ item.metadata.name }}"
  namespace: "{{ item.metadata.namespace }}"
{% if item.metadata.labels is defined %}
  labels:
{% for key, value in item.metadata.labels.items() %}
    "{{ key }}": "{{ value }}"  
{% endfor %}
{% endif %}    
spec:
{% if item.spec.name is defined %}
  name: "{{ item.spec.name }}"
{% endif %}  
  allowCrossNamespaceImport: true
  instanceSelector:
    matchLabels:
      dashboards: "grafanav5"
  json: |-
    {{ item.spec.json | from_json | to_nice_json | indent(4)}}
