---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: mas-grafana
  namespace: "{{ grafana_namespace }}"
  labels:
    dashboards: "grafanav5"
spec:
  config:
    auth:
      disable_login_form: "false"
      disable_signout_menu: "true"
    log:
      level: warn
      mode: console
  dataStorage:
    accessModes:
    - ReadWriteOnce
    class: "{{ grafana_instance_storage_class }}"
    size: "{{ grafana_instance_storage_size }}"
  deployment:
    strategy:
      type: Recreate
  # An empty route spec is enough to signal the creation of a default
  # route to the operator. This can also be used to override defaults
  # in the route spec.
  route:
    spec: {}
