apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ cp4d_user_credentials_secret_name }}"
data:
  username: "{{ cp4d_username | b64encode }}"
  password: "{{ cp4d_password | b64encode }}"
  certificates: "{{ cp4d_db_certificate | b64encode }}"