---
apiVersion: v1
metadata:
  name: "{{ cluster_name }}"
data:
  admin_password: "{{ rosa_cluster_admin_password }}"
  api_url: "{{ rosa_admin_create.stdout | from_json | json_query('api_url') }}"
  username: "{{ rosa_admin_create.stdout | from_json | json_query('username') }}"
