---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: km-instance
  namespace: mas-{{ mas_instance_id }}-aibroker
spec:
  podSelector:
    matchLabels:
      kmodels: instance
      part-of: kmodels
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - port: 3000
        - port: 8443
