---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ aiservice_watsonxai_secret }}
  namespace: "{{ item }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  wx_apikey: {{ aiservice_watsonxai_apikey | b64encode }}
  wx_project_id: {{ aiservice_watsonxai_project_id | b64encode }}
  wx_url: {{ aiservice_watsonxai_url | b64encode }}
{% if aiservice_watsonxai_deployment_id is defined and aiservice_watsonxai_deployment_id | length > 0 %}
  wx_deployment_id: {{ aiservice_watsonxai_deployment_id | b64encode }}
{% endif %}
{% if aiservice_watsonxai_space_id is defined and aiservice_watsonxai_space_id | length > 0 %}
  wx_space_id: {{ aiservice_watsonxai_space_id | b64encode }}
{% endif %}
{% if aiservice_watsonxai_ca_crt is defined and aiservice_watsonxai_ca_crt | length > 0 %}
  ca.crt: {{ wxCaCert | b64encode }}
  wx_verify: {{ "true" | b64encode }}
{% else %}
  wx_verify: {{ aiservice_watsonxai_verify | b64encode }}
{% endif %}
{% if aiservice_watsonxai_full == 'true' and aiservice_watsonxai_instance_id is defined and aiservice_watsonxai_version is defined and aiservice_watsonxai_username is defined %}
  wx_instance_id: {{ aiservice_watsonxai_instance_id | b64encode }}
  wx_version: {{ aiservice_watsonxai_version | b64encode }}
  wx_username: {{ aiservice_watsonxai_username | b64encode }}
{% endif %}
