---
apiVersion: operator.ibm.com/v1
kind: NamespaceScope
metadata:
  name: common-service
  namespace: "{{ cpd_operators_namespace }}"
spec:
  csvInjector:
    enable: true
  license:
    accept: true
  namespaceMembers:
    - "{{ cpd_operators_namespace }}"
    - "{{ cpd_instance_namespace }}"
  restartLabels:
    intent: projected
