---
apiVersion: operator.ibm.com/v1
kind: NamespaceScope
metadata:
  name: common-service
  namespace: "{{ cpd_operators_namespace }}"
spec:
  csvInjector:
    enable: true
  license:
    accept: true
  namespaceMembers:
    - "{{ cpd_operators_namespace }}"
    - "{{ cpd_instance_namespace }}"
{% if cpd_minor_version is version('4.6','>') %} # only need cs-control namespace if installing CPD 4.8.x and above
  restartLabels:
    intent: projected
{% endif %}
