CONNECT TO {{ db_name }};
COMMIT WORK;

------------------------------------
-- CREATE SCHEMA --
------------------------------------

CREATE SCHEMA {{ db_schema }} AUTHORIZATION {{ db_username }};

COMMIT WORK;

CONNECT RESET;

TERMINATE;