CONNECT TO {{ db2_dbname }};
COMMIT WORK;

------------------------------------
-- CREATE SCHEMA --
------------------------------------

CREATE SCHEMA {{ db2_schema }} AUTHORIZATION {{ db2_username }};

COMMIT WORK;

CONNECT RESET;

TERMINATE;