apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ bucket_name }}-{{ s3_access_point_name }}-tf-outputs"
data:
  id: "{{ tf_result.outputs.id.value }}"
  arn: "{{ tf_result.outputs.arn.value }}"
  alias: "{{ tf_result.outputs.alias.value }}"
  endpoints: "{{ tf_result.outputs.endpoints.value }}"
  domain_name: "{{ tf_result.outputs.domain_name.value }}"
