region = "{{ aws_region }}"

#s3 bucket variables
bucket_name = "{{ bucket_name }}"
user_arn = "{{ aws_user_arn }}"
access_point_name = "{{ s3_access_point_name }}"
perm_action = {{ s3_access_point_action_list | to_json}}
