---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ aiservice_s3_secret }}
  namespace: "{{ aiservice_namespace }}"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
data:
  ACCESS-KEY: {{ aiservice_s3_access_key | b64encode }}
  SECRET-KEY: {{ aiservice_s3_secret_key | b64encode }}
  URL: {{ aiservice_s3_endpoint_url | b64encode }}
  REGION: {{ aiservice_s3_region | b64encode }}
