apiVersion: config.mas.ibm.com/v1
kind: KafkaCfg
metadata:
  name: "{{mas_instance_id}}-kafka-system"
  namespace: "mas-{{mas_instance_id}}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{mas_instance_id}}"
spec:
  displayName: IBM Cloud Event Streams
  config:
    hosts:
      {{ kafka_hosts | indent(6)}}
    credentials:
      secretName: {{ eventstreams_credentials_secret_name }}
    saslMechanism: PLAIN
  certificates:
    - alias: alias-placeholder
      crt: |
        crt-placeholder
