---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ eventstreams_credentials_secret_name }}
  namespace: "mas-{{mas_instance_id}}-core"
data:
  api_key: {{ resource_key_info.resource.credentials.api_key | b64encode }}
  credentials_all: {{ resource_key_info.resource.credentials | b64encode }}
  username: "{{ resource_key_info.resource.credentials.user | b64encode }}"
  password: "{{ resource_key_info.resource.credentials.password | b64encode }}"
---
apiVersion: config.mas.ibm.com/v1
kind: KafkaCfg
metadata:
  name: "{{mas_instance_id}}-kafka-system"
  namespace: "mas-{{mas_instance_id}}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{mas_instance_id}}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
  displayName: IBM Cloud Event Streams
  config:
    hosts:
      {{ kafka_hosts | indent(6)}}
    credentials:
      secretName: {{ eventstreams_credentials_secret_name }}
    saslMechanism: PLAIN
  certificates:
{% for cert in es_tls_crt[1:] %}
    - alias: part{{ loop.index }}
      crt: |
        {{ cert | indent(8) }}
{% endfor %}
