---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}certified-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Certified Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path_redhat}}/redhat/certified-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}community-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Community Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path_redhat }}/redhat/community-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {% if redhat_catalogs_prefix | length > 0 %}{{ redhat_catalogs_prefix }}-{% endif %}redhat-operator-index
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators
  publisher: Red Hat
  image: {{ registry_private_url_with_path_redhat }}/redhat/redhat-operator-index:v{{ ocp_release }}
  sourceType: grpc
---
apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: aiservice-redhat-catalogs{{ idms_suffix_redhat }}
  labels:
    aiservice.ibm.com/idmsContent: redhat-catalogs
  annotations:
    aiservice.ibm.com/idmsRegistry: "{{ registry_private_url_with_path_redhat }}"
    aiservice.ibm.com/idmsRegistryHost: "{{ registry_private_host }}"
    aiservice.ibm.com/idmsRegistryPort: "{{ registry_private_port }}"
    aiservice.ibm.com/idmsRegistryPrefix: "{{ registry_prefix_redhat }}"
    operators.openshift.org/catalog: "true"
spec:
  imageDigestMirrors:
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/cpopen
    source: icr.io/cpopen
    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/rhel8
#    source: registry.redhat.io/rhel8
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/rhel9
#    source: registry.redhat.io/rhel9
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/crunchydata
#    source: registry.connect.redhat.com/crunchydata
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/nvidia
#    source: registry.connect.redhat.com/nvidia
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/grafana
#    source: ghcr.io/grafana
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/grafana
#    source: docker.io/grafana
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    # This is for the grafana v5 operator bundle image
#    - {{ registry_private_url_with_path_redhat }}/community-operator-pipeline-prod
#    source: quay.io/community-operator-pipeline-prod
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/open-telemetry
#    source: ghcr.io/open-telemetry
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/source-to-image
#    source: registry.redhat.io/source-to-image
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/odf4
#    source: registry.redhat.io/odf4
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/operator-pipeline-prod
#    source: quay.io/operator-pipeline-prod
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/strimzi
#    source: quay.io/strimzi
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/rhceph
#    source: registry.redhat.io/rhceph
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/amq-streams
#    source: registry.redhat.io/amq-streams
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/nvidia
#    source: nvcr.io/nvidia
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/openshift4
#    source: registry.redhat.io/openshift4
#    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/openshift-community-operators
    source: quay.io/openshift-community-operators
    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/kubebuilder
#    source: gcr.io/kubebuilder
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/ubi8
#    source: registry.redhat.io/ubi8
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/ubi9
#    source: registry.redhat.io/ubi9
#    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/openshift-pipelines
    source: registry.redhat.io/openshift-pipelines
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/openshift-serverless-1
    source: registry.redhat.io/openshift-serverless-1
    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/openshift-service-mesh
    source: registry.redhat.io/openshift-service-mesh
    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/turbonomic
#    source: registry.connect.redhat.com/turbonomic
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/rh-marketplace
#    source: quay.io/rh-marketplace
#    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/rh-marketplace
#    source: registry.connect.redhat.com/rh-marketplace
#    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/cert-manager
    source: registry.redhat.io/cert-manager
    mirrorSourcePolicy: NeverContactSource
#  - mirrors:
#    - {{ registry_private_url_with_path_redhat }}/lvms4
#    source: registry.redhat.io/lvms4
#    mirrorSourcePolicy: NeverContactSource
  - mirrors:
    - {{ registry_private_url_with_path_redhat }}/rhcl-1
    source: registry.redhat.io/rhcl-1
    mirrorSourcePolicy: NeverContactSource
