persistentVolumes:
  - mountPath: "{{ mas_app_settings_custom_persistent_volume_mount_path }}"
    pvcName: "{{ mas_app_settings_custom_persistent_volume_pvc_name }}"
    volumeName: "{{ mas_app_settings_custom_persistent_volume_pv_name }}"
    size: "{{ mas_app_settings_custom_persistent_volume_pvc_size }}"
    storageClassName: "{{ mas_app_settings_custom_persistent_volume_sc_name }}"
