---
# For WSL 4.6, we also need to include Notebook Runtimes for Python 3.9 (This comes by default in WSL 4.5)
apiVersion: ws.cpd.ibm.com/v1beta1
kind: NotebookRuntime
metadata:
  name: "{{ cpd_instance_namespace }}-ws-runtime-py39"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  kind: ibm-cpd-ws-runtime-py39
  license:
    accept: true
  version: "{{ cpd_components_meta.ws_runtimes.cr_version }}"
