---
# For CPD 5.0, we also need to include ibm-cpd-ws-runtime-231-py Notebook Runtimes, based on Python 3.10.
apiVersion: ws.cpd.ibm.com/v1beta1
kind: NotebookRuntime
metadata:
  name: "{{ cpd_instance_namespace }}-ws-runtime-231-py"
  namespace: "{{ cpd_instance_namespace }}"
spec:
  kind: ibm-cpd-ws-runtime-231-py
  license:
    accept: true
  version: "{{ cpd_components_meta.ws_runtimes.cr_version }}"
