apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "mariadb-ca-certificate"
  namespace: "{{ mariadb_namespace }}"
spec:
  secretName: "mariadb-ca"
  duration: "175200h0m0s"
  renewBefore: "2160h0m0s"
  issuerRef:
    name: "{{ mariadb_instance_name }}-ca-issuer"
    kind: Issuer

  isCA: true
  keyAlgorithm: rsa
  keySize: 4096
  keyEncoding: pkcs8

  usages:
    - cert sign
    - digital signature
    - key encipherment
    - server auth

  commonName: "ca.mariadb"