{% for cert in manage_certificates %}
- alias: "{{ manage_certificates_aliases[loop.index0] | default(manage_certificates_alias_prefix+(loop.index - existing_manage_imported_certs_aliases | length)|string) }}"
  crt: |- 
    {{ cert | indent(4) }}
{% else %}
[]
{% endfor %}
