{
    "nickname": "MAS.MS.SMTP@ibm.com",
    "from_email": "MAS.MS.SMTP@ibm.com",
    "from_name": "MAS.MS.SMTP@ibm.com",
    "reply_to": "MAS.MS.SMTP@ibm.com",
    "reply_to_name": "MAS.MS.SMTP@ibm.com",
    "address": "250 York St #301",
    "address2": "",
    "state": "ON",
    "city": "London",
    "country": "Canada",
    "zip": "N6A 6K2"
}