{% if ibm_mas_iot_actions_pod_templates is defined %}
actions:
  podTemplates: {{ ibm_mas_iot_actions_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_auth_pod_templates is defined %}
auth:
  podTemplates: {{ ibm_mas_iot_auth_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_datapower_pod_templates is defined %}
datapower:
  podTemplates: {{ ibm_mas_iot_datapower_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_devops_pod_templates is defined %}
devops:
  podTemplates: {{ ibm_mas_iot_devops_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_dm_pod_templates is defined %}
dm:
  podTemplates: {{ ibm_mas_iot_dm_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_dsc_pod_templates is defined %}
dsc:
  podTemplates: {{ ibm_mas_iot_dsc_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_edgeconfig_pod_templates is defined %}
edgeconfig:
  podTemplates: {{ ibm_mas_iot_edgeconfig_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_fpl_pod_templates is defined %}
fpl:
  podTemplates: {{ ibm_mas_iot_fpl_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_guardian_pod_templates is defined %}
guardian:
  podTemplates: {{ ibm_mas_iot_guardian_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_mbgx_pod_templates is defined %}
mbgx:
  podTemplates: {{ ibm_mas_iot_mbgx_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_mfgx_pod_templates is defined %}
mfgx:
  podTemplates: {{ ibm_mas_iot_mfgx_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_monitor_pod_templates is defined %}
monitor:
  podTemplates: {{ ibm_mas_iot_monitor_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_orgmgmt_pod_templates is defined %}
orgmgmt:
  podTemplates: {{ ibm_mas_iot_orgmgmt_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_provision_pod_templates is defined %}
provision:
  podTemplates: {{ ibm_mas_iot_provision_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_registry_pod_templates is defined %}
registry:
  podTemplates: {{ ibm_mas_iot_registry_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_state_pod_templates is defined %}
state:
  podTemplates: {{ ibm_mas_iot_state_pod_templates }}
{% endif %}
# -----------------------------------------------------------------------------
{% if ibm_mas_iot_webui_pod_templates is defined %}
webui:
  podTemplates: {{ ibm_mas_iot_webui_pod_templates }}
{% endif %}
