
settings:
  storage:
    size: "{{ mas_app_settings_visualinspection_storage_size }}"
    storageClassName: "{{ mas_app_settings_visualinspection_storage_class }}"
    objectStorageEnabled: {{ mas_app_settings_visualinspection_object_storage_enabled }}
{% if mas_app_settings_visualinspection_object_storage_enabled and mas_app_settings_visualinspection_object_storage_workspace %}
    objectStorageBucketNames: 
      "{{ mas_workspace_id }}": "{{ mas_app_settings_visualinspection_object_storage_workspace }}"
{% endif %}
