---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 50-registry-ca-crt
spec:
  config:
    ignition:
      version: 3.1.0
    storage:
      files:
      - contents:
          source: data:text/plain;charset=utf-8;base64,{{ registry_ca_crt_b64 }}
        mode: 0644
        overwrite: true
        path: /etc/ssl/certs/registry-ca.crt
