---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ aiservice_minio_secret }}"
  namespace: mas-{{ mas_instance_id }}-aibroker
data:
  username: "{{ aiservice_storage_accesskey | b64encode }}"
  password: "{{ aiservice_storage_secretkey | b64encode }}"
type: Opaque