---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ aiservice_minio_secret }}"
  namespace: aiservice-{{ aiservice_instance_id }}
data:
  username: "{{ aiservice_s3_accesskey | b64encode }}"
  password: "{{ aiservice_s3_secretkey | b64encode }}"
type: Opaque