---
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
  namespace: opendatahub
spec:
  mtls:
    mode: PERMISSIVE
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: ds-pipeline-instance
  namespace: opendatahub
spec:
  host: ds-pipeline-instance.opendatahub.svc.cluster.local
  trafficPolicy:
    portLevelSettings:
      - port:
          number: 8888
        tls:
          mode: ISTIO_MUTUAL
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ aiservice_s3_instance_name }}
  namespace: opendatahub
spec:
  host: {{ aiservice_s3_instance_name }}.opendatahub.svc.cluster.local
  trafficPolicy:
    portLevelSettings:
      - port:
          number: 9000
        tls:
          mode: ISTIO_MUTUAL
