{
  "name": "{{ cpd_wsl_project_name }}",
  "description": "{{ cpd_wsl_project_description }}",
  "generator": "cp4d-{{ cpd_admin_username }}",
  "public": false,
  "storage": {
    "type": "assetfiles",
    "guid": "{{ cpd_wsl_project_storage_guid }}"
  }
}
