---
# Service - for exposing the app
apiVersion: v1
kind: Service
metadata:
  name: "{{ arcgis_manager_service_name }}"
  namespace: "{{ arcgis_namespace }}"
  labels:
    arcgis/app: enterprise-manager
    arcgis/siteName: "{{ arcgis_sitename }}"
spec:
  selector:
    arcgis/app: enterprise-manager
    arcgis/siteName: "{{ arcgis_sitename }}"
    arcgis/instanceName: "{{ arcgis_selector_instance_name }}"
  ports:
  - port: 8443
    targetPort: 8443
    protocol: TCP
    name: https
