---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ mas_app_operator_name }}-operator"
  namespace: "{{ mas_app_namespace }}"
spec:
  channel: "{{ app_channel }}"
  installPlanApproval: "{{ mas_upgrade_strategy }}"
  name: "{{ mas_app_operator_name }}"
  source: "{{ mas_catalog_source }}"
  sourceNamespace: openshift-marketplace
  startingCSV: "{{ app_starting_csv }}"
