---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ aiservice_s3_secret }}"
  namespace: aiservice-{{ aiservice_instance_id }}
data:
  access_key: "{{ aiservice_s3_accesskey | b64encode }}"
  secret_key: "{{ aiservice_s3_secretkey | b64encode }}"
type: Opaque