---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "turbonomic-credentials"
{% if custom_labels is defined and custom_labels.items() %}
  labels:
{% for key, value in custom_labels.items() %}
    "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
stringData:
  opsManagerPassword: "{{ turbonomic_password }}"
  opsManagerUserName: "{{ turbonomic_username }}"
  