apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{db2_instance_name | lower}}-enforce-config"
  ownerReferences:
  - apiVersion: db2u.databases.ibm.com/v1
    kind: Db2uInstance
    name: "{{db2_instance_name | lower}}"
    uid: "{{ _db2_instance_engn_svc.resources[0].metadata.uid }}"
    controller: false
    blockOwnerDeletion: false
data:
  version: "{{ db2_config_version }}"
  enforced: "{{ enforce_db2_config | string }}"

