#!/bin/bash

TBSP_SQL="/tmp/.tbsp.sql"

if [ -f $TBSP_SQL ]
then

    rm $TBSP_SQL

fi

if ! db2gcf -s | grep Available >/dev/null
then

    db2_kill
    ipclean -a
    db2start
    sleep 5

    if ! db2gcf -s | grep Available >/dev/null
    then
        echo "Instance is not up. Please check."
        exit 1
    fi

fi

db2 connect to {{ db2_dbname }}

if [ $? -eq 0 ]; then

    db2 -x "select case when NOT exists(
    select 1
    from syscat.bufferpools
    where BPNAME='MAXBUFPOOL')
    then 'CREATE BUFFERPOOL MAXBUFPOOL SIZE 8192 AUTOMATIC PAGESIZE 32 K;'
    else '--'
    end
    from sysibm.sysdummy1"  >$TBSP_SQL
    maxd_bpf=$?
    db2 -x "select case when NOT exists(
    select 1
    from syscat.bufferpools
    where BPNAME='MAXBUFPOOLINDX')
    then 'CREATE BUFFERPOOL MAXBUFPOOLINDX SIZE 8192 AUTOMATIC PAGESIZE 32 K;'
    else '--'
    end
    from sysibm.sysdummy1"  >>$TBSP_SQL
    maxi_bpf=$?
    db2 -x "select case when NOT exists(
    select 1
    from syscat.bufferpools
    where BPNAME='MAXTEMPBP')
    then 'CREATE BUFFERPOOL MAXTEMPBP SIZE 8192 AUTOMATIC PAGESIZE 32 K;'
    else '--'
    end
    from sysibm.sysdummy1"  >>$TBSP_SQL
    maxtmp_bpf=$?
    db2 -x "select case when NOT exists(
    select 1
    from syscat.tablespaces
    where TBSPACE='MAXDATA')
    then 'CREATE TABLESPACE MAXDATA PAGESIZE 32 K MANAGED BY AUTOMATIC STORAGE BUFFERPOOL MAXBUFPOOL;'
    else '--'
    end
    from sysibm.sysdummy1"  >>$TBSP_SQL
    maxd_tbsp=$?
    db2 -x "select case when NOT exists(
    select 1
    from syscat.tablespaces
    where TBSPACE='MAXINDEX')
    then 'CREATE TABLESPACE MAXINDEX PAGESIZE 32 K MANAGED BY AUTOMATIC STORAGE BUFFERPOOL MAXBUFPOOLINDX;'
    else '--'
    end
    from sysibm.sysdummy1"  >>$TBSP_SQL
    maxi_tbsp=$?
    db2 -x "select case when NOT exists(
    select 1
    from syscat.tablespaces
    where TBSPACE='MAXTEMP')
    then 'CREATE TEMPORARY TABLESPACE MAXTEMP PAGESIZE 32 K MANAGED BY AUTOMATIC STORAGE BUFFERPOOL MAXTEMPBP;'
    else '--'
    end
    from sysibm.sysdummy1"  >>$TBSP_SQL
    maxtmp_tbsp=$?

    if [[ "$maxd_bpf" -eq  "0" && "$maxi_bpf" -eq  "0" && "$maxtmp_bpf" -eq "0"  && "$maxd_tbsp" -eq  "0" && "$maxi_tbsp" -eq "0" && "$maxtmp_tbsp" -eq "0" && -f "$TBSP_SQL" ]]
    then

        db2 -tvf $TBSP_SQL
        rm $TBSP_SQL

    else

        echo "Error detected."
        exit 1

    fi

    echo "DBstatus-Success"

else

    echo "Failed to connect to database!"
    exit 1

fi
