#!/bin/bash
set -x
db2 connect to {{ db2_dbname }}
[ $? -ne 0 ] && echo "ERROR: Cannot connect" && exit 1

{% for tenant_id in db2_tenant_ids %}
# Service class for tenant {{ tenant_id }}
db2 "CREATE SERVICE CLASS IF NOT EXISTS SC_{{ tenant_id | upper }} UNDER SYSDEFAULTUSERCPUCLASS"
db2 "CREATE THRESHOLD IF NOT EXISTS THR_{{ tenant_id | upper }}_CONCUR
     FOR SERVICE CLASS SC_{{ tenant_id | upper }} ACTIVITIES
     ENFORCEMENT DATABASE
     WHEN CONCURRENTDBCOORDACTIVITIES > {{ db2_wlm_max_concurrent | default(10) }}
     COLLECT ACTIVITY DATA NONE STOP EXECUTION"
{% endfor %}

db2 connect reset
echo "WLMSetup-Success"
exit 0