---
apiVersion: apps.mas.ibm.com/v1
kind: AiBrokerWorkspace
metadata:
    name: "{{ tenantNamespace }}"
    namespace: "{{ aibroker_namespace }}"
    labels:
        mas.ibm.com/applicationId: aibroker
        mas.ibm.com/instanceId: "{{ mas_instance_id }}"
{% if custom_labels is defined and custom_labels.items() %}
{% for key, value in custom_labels.items() %}
        "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
spec:
    settings:
        icr:
            cp: "{{ mas_icr_cp }}"
            cpopen: "{{ mas_icr_cpopen }}"
        dro:
            url: "{{ drocfg.url }}"
            dro_token_secret: "{{ mas_aibroker_dro_token_secret }}"
            ca: "{{ drocfg.ca }}"
        sls:
            url: "{{ slscfg.url }}"
            sls_registration_key_secret: "{{ slscfg.registration_key }}"
            ca: "{{ slscfg.ca }}"
        watsonxai:
            url: "{{ mas_aibroker_watsonxai_url }}"
            api_key: "{{ mas_aibroker_watsonxai_apikey }}"
            project_id: "{{ mas_aibroker_watsonxai_project_id }}"
        tenant: 
            tenant_id: "{{ tenantNamespace }}"
            subscription_id: "{{ mas_aibroker_sls_subscription_id }}"
            instance_id: "{{ mas_instance_id }}"
            entitlement:
                type: {{ tenant_entitlement_type }}
                startDate: {{ tenant_entitlement_start_date }}
                endDate: {{ tenant_entitlement_end_date }}
