---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ nvidia_namespace }}-group"
  namespace: "{{ nvidia_namespace }}"
spec:
  targetNamespaces:
  - "{{ nvidia_namespace }}"
