# AppConnect system configuration (addons.mas.ibm.com/v1)
---
apiVersion: addons.mas.ibm.com/v1
kind: AppConnect
metadata:
  name: "{{mas_instance_id}}-addons-appconnect"
  namespace: "mas-{{mas_instance_id}}-core"
  labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{mas_instance_id}}"
spec:
  displayName: MAS AppConnect Configuration
  config:
    dashboard: "{{ appconnect_url }}"
    users: []
